# Household Location Choice Model (HLCM) for Single and Multi Family Housing

Arezoo Besharati, Paul Waddell, UrbanSim, July 2018 

This notebook demonstrates the use of the LargeMultinomialLogit model template to construct, estimate, and evaluate a Household Location Choice Model for the San Francisco Bay Area.

In the process of developing the model, we also demonstrate some data checking and transformations to improve the model.

The model structure and specification are informed and limited by the available data, which is based on the data used by the Metropolitan Transportation Commission for their operational model.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preliminaries" data-toc-modified-id="Preliminaries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preliminaries</a></span><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Initialize-Networks" data-toc-modified-id="Initialize-Networks-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Initialize Networks</a></span></li><li><span><a href="#Explore-the-data" data-toc-modified-id="Explore-the-data-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Explore the data</a></span></li><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Perform-desired-variable-creations-and-transformations¶" data-toc-modified-id="Perform-desired-variable-creations-and-transformations¶-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Perform desired variable creations and transformations¶</a></span></li><li><span><a href="#Check-Distributions" data-toc-modified-id="Check-Distributions-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Check Distributions</a></span></li><li><span><a href="#Check-for-Multicollinearity" data-toc-modified-id="Check-for-Multicollinearity-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Check for Multicollinearity</a></span></li></ul></li><li><span><a href="#Model-Estimation" data-toc-modified-id="Model-Estimation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Model Estimation</a></span><ul class="toc-item"><li><span><a href="#HLCM-for-Multi-Family" data-toc-modified-id="HLCM-for-Multi-Family-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>HLCM for Multi-Family</a></span></li><li><span><a href="#HLCM-for-Single-Family" data-toc-modified-id="HLCM-for-Single-Family-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>HLCM for Single-Family</a></span></li></ul></li></ul></div>

## Preliminaries

In [66]:
import os; os.chdir('../../')
import numpy as np, pandas as pd 
import matplotlib.pyplot as plt
import warnings;
warnings.simplefilter('ignore')
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [67]:
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import orca
import seaborn as sns
%matplotlib notebook

In [68]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [69]:
# Initialize modelmanager from urbansim_templates
mm.initialize()

Path not found: /Users/paul/configs

### Load data

In [70]:
# Load any script-based Orca registrations
from scripts import datasources
from scripts import models

In [6]:
orca.list_tables()

['parcels',
 'buildings',
 'craigslist',
 'rentals',
 'nodessmall',
 'nodeswalk',
 'units',
 'households',
 'persons',
 'jobs']

In [71]:
orca.list_broadcasts()

[('parcels', 'buildings'),
 ('buildings', 'units'),
 ('units', 'households'),
 ('households', 'persons'),
 ('nodeswalk', 'rentals'),
 ('nodeswalk', 'parcels'),
 ('nodessmall', 'rentals'),
 ('nodessmall', 'parcels')]

In [ ]:
mm.list_steps()

### Explore the data

In [ ]:
nodeswalk = orca.get_table('nodeswalk').to_frame()
nodessmall = orca.get_table('nodessmall').to_frame()

In [ ]:
nodeswalk.describe().transpose()

In [ ]:
nodessmall.describe().transpose()

In [ ]:
parcel = orca.get_table('parcels').to_frame()
parcel.columns

### Create a Chooser Filter and Tag Their Buildings

In [8]:
hh = orca.get_table('households').to_frame()
hh.columns.tolist()

['serialno',
 'persons',
 'building_type',
 'cars',
 'income',
 'race_of_head',
 'hispanic_head',
 'age_of_head',
 'workers',
 'state',
 'county',
 'tract',
 'block_group',
 'children',
 'tenure',
 'recent_mover',
 'block_group_id',
 'single_family',
 'unit_id',
 'building_id']

In [9]:
np.random.seed(12345)
hh['hh_random'] = np.random.uniform(0,1,len(hh))

In [ ]:
hh.head()

In [ ]:
hh.describe()

In [ ]:
hh.dtypes

In [10]:
hh_sf = hh[(hh['building_type'] == 2)  & (hh['recent_mover'] == 1) \
         & (hh['income'] > 0) & (hh['income'] < 1000000)]
len(hh_sf)

23839

In [ ]:
len(hh_sf.building_id.unique())

In [11]:
sf_tmp = pd.DataFrame(hh_sf.building_id.unique(), columns=['building_id'])
sf_tmp['sf_choice_set'] = 1
sf_tmp = sf_tmp.set_index('building_id')
#sf_tmp.head()

In [13]:
hh_mf = hh[(hh['building_type'] > 2) &  (hh['hh_random'] < .5) & (hh['recent_mover'] == 1) \
         & (hh['income'] > 0) & (hh['income'] < 500000)]
len(hh_mf)

38342

In [ ]:
len(hh_mf.building_id.unique())

In [14]:
mf_tmp = pd.DataFrame(hh_mf.building_id.unique(), columns=['building_id'])
mf_tmp['mf_choice_set'] = 1
mf_tmp = mf_tmp.set_index('building_id')
#mf_tmp.head()

### Add Flag to Buildings Table Identifying Chosen Buildings

In [15]:
bld = orca.get_table('buildings').to_frame()
bld.columns

Index(['parcel_id', 'development_type_id', 'improvement_value',
       'residential_units', 'residential_sqft', 'sqft_per_unit',
       'non_residential_sqft', 'building_sqft', 'nonres_rent_per_sqft',
       'res_price_per_sqft', 'stories', 'year_built', 'redfin_sale_price',
       'redfin_sale_year', 'redfin_home_type', 'costar_property_type',
       'costar_rent', 'building_type_id', 'res_sqft_per_unit'],
      dtype='object')

In [ ]:
bld.building_type_id.value_counts()

In [ ]:
(bld.residential_units==1).sum()/len(bld)

In [ ]:
len(bld)

In [16]:
bld2 = bld.merge(sf_tmp, how='left', left_index=True, right_index=True)

In [17]:
bld2.sf_choice_set= bld2.sf_choice_set.fillna(0)
bld2.sf_choice_set.value_counts()

0.00    1802831
1.00      21398
Name: sf_choice_set, dtype: int64

In [18]:
bld3 = bld2.merge(mf_tmp, how='left', left_index=True, right_index=True)
bld3.mf_choice_set= bld3.mf_choice_set.fillna(0)
bld3.mf_choice_set.value_counts()

0.00    1801473
1.00      22756
Name: mf_choice_set, dtype: int64

In [19]:
bld = bld3

In [ ]:
#orca.add_table('buildings', bld3)

In [ ]:
parcel.describe().transpose()

In [ ]:
bld.describe().transpose()

In [ ]:
df = orca.merge_tables(target = 'buildings', tables = ['buildings','parcels','nodeswalk','nodessmall'])

In [ ]:
df.describe().transpose()

In [ ]:
hh_f.dtypes

In [ ]:
hh_f_data = hh_f.merge(df, left_on='building_id', right_index=True)

In [ ]:
hh_f_data.describe().transpose()

In [ ]:
hh_f.head()

In [ ]:
#bld.groupby('building_type_id')['residential_units'].sum()

In [ ]:
#bld.describe().transpose()

In [ ]:
#bld.quantile(.99)

In [ ]:
#bld[['residential_units','residential_sqft', 'non_residential_sqft']].sum()

In [ ]:
#bld.building_type_id.value_counts()

In [ ]:
# hh_sf=hh[hh['building_type']==2]
# hh_mf=hh[hh['building_type']!=2]

### Data Cleaning

In [97]:
nodeswalk = orca.get_table('nodeswalk').to_frame()
nodessmall = orca.get_table('nodessmall').to_frame()
#print(nodeswalk.columns.tolist())
#print(nodessmall.columns.tolist())

In [98]:
nodeswalk['pop_jobs_ratio_1500_walk'] = nodeswalk['pop_1500_walk'] / (nodeswalk['jobs_500_walk']+1)
nodessmall['pop_jobs_ratio_10000'] = nodessmall['pop_10000'] / (nodessmall['jobs_10000'] + 1)
nodessmall['pop_jobs_ratio_25000'] = nodessmall['pop_25000'] / (nodessmall['jobs_25000'] + 1)
nodeswalk['avg_hhs_500_walk'] = nodeswalk['pop_500_walk'] / (nodeswalk['hh_500_walk']+1)
nodeswalk['avg_hhs_1500_walk'] = nodeswalk['pop_1500_walk'] / (nodeswalk['hh_1500_walk']+1)

In [99]:
orca.add_table('nodeswalk', nodeswalk)
orca.add_table('nodessmall', nodessmall)

In [ ]:
#nodessmall.describe().transpose()

In [ ]:
# nodessmall_upper = nodessmall.quantile(.99)
#nodessmall_upper

In [ ]:
# nodessmall_clipped = nodessmall.clip_upper(nodessmall_upper, axis=1) 
# nodessmall_clipped.describe().transpose()
# orca.add_table('nodessmall', nodessmall_clipped);

In [ ]:
# nodeswalk.describe().transpose()
# nodeswalk_upper = nodeswalk.quantile(.99)
#nodeswalk_upper

In [ ]:
# nodeswalk_clipped = nodeswalk.clip_upper(nodeswalk_upper, axis=1) 
# nodeswalk_clipped.describe().transpose()
# orca.add_table('nodeswalk', nodeswalk_clipped);

### Perform desired variable creations and transformations¶

In [20]:
# scale income and create race dummies
hh.income_k = hh.income/1000
hh.white = (hh.race_of_head == 1).astype(int)
hh.black = (hh.race_of_head == 2).astype(int)
hh.asian = (hh.race_of_head == 6).astype(int)
hh.hisp = (hh.hispanic_head == 'yes').astype(int)
hh.single = (hh.persons == 1).astype(int)
hh.elderly = (hh.age_of_head > 65).astype(int)
hh.rich = (hh.income > 150000).astype(int)
hh.poor = (hh.income < 40000).astype(int)
hh.has_children = (hh.children > 0).astype(int)
  
# building_type dummies
bld.single_family = (bld.building_type_id == 1).astype(int)
bld.multi_family = (bld.building_type_id == 3).astype(int)
bld.mixed_use = (bld.building_type_id > 3).astype(int)
bld.two_four_stories = ((bld.stories > 1) & (bld.stories < 5)).astype(int)
bld.five_six_stories = ((bld.stories > 5) & (bld.stories < 7)).astype(int)
bld.sevenplus_stories = (bld.stories > 6).astype(int)
bld.yrblt_2000 = (bld.year_built > 2000).astype(int)
bld.two_four_new = (bld.yrblt_2000 * bld.two_four_stories).astype(int)
bld.five_six_new = (bld.yrblt_2000 * bld.five_six_stories).astype(int)
bld.sevenplus_new = (bld.yrblt_2000 * bld.sevenplus_stories).astype(int)
bld.three_plus_stories = (bld.stories > 2).astype(int)

# add the columns

orca.add_column('households', 'income_k', hh.income_k)
orca.add_column('households', 'white', hh.white)
orca.add_column('households', 'black', hh.black)
orca.add_column('households', 'asian', hh.asian)
orca.add_column('households', 'hispanic', hh.hisp)
orca.add_column('households', 'elderly', hh.elderly)
orca.add_column('households', 'rich', hh.rich)
orca.add_column('households', 'poor', hh.poor)
orca.add_column('households', 'has_children', hh.has_children)
orca.add_column('households', 'single', hh.single)

orca.add_column('households', 'hh_random', hh.hh_random)

orca.add_column('buildings', 'single_family', bld.single_family)
orca.add_column('buildings', 'multi_family', bld.multi_family)
orca.add_column('buildings', 'mixed_use', bld.mixed_use)
orca.add_column('buildings', 'two_four_stories', bld.two_four_stories)
orca.add_column('buildings', 'five_six_stories', bld.five_six_stories)
orca.add_column('buildings', 'yrblt_2000', bld.yrblt_2000)
orca.add_column('buildings', 'sf_choice_set', bld.sf_choice_set)
orca.add_column('buildings', 'mf_choice_set', bld.mf_choice_set)
orca.add_column('buildings', 'two_four_new', bld.two_four_new)
orca.add_column('buildings', 'five_six_new', bld.five_six_new)
orca.add_column('buildings', 'sevenplus_new', bld.sevenplus_new)
orca.add_column('buildings', 'three_plus_stories', bld.three_plus_stories)

In [21]:
testhh = orca.get_table('households').to_frame().head()
testhh

,serialno,persons,building_type,cars,income,race_of_head,hispanic_head,age_of_head,workers,state,...,white,black,asian,hispanic,elderly,rich,poor,has_children,single,hh_random
household_id,,,,,,,,,,,,,,,,,,,,,
0,2010000487191,1,6.00,1.00,85000.00,1,no,47,1.00,6,...,1,0,0,0,0,0,0,0,1,0.93
1,2013000554587,1,9.00,1.00,27000.00,6,no,52,1.00,6,...,0,0,1,0,0,0,1,0,1,0.32
2,2011001140920,2,2.00,1.00,6000.00,6,no,60,1.00,6,...,0,0,1,0,0,0,1,0,0,0.18
3,2012001376432,1,3.00,1.00,28000.00,8,yes,51,1.00,6,...,0,0,0,1,0,0,1,0,1,0.20
4,2013000186929,1,6.00,1.00,10000.00,1,no,64,0.00,6,...,1,0,0,0,0,0,1,0,1,0.57

In [22]:
testbld = orca.get_table('buildings').to_frame().head()
testbld

,parcel_id,development_type_id,improvement_value,residential_units,residential_sqft,sqft_per_unit,non_residential_sqft,building_sqft,nonres_rent_per_sqft,res_price_per_sqft,...,mixed_use,two_four_stories,five_six_stories,yrblt_2000,sf_choice_set,mf_choice_set,two_four_new,five_six_new,sevenplus_new,three_plus_stories
building_id,,,,,,,,,,,,,,,,,,,,,
1,742974,1.00,0.00,1.00,2029.00,2029.42,0.00,2029.42,0.00,302.77,...,0,0,0,0,0.00,0.00,0,0,0,0
2,744961,1.00,0.00,1.00,2029.00,2029.42,0.00,2029.42,0.00,254.43,...,0,0,0,0,0.00,0.00,0,0,0,0
3,1442641,1.00,53262.87,1.00,1568.00,1568.00,0.00,1568.00,0.00,183.47,...,0,0,0,0,0.00,0.00,0,0,0,0
7,328712,1.00,0.00,1.00,1393.00,1393.00,0.00,0.00,0.00,0.00,...,0,0,0,1,0.00,0.00,0,0,0,0
9,742661,1.00,116580.00,1.00,1018.00,1018.00,0.00,1018.00,0.00,474.35,...,0,0,0,0,0.00,0.00,0,0,0,0

### Check Distributions

In [ ]:
# hh_income_upper = hh_singlefamily.income.quantile(0.99)
# len(hh[hh['income']>hh_income_upper])

In [ ]:
# %matplotlib notebook
# hh_sf.income.plot(kind='hist',bins=100)
# print(hh_sf.income.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
# %matplotlib notebook
# hh_mf.income.plot(kind='hist',bins=100)
# print(hh_mf.income.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
# %matplotlib notebook
# ax = sns.boxplot(x = hh_sf.income,palette="Set2", width=0.5)

In [ ]:
# %matplotlib notebook
# ax = sns.boxplot(x = hh_mf.income,palette="Set2", width=0.5)

In [ ]:
df = orca.merge_tables(target = 'buildings', tables = ['buildings','parcels','nodeswalk','nodessmall'])
#df.columns.tolist()
df_sf= df[df['residential_units']==1]
df_mf= df[df['residential_units']>1]

In [ ]:
# %matplotlib notebook
# df_sf.avg_income_1500_walk.plot(kind='hist',bins=100)
# plt.show()
# print(df_sf.avg_income_1500_walk.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
# %matplotlib notebook
# df_mf.avg_income_1500_walk.plot(kind='hist',bins=100)
# plt.show()
# print(df_mf.avg_income_1500_walk.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
#%matplotlib notebook
#(df_mf.prop_black_500_walk).plot(kind='hist',bins=100)
#(df_mf.prop_asian_500_walk).plot(kind='hist',bins=100)
#(df_mf.prop_white_500_walk).plot(kind='hist',bins=100)
#(df_mf.prop_hisp_500_walk).plot(kind='hist',bins=100)

### Check for Multicollinearity

In [ ]:
# %matplotlib inline
# plt.subplots(figsize=(20, 20))


# # Create correlation matrix
# corr_matrix = df_sf.corr().abs()

# # Select upper triangle of correlation matrix
# upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# high_corr = [column for column in upper.columns if any(upper[column] > 0.98)]
# X= df_sf[high_corr]
# sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")

In [ ]:
# %matplotlib inline
# plt.subplots(figsize=(20, 20))

# corr_matrix = df_mf.corr()

# upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# high_corr = [column for column in upper.columns if any(upper[column] > 0.95)]
# X= df_mf[high_corr]
# plt.subplots(figsize=(20, 20))
# sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")

In [ ]:
%matplotlib inline

selected_features = ['residential_units','res_price_per_sqft', 'pop_1500_walk', 'jobs_1500_walk',
                     'prop_singles_500_walk','prop_elderly_500_walk','prop_children_500_walk',
                     'avg_income_1500_walk', 'sqft_per_unit',
                     'jobs_25000','prop_white_500_walk','prop_black_500_walk','prop_asian_500_walk',
                     'prop_hisp_500_walk','prop_rich_500_walk','prop_poor_500_walk']

X = df_mf[selected_features]

plt.subplots(figsize=(12, 12))
sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")
plt.show()

# Model Estimation

## Large Choice Set Single-Family

In [110]:
%%time
m1 = LargeMultinomialLogitStep()
m1.choosers = ['households']
m1.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m1.choice_column = 'building_id'
m1.alt_sample_size = 50

#Filters on choosers
m1.chooser_filters = ['building_type == 2 & recent_mover == 1 & 0 <income < 1000000']

#Filters on alternatives
m1.alt_filters = ['residential_units == 1',
                 '0 < avg_income_500_walk < 500000',
                 'sqft_per_unit > 0']


m1.model_expression = ' \
np.log1p(rent_sqft) + \
np.log(income):np.log1p(rent_sqft) + \
np.log1p(acres) + \
pop_jobs_ratio_25000 + \
persons:avg_hhs_500_walk + \
rich:prop_rich_500_walk + \
poor:prop_poor_500_walk + \
single:prop_singles_500_walk + \
elderly:prop_elderly_500_walk + \
white:prop_white_500_walk + \
black:prop_black_500_walk + \
asian:prop_asian_500_walk + \
hispanic:prop_hisp_500_walk\
- 1'

m1.name = 'hlcm'
m1.tags = ['single_family', 'test']
m1.fit()

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:         15,768
Model:         Multinomial Logit   Df Residuals:             15,754
Method:       Maximum Likelihood   Df Model:                     14
Date:                 2018-07-23   Pseudo R-squ.:             0.135
Time:                      22:51   Pseudo R-bar-squ.:         0.134
AIC:                 106,793.525   Log-Likelihood:      -53,382.762
BIC:                 106,900.845   LL-Null:             -61,684.779
=======================================================================================
                                        coef   std err         z     P>|z|   Conf. Int.
---------------------------------------------------------------------------------------
np.log1p(rent_sqft)                  -8.5264     0.151   -56.480     0.000
np.log(income):np.log1p(rent_sqft)    0.6917     0.013    53.173     0.000
persons:np.log1p(sqft_per_unit)       0.0201     0.002     9.262     0.000
np.log1p(income):np.log1p(acres)     -0.0297     0.002   -12.335     0.000
pop_jobs_ratio_25000                  0.2120     0.006    38.428     0.000
persons:avg_hhs_500_walk              0.1675     0.005    35.615     0.000
rich:prop_rich_500_walk              10.1362     0.131    77.464     0.000
poor:prop_poor_500_walk               5.1403     0.234    21.961     0.000
single:prop_singles_500_walk          3.5254     0.103    34.314     0.000
elderly:prop_elderly_500_walk         6.7914     0.101    66.986     0.000
white:prop_white_500_walk             2.8619     0.029    99.916     0.000
black:prop_black_500_walk             8.6822     0.170    51.009     0.000
asian:prop_asian_500_walk             2.7763     0.056    49.917     0.000
hispanic:prop_hisp_500_walk           3.9764     0.070    56.718     0.000
=======================================================================================
CPU times: user 1min 52s, sys: 27.8 s, total: 2min 20s
Wall time: 48.7 s

In [ ]:
len(m1._get_df(tables=m.choosers, filters=m.chooser_filters))

## Large Choice Set Multi-Family

In [94]:
%%time
m2 = LargeMultinomialLogitStep()
m2.choosers = ['households']
m2.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m2.choice_column = 'building_id'
m2.alt_sample_size = 50

#Filters on choosers
m2.chooser_filters = ['building_type > 2 &\
                      recent_mover == 1 &\
                      hh_random < .5 & \
                      persons < 8 & \
                      workers < 4 & \
                      0 <income < 500000']

#Filters on alternatives
m2.alt_filters = ['residential_units > 1',
                 '0 < avg_income_500_walk < 500000',
                 '0 < rent_sqft < 1000',
                 'pop_1500_walk > 0',
                 'res_price_per_sqft < 1500',
                 'res_sqft_per_unit < 6000',
                 'residential_units < 1000',
                 'sqft_per_unit > 0']


m2.model_expression = ' np.log(residential_units) + \
yrblt_2000:np.log(residential_units) + \
year_built + \
np.log1p(rent_sqft) + \
np.log(income):np.log1p(rent_sqft) + \
persons:np.log1p(sqft_per_unit) + \
np.log1p(units_500_walk) + \
np.log1p(jobs_25000) + \
rich:prop_rich_500_walk + \
poor:prop_poor_500_walk + \
single:prop_singles_500_walk + \
elderly:prop_elderly_500_walk + \
white:prop_white_500_walk + \
black:prop_black_500_walk + \
asian:prop_asian_500_walk + \
hispanic:prop_hisp_500_walk\
- 1'

m2.name = 'hlcm'
m2.tags = ['multi_family','test']
m2.fit()

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:         23,680
Model:         Multinomial Logit   Df Residuals:             23,664
Method:       Maximum Likelihood   Df Model:                     16
Date:                 2018-07-23   Pseudo R-squ.:             0.414
Time:                      22:07   Pseudo R-bar-squ.:         0.414
AIC:                 108,588.166   Log-Likelihood:      -54,278.083
BIC:                 108,717.324   LL-Null:             -92,636.705
=========================================================================================
                                          coef   std err         z     P>|z|   Conf. Int.
-----------------------------------------------------------------------------------------
np.log(residential_units)               1.1641     0.006   197.515     0.000
yrblt_2000:np.log(residential_units)   -0.0684     0.007    -9.961     0.000
year_built                              0.0071     0.000    86.323     0.000
np.log1p(rent_sqft)                    -5.9126     0.107   -55.322     0.000
np.log(income):np.log1p(rent_sqft)      0.5593     0.008    67.082     0.000
persons:np.log1p(sqft_per_unit)        -0.0025     0.001    -1.901     0.057
np.log1p(units_500_walk)                0.1999     0.009    21.048     0.000
np.log1p(jobs_25000)                    0.1190     0.015     7.931     0.000
rich:prop_rich_500_walk                 9.2575     0.174    53.333     0.000
poor:prop_poor_500_walk                 7.0736     0.137    51.514     0.000
single:prop_singles_500_walk            3.6742     0.058    63.762     0.000
elderly:prop_elderly_500_walk           5.4263     0.158    34.409     0.000
white:prop_white_500_walk               1.6995     0.031    54.306     0.000
black:prop_black_500_walk               8.4421     0.183    46.186     0.000
asian:prop_asian_500_walk               3.9701     0.046    86.198     0.000
hispanic:prop_hisp_500_walk             5.0661     0.063    80.473     0.000
=========================================================================================
CPU times: user 7min 44s, sys: 45.8 s, total: 8min 29s
Wall time: 1min 55s

In [ ]:
len(m2._get_df(tables=m2.choosers, filters=m2.chooser_filters))

## Constrained Choice Set Single_Family

In [114]:
%%time
m3 = LargeMultinomialLogitStep()
m3.choosers = ['households']
m3.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m3.choice_column = 'building_id'
m3.alt_sample_size = 50

#Filters on choosers
m3.chooser_filters = ['building_type == 2 & recent_mover == 1 & 0 <income < 1000000']

m3.alt_filters = ['sf_choice_set == 1 & sqft_per_unit > 0']

# np.log(residential_units) +
# np.log(income):np.log(avg_income_500_walk) + \
# np.log1p(income):np.log1p(rich_1500_walk) + \
# np.log1p(income):np.log1p(poor_1500_walk) + \
# np.log1p(persons):np.log1p(sqft_per_unit) + \

#np.log1p(res_price_per_sqft) + \
#np.log1p(income):np.log1p(res_price_per_sqft) + \


m3.model_expression = ' \
np.log1p(rent_sqft) + \
np.log(income):np.log1p(rent_sqft) + \
np.log(acres) + \
pop_jobs_ratio_25000 + \
np.log(jobs_25000+1) + \
persons:avg_hhs_500_walk + \
rich:prop_rich_500_walk + \
poor:prop_poor_500_walk + \
single:prop_singles_500_walk + \
elderly:prop_elderly_500_walk + \
white:prop_white_500_walk + \
black:prop_black_500_walk + \
asian:prop_asian_500_walk + \
hispanic:prop_hisp_500_walk\
- 1'

m3.name = 'hlcm'
m3.tags = ['single_family', 'test']
m3.fit()

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:         22,458
Model:         Multinomial Logit   Df Residuals:             22,444
Method:       Maximum Likelihood   Df Model:                     14
Date:                 2018-07-23   Pseudo R-squ.:             0.109
Time:                      23:01   Pseudo R-bar-squ.:         0.109
AIC:                 156,549.511   Log-Likelihood:      -78,260.755
BIC:                 156,661.782   LL-Null:             -87,856.213
=======================================================================================
                                        coef   std err         z     P>|z|   Conf. Int.
---------------------------------------------------------------------------------------
np.log1p(rent_sqft)                  -9.5401     0.136   -70.120     0.000
np.log(income):np.log1p(rent_sqft)    0.7963     0.011    72.615     0.000
np.log(acres)                         0.0570     0.006     9.349     0.000
pop_jobs_ratio_25000                  0.0420     0.006     6.928     0.000
np.log(jobs_25000 + 1)                0.0701     0.005    14.137     0.000
persons:avg_hhs_500_walk              0.0907     0.001    61.331     0.000
rich:prop_rich_500_walk               7.1459     0.117    61.244     0.000
poor:prop_poor_500_walk               6.1493     0.184    33.473     0.000
single:prop_singles_500_walk          4.6780     0.083    56.597     0.000
elderly:prop_elderly_500_walk         6.5009     0.091    71.810     0.000
white:prop_white_500_walk             2.2403     0.024    94.518     0.000
black:prop_black_500_walk             9.0198     0.143    63.150     0.000
asian:prop_asian_500_walk             3.4708     0.046    75.347     0.000
hispanic:prop_hisp_500_walk           4.5987     0.054    84.956     0.000
=======================================================================================
CPU times: user 2min 12s, sys: 28.5 s, total: 2min 41s
Wall time: 51.3 s

In [ ]:
len(m3._get_df(tables=m3.choosers, filters=m3.chooser_filters))

## Constrained Choice Set Multi_Family

In [83]:
mrent = mm.get_step('hedonic_rent_sqft')
mrent.tables = ['buildings', 'parcels', 'nodessmall', 'nodeswalk']
mrent.filters = ['residential_units > 0']
mrent.out_column = 'rent_sqft'
mrent.tables

['buildings', 'parcels', 'nodessmall', 'nodeswalk']

In [84]:
bld = orca.get_table('buildings').to_frame()
bld['rent_sqft'] = 0
orca.add_table('buildings', bld)

In [85]:
mrent.run()

In [101]:
%%time
m4 = LargeMultinomialLogitStep()
m4.choosers = ['households']
m4.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m4.choice_column = 'building_id'
m4.alt_sample_size = 50

#Filters on choosers
m4.chooser_filters = ['building_type > 2 & \
                      hh_random < .5 & \
                      recent_mover == 1 & \
                      persons < 8 & \
                      workers < 4 & \
                      0 <income < 500000']

#Filters on alternatives
m4.alt_filters = ['residential_units > 1',
                 '0 < avg_income_500_walk < 500000',
                 '0 < rent_sqft < 1000',
                 'res_sqft_per_unit < 6000',
                  'sqft_per_unit > 0',
                  'residential_units < 1000',
                 'mf_choice_set == 1']

m4.model_expression = ' np.log(residential_units) + \
yrblt_2000:np.log(residential_units) + \
year_built + \
np.log1p(rent_sqft) + \
np.log(income):np.log1p(rent_sqft) + \
persons:np.log1p(sqft_per_unit) + \
np.log1p(units_500_walk) + \
np.log1p(jobs_25000) + \
rich:prop_rich_500_walk + \
poor:prop_poor_500_walk + \
single:prop_singles_500_walk + \
elderly:prop_elderly_500_walk + \
white:prop_white_500_walk + \
black:prop_black_500_walk + \
asian:prop_asian_500_walk + \
hispanic:prop_hisp_500_walk\
- 1'

m4.name = 'hlcm'
m4.tags = ['multi_family','test']
m4.fit()

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:         24,581
Model:         Multinomial Logit   Df Residuals:             24,565
Method:       Maximum Likelihood   Df Model:                     16
Date:                 2018-07-23   Pseudo R-squ.:             0.132
Time:                      22:21   Pseudo R-bar-squ.:         0.132
AIC:                 166,885.520   Log-Likelihood:      -83,426.760
BIC:                 167,015.276   LL-Null:             -96,161.437
=========================================================================================
                                          coef   std err         z     P>|z|   Conf. Int.
-----------------------------------------------------------------------------------------
np.log(residential_units)               0.4389     0.004    99.372     0.000
yrblt_2000:np.log(residential_units)    0.0429     0.005     9.200     0.000
year_built                             -0.0013     0.000   -17.156     0.000
np.log1p(rent_sqft)                    -5.0715     0.094   -54.076     0.000
np.log(income):np.log1p(rent_sqft)      0.4214     0.007    57.380     0.000
persons:np.log1p(sqft_per_unit)         0.0275     0.001    23.341     0.000
np.log1p(units_500_walk)                0.0267     0.009     3.098     0.002
np.log1p(jobs_25000)                    0.0226     0.013     1.694     0.090
rich:prop_rich_500_walk                 9.8770     0.145    68.294     0.000
poor:prop_poor_500_walk                 4.2851     0.122    35.202     0.000
single:prop_singles_500_walk            2.6425     0.048    54.672     0.000
elderly:prop_elderly_500_walk           5.4875     0.125    43.929     0.000
white:prop_white_500_walk               1.8109     0.028    65.472     0.000
black:prop_black_500_walk               8.6337     0.153    56.524     0.000
asian:prop_asian_500_walk               3.6861     0.039    93.667     0.000
hispanic:prop_hisp_500_walk             4.6650     0.056    82.962     0.000
=========================================================================================
CPU times: user 5min 58s, sys: 42.7 s, total: 6min 40s
Wall time: 1min 34s

In [50]:
tmp = m4.mergedchoicetable.to_frame()

In [51]:
tmp.head()

,building_id,parcel_id,development_type_id,improvement_value,residential_units,residential_sqft,sqft_per_unit,non_residential_sqft,building_sqft,nonres_rent_per_sqft,...,black,asian,hispanic,elderly,rich,poor,has_children,single,hh_random,chosen
0,1579650,1546676,2.00,149975.00,15.00,21225.00,1415.00,0.00,21225.00,0.00,...,0,1,0,0,0,1,0,1,0.40,1
1,270503,901308,5.00,379418.00,20.00,15600.00,780.00,280000.00,295600.00,0.00,...,0,1,0,0,0,1,0,1,0.40,0
2,1522955,1363054,2.00,6031218.20,42.00,56784.00,1352.00,0.00,56784.00,0.00,...,0,1,0,0,0,1,0,1,0.40,0
3,35024,111489,2.00,172252.00,5.00,5407.00,1081.50,0.00,5407.50,0.00,...,0,1,0,0,0,1,0,1,0.40,0
4,1185455,406039,2.00,4032000.00,37.00,32301.00,873.00,0.00,32301.00,0.00,...,0,1,0,0,0,1,0,1,0.40,0

In [26]:
tmp.shape

(1304600, 170)

In [27]:
tmp.shape[0]/50

26092.0

In [28]:
len(m4._get_df(tables=m4.choosers, filters=m4.chooser_filters))

38342

In [52]:
chosen = tmp[tmp['chosen']==1]

In [55]:
tmp_d = chosen.describe().transpose()

In [60]:
print(tmp_d['max'])

building_id                  1834225.00
parcel_id                    2054457.00
development_type_id               24.00
improvement_value          399670613.00
residential_units                991.00
residential_sqft             1850486.00
sqft_per_unit                   5999.00
non_residential_sqft          542743.00
building_sqft                1850486.00
nonres_rent_per_sqft              31.96
res_price_per_sqft              1498.24
stories                           27.00
year_built                      2015.00
redfin_sale_price          115000000.00
redfin_sale_year                2014.00
building_type_id                  16.00
res_sqft_per_unit               5999.00
single_family                      1.00
multi_family                       1.00
mixed_use                          1.00
two_four_stories                   1.00
five_six_stories                   1.00
yrblt_2000                         1.00
sf_choice_set                      1.00
mf_choice_set                      1.00
two_four_new                       1.00
five_six_new                       1.00
sevenplus_new                      1.00
three_plus_stories                 1.00
land_value                 265527782.00
                             ...
avg_rent_25000                  3774.14
pop_white_25000               897961.75
pop_black_25000               186097.50
pop_asian_25000               664177.00
pop_hisp_25000                345586.00
observation_id               2676112.00
serialno               2013001492492.00
persons                            7.00
building_type                     10.00
cars                               6.00
income                        497200.00
race_of_head                       9.00
age_of_head                       94.00
workers                            3.00
children                           6.00
tenure                             2.00
recent_mover                       1.00
unit_id                      2781482.00
income_k                         497.20
white                              1.00
black                              1.00
asian                              1.00
hispanic                           1.00
elderly                            1.00
rich                               1.00
poor                               1.00
has_children                       1.00
single                             1.00
hh_random                          0.50
chosen                             1.00
Name: max, Length: 156, dtype: float64