## HLCM 2 - with saved network vars
Arezoo Besharati, UrbanSim, July 2018

In [1]:
import os; os.chdir('../../')
import numpy as np, pandas as pd 
import matplotlib.pyplot as plt
import warnings;
warnings.simplefilter('ignore')
%load_ext autoreload
%autoreload 2

In [2]:
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import orca
import seaborn as sns
%matplotlib notebook

### Load data

In [3]:
# Load any script-based Orca registrations
from scripts import datasources
from scripts import models

In [4]:
#mm.list_steps()

In [5]:
#mm.initialize()

In [6]:
orca.list_tables()
#orca.list_broadcasts()
#orca.list_steps()

['parcels',
 'buildings',
 'craigslist',
 'rentals',
 'nodessmall',
 'nodeswalk',
 'units',
 'households',
 'persons',
 'jobs']

### Load accessibility vars

In [7]:
%%capture
orca.run(["initialize_network_walk"])

In [8]:
%%capture
orca.run(["initialize_network_small"])

### Explore the data

In [9]:
bld = orca.get_table('buildings').to_frame()
bld.columns.tolist()

['parcel_id',
 'development_type_id',
 'improvement_value',
 'residential_units',
 'residential_sqft',
 'sqft_per_unit',
 'non_residential_sqft',
 'building_sqft',
 'nonres_rent_per_sqft',
 'res_price_per_sqft',
 'stories',
 'year_built',
 'redfin_sale_price',
 'redfin_sale_year',
 'redfin_home_type',
 'costar_property_type',
 'costar_rent',
 'building_type_id',
 'res_sqft_per_unit',
 'node_id_walk',
 'node_id_small']

In [21]:
bld.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
parcel_id,1824229.0,1.012861e+06,5.938065e+05,2.600000e+01,4.958500e+05,1.002691e+06,1.532117e+06,2.054501e+06
development_type_id,1824229.0,1.835162e+00,3.441080e+00,-1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
improvement_value,1824229.0,3.186878e+05,3.571671e+06,0.000000e+00,8.267503e+04,1.675535e+05,2.853423e+05,3.355514e+09
residential_units,1824229.0,1.534000e+00,6.137263e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.912000e+03
residential_sqft,1824229.0,2.657113e+03,3.012408e+04,0.000000e+00,1.230000e+03,1.754000e+03,2.400000e+03,1.458000e+07
sqft_per_unit,1824229.0,1.669294e+03,1.063476e+03,0.000000e+00,1.176000e+03,1.564000e+03,2.029424e+03,3.000000e+04
non_residential_sqft,1824229.0,1.280864e+03,2.392226e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.657310e+07
building_sqft,1824229.0,3.784462e+03,3.494568e+04,0.000000e+00,1.320000e+03,1.858000e+03,2.524000e+03,1.458000e+07
nonres_rent_per_sqft,1824229.0,9.218572e-01,4.053916e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.289625e+02
res_price_per_sqft,1824229.0,2.927191e+02,2.647712e+02,0.000000e+00,1.518671e+02,2.544594e+02,3.699121e+02,5.016109e+04
stories,1824229.0,1.214429e+00,5.567798e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.900000e+01
year_built,1824229.0,1.965524e+03,2.501754e+01,1.790000e+03,1.952000e+03,1.966000e+03,1.983000e+03,2.015000e+03
redfin_sale_price,1081100.0,5.287307e+05,7.188123e+05,0.000000e+00,2.390000e+05,4.000000e+05,6.500000e+05,1.800000e+08
redfin_sale_year,1081100.0,2.002828e+03,7.143867e+00,1.962000e+03,1.998000e+03,2.004000e+03,2.009000e+03,2.014000e+03
building_type_id,1824229.0,1.710299e+00,2.396463e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.600000e+01
res_sqft_per_unit,1715474.0,1.781741e+03,6.803636e+03,1.015556e+02,1.200000e+03,1.626000e+03,2.042000e+03,7.283880e+06
node_id_walk,1824229.0,8.926345e+08,1.622640e+09,2.545794e+07,5.789370e+07,6.551237e+07,4.161833e+08,5.471137e+09
node_id_small,1824229.0,7.901671e+08,1.400113e+09,2.812660e+05,5.788284e+07,6.550126e+07,6.120713e+08,5.458527e+09

In [10]:
# building_type dummies
bld.single_family = (bld.building_type_id == 1).astype(int)
bld.multi_family = (bld.building_type_id == 3).astype(int)
bld.mixed_use = (bld.building_type_id > 3).astype(int)
# add the columns
orca.add_column('buildings', 'single_family', bld.single_family)
orca.add_column('buildings', 'multi_family', bld.multi_family)
orca.add_column('buildings', 'mixed_use', bld.mixed_use)

In [ ]:
bld = orca.get_table('buildings').to_frame()
bld.head()

In [11]:
hh = orca.get_table('households').to_frame()
hh.columns.tolist()

['serialno',
 'persons',
 'building_type',
 'cars',
 'income',
 'race_of_head',
 'hispanic_head',
 'age_of_head',
 'workers',
 'state',
 'county',
 'tract',
 'block_group',
 'children',
 'tenure',
 'recent_mover',
 'block_group_id',
 'single_family',
 'unit_id',
 'building_id',
 'node_id_walk',
 'node_id_small']

In [35]:
# scale income and create race dummies
hh.income_k = hh.income/1000
hh.white = (hh.race_of_head == 1).astype(int)
hh.black = (hh.race_of_head == 2).astype(int)
hh.asian = (hh.race_of_head == 6).astype(int)
hh.hisp = (hh.hispanic_head == 'yes').astype(int)
hh.single = (hh.persons == 1).astype(int)
hh.elderly = (hh.age_of_head > 65).astype(int)
# add the columns
orca.add_column('households', 'income_k', hh.income_k)
orca.add_column('households', 'white', hh.white)
orca.add_column('households', 'black', hh.black)
orca.add_column('households', 'asian', hh.asian)
orca.add_column('households', 'hispanic', hh.hisp)
orca.add_column('households', 'elderly', hh.elderly)
orca.add_column('households', 'single', hh.single)

In [ ]:
#bld.building_type_id.value_counts()

In [17]:
nodeswalk = orca.get_table('nodeswalk').to_frame()
nodessmall = orca.get_table('nodessmall').to_frame()
print(nodeswalk.columns.tolist())
print(nodessmall.columns.tolist())

['units_500_walk', 'sqft_unit_500_walk', 'singles_500_walk', 'elderly_hh_500_walk', 'children_500_walk', 'units_sf_500_walk', 'units_mf_500_walk', 'pop_500_walk', 'hh_500_walk', 'poor_500_walk', 'rich_500_walk', 'renters_500_walk', 'avg_income_500_walk', 'jobs_500_walk', 'avg_rent_500_walk', 'pop_white_500_walk', 'pop_black_500_walk', 'pop_asian_500_walk', 'pop_hisp_500_walk', 'units_1500_walk', 'sqft_unit_1500_walk', 'singles_1500_walk', 'elderly_hh_1500_walk', 'children_1500_walk', 'units_sf_1500_walk', 'units_mf_1500_walk', 'pop_1500_walk', 'hh_1500_walk', 'poor_1500_walk', 'rich_1500_walk', 'renters_1500_walk', 'avg_income_1500_walk', 'jobs_1500_walk', 'avg_rent_1500_walk', 'pop_white_1500_walk', 'pop_black_1500_walk', 'pop_asian_1500_walk', 'pop_hisp_1500_walk', 'pop_2500_walk', 'pop_white_2500_walk', 'pop_black_2500_walk', 'pop_asian_2500_walk', 'pop_hisp_2500_walk']
['units_10000', 'units_sf_10000', 'units_mf_10000', 'pop_10000', 'hh_10000', 'poor_10000', 'renters_10000', 'med_income_10000', 'jobs_10000', 'med_rent_10000', 'pop_white_10000', 'pop_black_10000', 'pop_asian_10000', 'pop_hisp_10000', 'units_25000', 'units_sf_25000', 'units_mf_25000', 'pop_25000', 'hh_25000', 'poor_25000', 'renters_25000', 'med_income_25000', 'jobs_25000', 'med_rent_25000', 'pop_white_25000', 'pop_black_25000', 'pop_asian_25000', 'pop_hisp_25000']

In [20]:
nodessmall.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
units_10000,30826.0,111656.076786,87205.925674,0.0,43964.50,96821.5,163121.75,406854.0
units_sf_10000,30826.0,60759.140660,37438.924477,0.0,31221.50,59398.0,90068.50,147995.0
units_mf_10000,30826.0,45984.058035,46023.648561,0.0,10558.00,32530.5,69672.00,205873.0
pop_10000,30826.0,259194.721534,187603.704474,0.0,107475.75,233979.0,387446.00,848002.0
hh_10000,30826.0,98975.977389,77820.151052,0.0,39254.50,85946.5,142956.75,368466.0
poor_10000,30826.0,24028.122072,21383.817215,0.0,8298.50,18126.5,33361.50,99261.0
renters_10000,30826.0,46257.821060,46188.036596,0.0,13271.00,32305.0,64805.00,216731.0
med_income_10000,30826.0,86880.749594,23418.171479,-1.0,75000.00,86100.0,101100.00,457450.0
jobs_10000,30826.0,118229.853954,107967.213133,0.0,28940.25,92305.0,176939.00,428602.0
med_rent_10000,30826.0,2516.381042,713.935921,-1.0,2225.00,2570.0,2854.75,7300.0
pop_white_10000,30826.0,135491.601148,94209.630737,0.0,64661.00,123967.0,189442.50,421463.0
pop_black_10000,30826.0,12680.698404,17178.832268,0.0,3025.00,6688.0,14041.00,89745.0
pop_asian_10000,30826.0,77878.513333,69582.449251,0.0,16437.00,60677.0,126848.00,311174.0
pop_hisp_10000,30826.0,51854.042075,41040.153425,0.0,18635.25,42467.0,78557.75,185948.0
units_25000,30826.0,396014.917375,228262.720723,0.0,173838.25,449442.0,582618.50,840995.0
units_sf_25000,30826.0,228858.276131,120580.345383,0.0,123424.25,242040.0,331604.50,430368.0
units_mf_25000,30826.0,151281.283235,104884.842523,0.0,46816.00,165451.0,224654.00,381358.0
pop_25000,30826.0,934243.458639,527611.323182,0.0,432364.25,1056704.0,1406926.75,1812802.0
hh_25000,30826.0,351324.017161,202557.546181,0.0,156322.25,396819.5,515375.50,756890.0
poor_25000,30826.0,82062.407059,51970.844444,0.0,38758.00,87120.5,111002.75,215953.0
renters_25000,30826.0,155390.538571,105860.249220,0.0,55830.00,166488.5,214889.50,409886.0
med_income_25000,30826.0,89057.969863,16577.587847,-1.0,75100.00,88800.0,100000.00,403000.0
jobs_25000,30826.0,410622.264841,255574.001165,0.0,143147.00,451703.5,646091.00,813752.0
med_rent_25000,30826.0,2631.686142,500.502394,-1.0,2400.00,2699.0,2877.00,4800.0
pop_white_25000,30826.0,489698.387790,253496.994637,0.0,266102.00,540515.5,704318.50,974413.0
pop_black_25000,30826.0,43239.695322,43157.659875,0.0,18882.00,26983.0,46682.00,169359.0
pop_asian_25000,30826.0,284510.896192,201601.730054,0.0,80108.00,310642.5,461615.00,646124.0
pop_hisp_25000,30826.0,182151.709109,104272.687696,0.0,90548.75,189083.0,283935.50,342997.0

In [19]:
nodeswalk.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
units_500_walk,415716.0,356.008992,1097.037701,0.0,9.00000,188.00000,440.000000,184995.000
sqft_unit_500_walk,415716.0,1245.544486,979.879938,0.0,458.24952,1315.69430,1761.837925,30000.000
singles_500_walk,415716.0,89.887320,323.945632,0.0,1.00000,28.00000,86.000000,45986.000
elderly_hh_500_walk,415716.0,60.195042,240.503341,0.0,1.00000,29.00000,73.000000,41032.000
children_500_walk,415716.0,161.779883,448.370273,0.0,4.00000,97.00000,233.000000,81448.000
units_sf_500_walk,415716.0,163.916265,704.597755,0.0,2.00000,98.00000,247.000000,136971.000
units_mf_500_walk,415716.0,165.668045,469.333758,0.0,0.00000,2.00000,159.000000,48024.000
pop_500_walk,415716.0,802.340538,2292.176423,0.0,20.75000,458.00000,1082.000000,397670.000
hh_500_walk,415716.0,315.202367,964.220014,0.0,7.00000,168.00000,392.000000,162582.000
poor_500_walk,415716.0,81.442610,291.422578,0.0,1.00000,27.00000,83.000000,42787.000
rich_500_walk,415716.0,78.781526,198.826251,0.0,1.00000,37.00000,101.000000,34578.000
renters_500_walk,415716.0,156.671307,487.119589,0.0,1.00000,43.00000,153.000000,59346.000
avg_income_500_walk,415716.0,95865.388520,62609.570407,0.0,61949.32900,104050.06000,135219.207500,1011000.000
jobs_500_walk,415716.0,580.486700,2242.824627,0.0,11.00000,100.00000,504.000000,146582.000
avg_rent_500_walk,415716.0,2120.942261,1616.783511,0.0,0.00000,2453.46375,3208.673125,9800.000
pop_white_500_walk,415716.0,426.340256,1686.249348,0.0,10.00000,236.00000,566.000000,326129.000
pop_black_500_walk,415716.0,44.394695,142.081795,0.0,0.00000,4.00000,29.000000,10293.000
pop_asian_500_walk,415716.0,230.945660,436.611298,0.0,2.00000,80.00000,277.000000,21415.000
pop_hisp_500_walk,415716.0,156.035839,482.502491,0.0,0.00000,44.00000,182.000000,67438.000
units_1500_walk,415716.0,3497.410723,5352.734691,0.0,705.00000,2334.00000,4367.000000,184995.000
sqft_unit_1500_walk,415716.0,1420.792921,696.354953,0.0,1160.88595,1485.81100,1782.414825,13094.333
singles_1500_walk,415716.0,890.358043,1999.601108,0.0,110.00000,399.00000,904.000000,45986.000
elderly_hh_1500_walk,415716.0,589.921182,978.643366,0.0,110.00000,391.00000,736.000000,41032.000
children_1500_walk,415716.0,1586.297229,1705.253189,0.0,373.00000,1304.00000,2352.000000,81448.000
units_sf_1500_walk,415716.0,1659.805644,2087.162756,0.0,406.00000,1410.00000,2433.000000,136971.000
units_mf_1500_walk,415716.0,1581.298035,3259.104780,0.0,20.00000,572.00000,1790.000000,48024.000
pop_1500_walk,415716.0,7888.279506,10149.916939,0.0,1711.00000,5785.00000,10721.000000,397670.000
hh_1500_walk,415716.0,3103.932425,4731.886252,0.0,623.00000,2079.00000,3864.000000,162582.000
poor_1500_walk,415716.0,802.730576,1589.953279,0.0,99.00000,402.00000,872.000000,42787.000
rich_1500_walk,415716.0,781.014342,1123.731079,0.0,157.00000,522.00000,1018.000000,34578.000
renters_1500_walk,415716.0,1556.395927,3271.902775,0.0,158.00000,691.00000,1676.000000,59346.000
avg_income_1500_walk,415716.0,88623.705893,43884.054623,-1.0,69000.00000,90000.00000,110000.000000,1397000.000
jobs_1500_walk,415716.0,4519.929899,12038.528571,0.0,444.00000,1821.00000,4658.000000,203551.000
avg_rent_1500_walk,415716.0,2544.887916,1191.996469,-1.0,2200.00000,2617.00000,3200.000000,9800.000
pop_white_1500_walk,415716.0,4185.756497,6079.309178,0.0,895.00000,3023.00000,5636.000000,326129.000
pop_black_1500_walk,415716.0,440.785231,980.706698,0.0,17.00000,118.00000,390.000000,18039.000
pop_asian_1500_walk,415716.0,2271.882773,3078.791686,0.0,296.00000,1302.00000,3095.000000,34932.000
pop_hisp_1500_walk,415716.0,1535.478952,2156.729176,0.0,150.00000,840.00000,2076.000000,67438.000
pop_2500_walk,415716.0,22549.051672,24397.165755,0.0,7446.75000,17378.00000,30321.000000,406786.000
pop_white_2500_walk,415716.0,11993.463444,13934.759697,0.0,3808.00000,9132.00000,16124.000000,334616.000
pop_black_2500_walk,415716.0,1231.324772,2429.742820,0.0,113.00000,430.00000,1089.000000,21836.000
pop_asian_2500_walk,415716.0,6494.531692,7756.703815,0.0,1408.00000,4214.00000,8783.250000,58877.000
pop_hisp_2500_walk,415716.0,4404.455121,5093.802029,0.0,768.00000,2818.00000,6145.000000,67835.000

In [22]:
nodeswalk_upper = nodeswalk.quantile(.99)
nodeswalk_upper

units_500_walk            2833.000000
sqft_unit_500_walk        3807.906545
singles_500_walk          1077.000000
elderly_hh_500_walk        492.000000
children_500_walk          861.000000
units_sf_500_walk          826.000000
units_mf_500_walk         2040.850000
pop_500_walk              5262.000000
hh_500_walk               2498.850000
poor_500_walk              795.000000
rich_500_walk              686.850000
renters_500_walk          1795.000000
avg_income_500_walk     240387.438000
jobs_500_walk             6957.000000
avg_rent_500_walk         5966.666500
pop_white_500_walk        2947.000000
pop_black_500_walk         669.000000
pop_asian_500_walk        1928.000000
pop_hisp_500_walk         1259.850000
units_1500_walk          26849.850000
sqft_unit_1500_walk       3280.493005
singles_1500_walk        10326.550000
elderly_hh_1500_walk      4599.850000
children_1500_walk        6648.000000
units_sf_1500_walk        6917.000000
units_mf_1500_walk       17540.550000
pop_1500_walk            48831.000000
hh_1500_walk             24076.100000
poor_1500_walk            6965.000000
rich_1500_walk            6639.000000
renters_1500_walk        16876.950000
avg_income_1500_walk    190100.000000
jobs_1500_walk           40120.850000
avg_rent_1500_walk        5500.000000
pop_white_1500_walk      29274.000000
pop_black_1500_walk       5487.000000
pop_asian_1500_walk      14599.000000
pop_hisp_1500_walk        9666.000000
pop_2500_walk           133758.100000
pop_white_2500_walk      76868.550000
pop_black_2500_walk      13547.000000
pop_asian_2500_walk      39159.400000
pop_hisp_2500_walk       23130.000000
Name: 0.99, dtype: float64

In [25]:
#DataFrame.clip_upper(threshold, axis=None, inplace=False)
nodeswalk_clipped = nodeswalk.clip_upper(nodeswalk_upper, axis=1) 
nodeswalk_clipped.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
units_500_walk,415716.0,331.453042,471.370454,0.0,9.00000,188.00000,440.000000,2833.000000
sqft_unit_500_walk,415716.0,1229.401188,880.509079,0.0,458.24952,1315.69430,1761.837925,3807.906545
singles_500_walk,415716.0,80.842835,158.518625,0.0,1.00000,28.00000,86.000000,1077.000000
elderly_hh_500_walk,415716.0,55.069781,80.730876,0.0,1.00000,29.00000,73.000000,492.000000
children_500_walk,415716.0,154.637466,182.765470,0.0,4.00000,97.00000,233.000000,861.000000
units_sf_500_walk,415716.0,154.361879,177.327368,0.0,2.00000,98.00000,247.000000,826.000000
units_mf_500_walk,415716.0,154.462641,331.596474,0.0,0.00000,2.00000,159.000000,2040.850000
pop_500_walk,415716.0,758.233970,968.183700,0.0,20.75000,458.00000,1082.000000,5262.000000
hh_500_walk,415716.0,293.967984,416.374896,0.0,7.00000,168.00000,392.000000,2498.850000
poor_500_walk,415716.0,73.683450,128.999045,0.0,1.00000,27.00000,83.000000,795.000000
rich_500_walk,415716.0,74.578302,111.058641,0.0,1.00000,37.00000,101.000000,686.850000
renters_500_walk,415716.0,143.217098,277.071936,0.0,1.00000,43.00000,153.000000,1795.000000
avg_income_500_walk,415716.0,95366.501753,60808.334749,0.0,61949.32900,104050.06000,135219.207500,240387.438000
jobs_500_walk,415716.0,486.266776,1030.962214,0.0,11.00000,100.00000,504.000000,6957.000000
avg_rent_500_walk,415716.0,2111.915557,1590.802541,0.0,0.00000,2453.46375,3208.673125,5966.666500
pop_white_500_walk,415716.0,397.761546,518.655623,0.0,10.00000,236.00000,566.000000,2947.000000
pop_black_500_walk,415716.0,41.216535,103.455922,0.0,0.00000,4.00000,29.000000,669.000000
pop_asian_500_walk,415716.0,221.198852,351.302159,0.0,2.00000,80.00000,277.000000,1928.000000
pop_hisp_500_walk,415716.0,147.335759,240.224240,0.0,0.00000,44.00000,182.000000,1259.850000
units_1500_walk,415716.0,3354.179975,4158.141901,0.0,705.00000,2334.00000,4367.000000,26849.850000
sqft_unit_1500_walk,415716.0,1416.730045,682.211329,0.0,1160.88595,1485.81100,1782.414825,3280.493005
singles_1500_walk,415716.0,828.476092,1477.113765,0.0,110.00000,399.00000,904.000000,10326.550000
elderly_hh_1500_walk,415716.0,560.397748,699.764673,0.0,110.00000,391.00000,736.000000,4599.850000
children_1500_walk,415716.0,1556.701157,1409.480648,0.0,373.00000,1304.00000,2352.000000,6648.000000
units_sf_1500_walk,415716.0,1616.998384,1427.931567,0.0,406.00000,1410.00000,2433.000000,6917.000000
units_mf_1500_walk,415716.0,1506.089275,2706.128304,0.0,20.00000,572.00000,1790.000000,17540.550000
pop_1500_walk,415716.0,7666.128809,8258.638015,0.0,1711.00000,5785.00000,10721.000000,48831.000000
hh_1500_walk,415716.0,2982.581837,3720.289408,0.0,623.00000,2079.00000,3864.000000,24076.100000
poor_1500_walk,415716.0,747.083627,1130.620177,0.0,99.00000,402.00000,872.000000,6965.000000
rich_1500_walk,415716.0,763.630079,988.392727,0.0,157.00000,522.00000,1018.000000,6639.000000
renters_1500_walk,415716.0,1460.657478,2504.086372,0.0,158.00000,691.00000,1676.000000,16876.950000
avg_income_1500_walk,415716.0,87911.267469,40175.125201,-1.0,69000.00000,90000.00000,110000.000000,190100.000000
jobs_1500_walk,415716.0,3939.885333,6329.195192,0.0,444.00000,1821.00000,4658.000000,40120.850000
avg_rent_1500_walk,415716.0,2534.084115,1156.847070,-1.0,2200.00000,2617.00000,3200.000000,5500.000000
pop_white_1500_walk,415716.0,4060.165142,4613.920202,0.0,895.00000,3023.00000,5636.000000,29274.000000
pop_black_1500_walk,415716.0,428.251138,896.836253,0.0,17.00000,118.00000,390.000000,5487.000000
pop_asian_1500_walk,415716.0,2214.023644,2731.355527,0.0,296.00000,1302.00000,3095.000000,14599.000000
pop_hisp_1500_walk,415716.0,1504.624761,1899.836556,0.0,150.00000,840.00000,2076.000000,9666.000000
pop_2500_walk,415716.0,22182.083985,22138.872418,0.0,7446.75000,17378.00000,30321.000000,133758.100000
pop_white_2500_walk,415716.0,11762.135621,12242.516295,0.0,3808.00000,9132.00000,16124.000000,76868.550000
pop_black_2500_walk,415716.0,1208.030266,2286.511078,0.0,113.00000,430.00000,1089.000000,13547.000000
pop_asian_2500_walk,415716.0,6400.919809,7268.694255,0.0,1408.00000,4214.00000,8783.250000,39159.400000
pop_hisp_2500_walk,415716.0,4364.163867,4866.478599,0.0,768.00000,2818.00000,6145.000000,23130.000000

In [31]:
orca.add_table('nodeswalk', nodeswalk_clipped)

In [ ]:
#bld.stories.value_counts().plot(kind='bar')
#bld.stories.value_counts()

## Get the predicted price from REPM

In [ ]:
#orca.run(['hedonic_rent_sqft'])

## Model Estimation

In [36]:
%%time
m = LargeMultinomialLogitStep()
m.choosers = ['households']
m.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m.choice_column = 'building_id'
m.alt_sample_size = 50

#Filters on choosers
m.chooser_filters = ['household_id <500000 & recent_mover == 1 & 0 <income < 600000']

#Filters on alternatives
m.alt_filters = ['residential_units > 0',
                 '0 < avg_income_500_walk < 500000',
                 'sqft_per_unit > 0',
                 'year_built > 1800']

m.model_expression = 'np.log(residential_units) + \
np.log1p(res_price_per_sqft) + \
np.log1p(sqft_per_unit) + \
np.log1p(pop_1500_walk) + \
np.log1p(jobs_1500_walk) + \
np.log1p(jobs_25000) + \
np.log(income):np.log(avg_income_500_walk) + \
single:np.log1p(singles_1500_walk) + \
elderly:np.log1p(elderly_hh_1500_walk) + \
children:np.log1p(children_1500_walk) + \
white:np.log1p(pop_white_1500_walk) + \
black:np.log1p(pop_black_1500_walk) + \
asian:np.log1p(pop_asian_1500_walk) + \
hispanic:np.log1p(pop_hisp_1500_walk) \
- 1'

m.name = 'hlcm'
m.tags = ['arezoo', 'test']
m.fit()

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:         18,199
Model:         Multinomial Logit   Df Residuals:             18,185
Method:       Maximum Likelihood   Df Model:                     14
Date:                 2018-07-18   Pseudo R-squ.:             0.505
Time:                      22:52   Pseudo R-bar-squ.:         0.505
AIC:                  70,524.930   Log-Likelihood:      -35,248.465
BIC:                  70,634.257   LL-Null:             -71,194.907
================================================================================================
                                                coef   std err          z     P>|z|   Conf. Int.
------------------------------------------------------------------------------------------------
np.log(residential_units)                     1.1037     0.009    128.006     0.000
np.log1p(res_price_per_sqft)                 -0.5350     0.007    -72.748     0.000
np.log1p(sqft_per_unit)                      -0.0786     0.013     -6.181     0.000
np.log1p(pop_1500_walk)                      -1.8060     0.016   -115.130     0.000
np.log1p(jobs_1500_walk)                      0.1371     0.009     15.453     0.000
np.log1p(jobs_25000)                          4.3087     0.015    293.529     0.000
np.log(income):np.log(avg_income_500_walk)    0.0532     0.001     67.585     0.000
single:np.log1p(singles_1500_walk)            0.1464     0.003     42.611     0.000
elderly:np.log1p(elderly_hh_1500_walk)       -0.4394     0.010    -42.284     0.000
children:np.log1p(children_1500_walk)         0.0151     0.001     11.677     0.000
white:np.log1p(pop_white_1500_walk)           0.9009     0.004    219.618     0.000
black:np.log1p(pop_black_1500_walk)           0.4125     0.016     26.138     0.000
asian:np.log1p(pop_asian_1500_walk)           1.2110     0.005    268.421     0.000
hispanic:np.log1p(pop_hisp_1500_walk)         1.2001     0.004    283.398     0.000
================================================================================================
CPU times: user 51.9 s, sys: 13.5 s, total: 1min 5s
Wall time: 32.5 s

In [ ]:
%%time
m = LargeMultinomialLogitStep()
m.choosers = ['households']
m.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m.choice_column = 'building_id'
m.alt_sample_size = 500

#Filters on choosers
m.chooser_filters = ['household_id <100000 & recent_mover == 1 & 0 <income < 600000']

#Filters on alternatives
m.alt_filters = ['residential_units!=0',
                 '0 < avg_income_500_walk < 300000',
                 'sqft_per_unit > 0',
                 'year_built > 1700',
                 'stories > 0']

m.model_expression = 'np.log1p(res_price_per_sqft)+\
np.log1p(jobs_1500_walk) + np.log(avg_income_500_walk) +np.log1p(jobs_25000)+\
np.log1p(pop_black_1500_walk)+ I(building_type_id==1) + year_built<1950 + year_built>2000+stories + np.log1p(sqft_per_unit) - 1'

m.name = 'hlcm'
m.tags = ['arezoo', 'test']
m.fit()

In [ ]:
%%time
m = LargeMultinomialLogitStep()
m.choosers = ['households']
m.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m.choice_column = 'building_id'
m.alt_sample_size = 500

#Filters on choosers
m.chooser_filters = ['household_id <100000 & recent_mover == 1 & 0 <income < 600000']

#Filters on alternatives
m.alt_filters = ['residential_units!=0',
                 '0 < avg_income_500_walk < 200000',
                 'sqft_per_unit > 0',
                 'year_built > 1700',
                 'stories > 0']

m.model_expression = 'np.log1p(res_price_per_sqft)+\
np.log1p(jobs_1500_walk) + np.log(avg_income_500_walk) +np.log1p(jobs_25000)+\
np.log1p(pop_black_1500_walk)+ I(building_type_id==1) + year_built<1950 + year_built>2000+stories  - 1'

m.name = 'hlcm'
m.tags = ['arezoo', 'test']
m.fit()

In [ ]:
## Check for multicolinearity

In [ ]:
df = orca.merge_tables(target = 'buildings', tables = ['buildings','parcels','nodeswalk','nodessmall'])

In [ ]:
Selected_features = ['res_price_per_sqft', 'pop_500_walk', 'jobs_1500_walk',
                     'avg_income_500_walk','pop_black_1500_walk', 'sqft_per_unit','jobs_25000']
X = df[Selected_features]

plt.subplots(figsize=(8, 8))
sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")
plt.show()