# Household Location Choice Model (HLCM) for Single and Multi Family Housing

Arezoo Besharati, Paul Waddell, UrbanSim, July 2018 

This notebook demonstrates the use of the LargeMultinomialLogit model template to construct, estimate, and evaluate a Household Location Choice Model for the San Francisco Bay Area.

In the process of developing the model, we also demonstrate some data checking and transformations to improve the model.

The model structure and specification are informed and limited by the available data, which is based on the data used by the Metropolitan Transportation Commission for their operational model.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preliminaries" data-toc-modified-id="Preliminaries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preliminaries</a></span><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Initialize-Networks" data-toc-modified-id="Initialize-Networks-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Initialize Networks</a></span></li><li><span><a href="#Explore-the-data" data-toc-modified-id="Explore-the-data-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Explore the data</a></span></li><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Perform-desired-variable-creations-and-transformations¶" data-toc-modified-id="Perform-desired-variable-creations-and-transformations¶-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Perform desired variable creations and transformations¶</a></span></li><li><span><a href="#Check-Distributions" data-toc-modified-id="Check-Distributions-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Check Distributions</a></span></li><li><span><a href="#Check-for-Multicollinearity" data-toc-modified-id="Check-for-Multicollinearity-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Check for Multicollinearity</a></span></li></ul></li><li><span><a href="#Model-Estimation" data-toc-modified-id="Model-Estimation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Model Estimation</a></span><ul class="toc-item"><li><span><a href="#HLCM-for-Multi-Family" data-toc-modified-id="HLCM-for-Multi-Family-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>HLCM for Multi-Family</a></span></li><li><span><a href="#HLCM-for-Single-Family" data-toc-modified-id="HLCM-for-Single-Family-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>HLCM for Single-Family</a></span></li></ul></li></ul></div>

## Preliminaries

In [1]:
import os; os.chdir('../../')
import numpy as np, pandas as pd 
import matplotlib.pyplot as plt
import warnings;
warnings.simplefilter('ignore')
%load_ext autoreload
%autoreload 2

In [2]:
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import orca
import seaborn as sns
%matplotlib notebook

In [3]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

### Load data

In [4]:
# Load any script-based Orca registrations
from scripts import datasources
from scripts import models

In [5]:
orca.list_tables()
#orca.list_steps()

['parcels',
 'buildings',
 'craigslist',
 'rentals',
 'nodessmall',
 'nodeswalk',
 'units',
 'households',
 'persons',
 'jobs']

In [40]:
orca.broadcast('nodeswalk', 'rentals', cast_index=True, onto_on='node_id_walk')
orca.broadcast('nodeswalk', 'parcels', cast_index=True, onto_on='node_id_walk')
orca.broadcast('nodessmall', 'rentals', cast_index=True, onto_on='node_id_small')
orca.broadcast('nodessmall', 'parcels', cast_index=True, onto_on='node_id_small')
orca.list_broadcasts()

[('parcels', 'buildings'),
 ('buildings', 'units'),
 ('units', 'households'),
 ('households', 'persons'),
 ('nodeswalk', 'rentals'),
 ('nodeswalk', 'parcels'),
 ('nodessmall', 'rentals'),
 ('nodessmall', 'parcels')]

In [ ]:
#mm.list_steps()

In [ ]:
#mm.initialize()

### Initialize Networks

Note that we have separately created a set of network accessibility variables and stored them. They are registered a orca objects.

In [ ]:
#%%capture
#orca.run(["initialize_network_walk"])

In [ ]:
#%%capture
#orca.run(["initialize_network_small"])

### Explore the data

In [37]:
nodeswalk = orca.get_table('nodeswalk').to_frame()
nodessmall = orca.get_table('nodessmall').to_frame()

In [38]:
nodeswalk.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
units_500_walk,619889.00,238.93,377.17,0.00,5.00,91.00,318.00,2317.12
sqft_unit_500_walk,619889.00,1221.43,864.01,0.00,449.75,1327.47,1760.37,3698.59
singles_500_walk,619889.00,59.38,125.91,0.00,0.00,13.00,61.00,868.00
elderly_hh_500_walk,619889.00,39.19,61.74,0.00,0.00,15.00,52.00,363.00
children_500_walk,619889.00,110.65,151.64,0.00,1.00,46.00,164.00,755.00
units_sf_500_walk,619889.00,116.08,149.80,0.00,2.00,52.00,179.00,719.00
units_mf_500_walk,619889.00,107.51,257.35,0.00,0.00,0.00,86.00,1654.00
pop_500_walk,619889.00,543.32,783.63,0.00,11.00,224.00,770.00,4352.12
hh_500_walk,619889.00,212.32,333.00,0.00,4.00,81.00,284.00,2045.00
poor_500_walk,619889.00,55.35,105.98,0.00,0.00,13.00,59.00,643.00
rich_500_walk,619889.00,48.45,83.79,0.00,0.00,15.00,59.00,528.00
renters_500_walk,619889.00,107.25,230.95,0.00,0.00,17.00,99.00,1528.00
avg_income_500_walk,619889.00,91713.11,62570.49,-7200.00,49751.42,96108.38,133743.45,244250.62
jobs_500_walk,619889.00,345.45,776.18,0.00,2.00,36.00,336.00,5247.00
avg_rent_500_walk,619889.00,1763.63,1615.91,0.00,0.00,2056.09,2999.57,5800.00
pop_white_500_walk,619889.00,288.68,403.37,0.00,6.00,122.00,428.00,2251.00
pop_black_500_walk,619889.00,29.65,93.31,0.00,0.00,0.00,12.00,651.00
pop_asian_500_walk,619889.00,146.61,292.75,0.00,0.00,27.00,146.00,1774.00
pop_hisp_500_walk,619889.00,105.42,212.35,0.00,0.00,21.00,106.00,1285.00
units_1500_walk,619889.00,2304.70,3221.09,0.00,71.00,1383.00,3112.00,19488.00
sqft_unit_1500_walk,619889.00,1379.32,700.84,0.00,1122.38,1459.36,1778.54,3249.01
singles_1500_walk,619889.00,580.44,1134.28,0.00,9.00,228.00,638.00,7882.60
elderly_hh_1500_walk,619889.00,379.07,522.51,0.00,12.00,219.00,527.00,2987.00
children_1500_walk,619889.00,1063.23,1188.99,0.00,40.00,717.00,1668.00,5402.12
units_sf_1500_walk,619889.00,1146.96,1245.66,0.00,54.00,851.00,1810.00,6005.00
units_mf_1500_walk,619889.00,1024.18,2066.09,0.00,0.00,231.00,1158.00,13646.24
pop_1500_walk,619889.00,5241.87,6680.31,0.00,194.00,3358.00,7488.00,37239.00
hh_1500_walk,619889.00,2051.17,2890.18,0.00,62.00,1239.00,2750.00,17663.24
poor_1500_walk,619889.00,543.30,948.22,0.00,11.00,209.00,636.00,5862.00
rich_1500_walk,619889.00,485.24,803.52,0.00,16.00,215.00,619.00,5442.12
...,...,...,...,...,...,...,...,...
avg_income_1500_walk,619889.00,84587.30,46395.12,-5700.00,57200.00,84000.00,113400.00,200000.00
jobs_1500_walk,619889.00,2752.83,4985.44,0.00,44.00,929.00,3263.00,32501.36
avg_rent_1500_walk,619889.00,2192.74,1346.51,-1.00,1679.00,2425.00,3006.00,5500.00
pop_white_1500_walk,619889.00,2836.02,3641.91,0.00,97.00,1769.00,4211.00,22426.12
pop_black_1500_walk,619889.00,305.73,864.29,0.00,0.00,26.00,154.00,5690.00
pop_asian_1500_walk,619889.00,1408.95,2396.37,0.00,23.00,348.00,1689.00,13014.12
pop_hisp_1500_walk,619889.00,1029.37,1755.83,0.00,23.00,302.00,1224.00,9728.00
pop_2500_walk,619889.00,14994.56,18075.87,0.00,834.00,10538.00,21352.00,101706.00
pop_white_2500_walk,619889.00,8158.76,9999.14,0.00,529.00,5693.00,11911.00,62731.36
pop_black_2500_walk,619889.00,864.83,2193.75,0.00,4.00,105.00,466.00,13605.00
pop_asian_2500_walk,619889.00,4071.65,6549.74,0.00,78.00,1249.00,5181.00,35754.24
pop_hisp_2500_walk,619889.00,2959.84,4486.81,0.00,86.00,1092.00,3867.00,22842.12
prop_children_500_walk,487997.00,0.03,0.09,0.00,0.00,0.01,0.02,1.00
prop_singles_500_walk,487997.00,0.23,0.15,0.00,0.12,0.21,0.31,1.00
prop_elderly_500_walk,487997.00,0.21,0.14,0.00,0.12,0.19,0.27,1.00
prop_black_500_walk,487997.00,0.04,0.08,0.00,0.00,0.01,0.04,1.00
prop_white_500_walk,487997.00,0.60,0.26,0.00,0.40,0.63,0.81,1.00
prop_asian_500_walk,487997.00,0.24,0.23,0.00,0.05,0.17,0.37,1.00
prop_hisp_500_walk,487997.00,0.18,0.19,0.00,0.04,0.12,0.27,1.00
prop_rich_500_walk,487997.00,0.10,0.08,0.00,0.04,0.09,0.15,1.00
prop_poor_500_walk,487997.00,0.09,0.08,0.00,0.04,0.07,0.12,1.00
prop_children_1500_walk,550037.00,0.01,0.07,0.00,0.00,0.00,0.00,1.00
prop_singles_1500_walk,550037.00,0.23,0.12,0.00,0.15,0.22,0.30,1.00
prop_elderly_1500_walk,550037.00,0.20,0.11,0.00,0.14,0.19,0.25,1.00
prop_black_1500_walk,550037.00,0.04,0.07,0.00,0.00,0.01,0.04,1.00
prop_white_1500_walk,550037.00,0.60,0.24,0.00,0.41,0.62,0.80,1.00
prop_asian_1500_walk,550037.00,0.25,0.22,0.00,0.07,0.19,0.37,1.00
prop_hisp_1500_walk,550037.00,0.19,0.17,0.00,0.06,0.14,0.27,1.00
prop_rich_1500_walk,550037.00,0.10,0.07,0.00,0.05,0.09,0.14,1.00
prop_poor_1500_walk,550037.00,0.09,0.06,0.00,0.05,0.08,0.12,1.00

In [39]:
nodessmall.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
units_10000,30826.00,111521.06,86779.17,0.00,43964.50,96821.50,163121.75,377070.25
units_sf_10000,30826.00,60712.51,37339.24,0.00,31221.50,59398.00,90068.50,136949.50
units_mf_10000,30826.00,45940.89,45879.03,0.00,10558.00,32530.50,69672.00,196744.00
pop_10000,30826.00,259908.40,187431.24,0.00,106498.75,231983.00,392361.00,763247.25
hh_10000,30826.00,98968.73,77650.94,0.00,39192.00,85626.00,143069.50,343047.25
poor_10000,30826.00,24228.51,22002.93,0.00,7992.25,17596.50,34093.75,94001.50
renters_10000,30826.00,47192.46,47728.75,0.00,13226.75,33240.50,65630.00,214109.25
avg_income_10000,30826.00,111123.63,30051.59,0.00,93095.60,111716.90,129615.74,174412.79
jobs_10000,30826.00,118174.96,107815.26,0.00,28940.25,92305.00,176939.00,412326.25
avg_rent_10000,30826.00,2630.09,753.54,0.00,2328.39,2704.73,2981.97,4020.42
pop_white_10000,30826.00,133182.45,92513.57,0.00,64406.25,121610.50,184978.50,384875.25
pop_black_10000,30826.00,12828.86,19252.46,0.00,1485.00,5390.50,13686.50,90219.25
pop_asian_10000,30826.00,79747.89,73605.00,0.00,12979.25,58461.00,138638.75,282688.25
pop_hisp_10000,30826.00,53313.87,47484.89,0.00,15760.75,39406.00,79106.75,201052.75
units_25000,30826.00,395891.01,228030.74,0.00,173838.25,449442.00,582618.50,814576.50
units_sf_25000,30826.00,228827.36,120530.80,0.00,123424.25,242040.00,331604.50,419725.00
units_mf_25000,30826.00,151239.08,104795.09,0.00,46816.00,165451.00,224654.00,371386.00
pop_25000,30826.00,938604.27,533334.46,0.00,427429.00,1062551.00,1425288.00,1724562.25
hh_25000,30826.00,351691.15,202736.13,0.00,156057.25,396963.00,516275.75,732825.75
poor_25000,30826.00,81874.64,53280.79,0.00,38391.25,86556.50,108759.25,217862.00
renters_25000,30826.00,156604.39,109063.50,0.00,55661.75,166408.50,213822.00,412631.50
avg_income_25000,30826.00,115691.38,18840.00,0.00,101898.65,119517.23,128839.58,156426.80
jobs_25000,30826.00,410518.43,255417.64,0.00,143147.00,451703.50,646091.00,787748.25
avg_rent_25000,30826.00,2788.05,543.31,0.00,2523.13,2853.23,3086.60,3774.14
pop_white_25000,30826.00,482386.36,245094.47,0.00,268482.25,532600.50,692151.50,897961.75
pop_black_25000,30826.00,43768.16,48499.24,0.00,18805.00,25066.00,44312.00,186097.50
pop_asian_25000,30826.00,294553.25,217384.41,0.00,73012.25,312618.50,477998.25,664177.00
pop_hisp_25000,30826.00,183818.54,110204.37,0.00,88483.75,181110.00,298581.50,345586.00

In [7]:
parcel = orca.get_table('parcels').to_frame()
parcel.columns

Index(['development_type_id', 'land_value', 'acres', 'county_id', 'zone_id',
       'proportion_undevelopable', 'tax_exempt_status', 'apn',
       'parcel_id_local', 'geom_id', 'imputation_flag', 'x', 'y', 'shape_area',
       'block_id', 'node_id', 'node_id_small', 'node_id_walk'],
      dtype='object')

In [8]:
bld = orca.get_table('buildings').to_frame()
bld.columns

Index(['parcel_id', 'development_type_id', 'improvement_value',
       'residential_units', 'residential_sqft', 'sqft_per_unit',
       'non_residential_sqft', 'building_sqft', 'nonres_rent_per_sqft',
       'res_price_per_sqft', 'stories', 'year_built', 'redfin_sale_price',
       'redfin_sale_year', 'redfin_home_type', 'costar_property_type',
       'costar_rent', 'building_type_id', 'res_sqft_per_unit'],
      dtype='object')

In [9]:
hh = orca.get_table('households').to_frame()
hh.columns.tolist()

In [46]:
hh['hh_random'] = np.random.uniform(0,1,len(hh))

In [11]:
hh.head()

,serialno,persons,building_type,cars,income,race_of_head,hispanic_head,age_of_head,workers,state,...,tract,block_group,children,tenure,recent_mover,block_group_id,single_family,unit_id,building_id,hh_random
household_id,,,,,,,,,,,,,,,,,,,,,
0,2010000487191,1,6.00,1.00,85000.00,1,no,47,1.00,6,...,500901,1,0.00,2,0,60855009011,False,1711366,409174,0.81
1,2013000554587,1,9.00,1.00,27000.00,6,no,52,1.00,6,...,500901,1,0.00,2,0,60855009011,False,1711818,1579443,0.38
2,2011001140920,2,2.00,1.00,6000.00,6,no,60,1.00,6,...,500901,1,0.00,2,0,60855009011,True,1711727,1365639,0.81
3,2012001376432,1,3.00,1.00,28000.00,8,yes,51,1.00,6,...,500901,1,0.00,2,0,60855009011,True,1711548,647211,0.19
4,2013000186929,1,6.00,1.00,10000.00,1,no,64,0.00,6,...,500901,1,0.00,2,0,60855009011,False,1711121,309586,0.69

In [19]:
hh.describe()

,serialno,persons,building_type,cars,income,race_of_head,age_of_head,workers,children,tenure,recent_mover,unit_id,building_id,hh_random
count,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00,2677468.00
mean,2011048463205.79,2.64,3.59,1.88,113128.36,2.84,52.97,1.30,0.56,1.43,0.04,1288427.13,858095.84,0.50
std,1416905562.31,1.57,2.34,1.14,107952.60,2.66,15.69,1.00,0.97,0.49,0.19,849779.84,561165.80,0.29
min,2009000000022.00,1.00,1.00,0.00,-11600.00,1.00,15.00,0.00,0.00,1.00,0.00,-1.00,-1.00,0.00
25%,2010000424551.00,1.00,2.00,1.00,40320.00,1.00,41.00,1.00,0.00,1.00,0.00,540970.75,359954.75,0.25
50%,2011000848265.00,2.00,2.00,2.00,84000.00,1.00,53.00,1.00,0.00,1.00,0.00,1272990.50,837858.50,0.50
75%,2012001211486.00,4.00,5.00,2.00,150100.00,6.00,63.00,2.00,1.00,2.00,0.00,2024749.25,1341263.25,0.75
max,2013001492566.00,20.00,10.00,6.00,1397000.00,9.00,94.00,13.00,9.00,2.00,1.00,2781489.00,1843272.00,1.00

In [27]:
hh.dtypes

serialno            int64
persons             int64
building_type     float64
cars              float64
income            float64
race_of_head        int64
hispanic_head      object
age_of_head         int64
workers           float64
state              object
county             object
tract              object
block_group        object
children          float64
tenure              int64
recent_mover        int64
block_group_id     object
single_family        bool
unit_id             int64
building_id         int64
hh_random         float64
dtype: object

In [12]:
hh_f = hh[(hh['building_type'] > 2) & (hh['hh_random'] < .2) & (hh['recent_mover'] == 1) \
         & (hh['income'] > 0) & (hh['income'] < 500000)]
len(hh_f)

15468

np.log(residential_units) + \
np.log1p(res_price_per_sqft) + \
np.log1p(sqft_per_unit) + \
np.log1p(income):np.log1p(sqft_per_unit) + \
np.log1p(jobs_1500_walk) + \
np.log1p(jobs_25000) + \
np.log(income):np.log(avg_income_1500_walk) + \
np.log1p(pop_1500_walk) + \
white:prop_white_500_walk + \
black:prop_black_500_walk + \
asian:prop_asian_500_walk + \
hispanic:prop_hisp_500_walk\
- 1'

In [34]:
parcel.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
development_type_id,1956207.00,2.61,5.31,-1.00,1.00,1.00,1.00,25.00
land_value,1956207.00,234801.87,1610709.58,0.00,39957.00,100800.00,225434.50,1393463526.00
acres,1956207.00,2.29,36.12,0.00,0.11,0.15,0.23,23351.99
county_id,1956207.00,53.94,38.09,1.00,13.00,75.00,85.00,97.00
zone_id,1956207.00,829.32,412.98,1.00,492.00,844.00,1189.00,1454.00
proportion_undevelopable,1956207.00,0.00,0.04,0.00,0.00,0.00,0.00,1.00
tax_exempt_status,1956207.00,0.01,0.11,0.00,0.00,0.00,0.00,1.00
geom_id,1956207.00,8795113526279.49,5076215226459.58,17066885.00,4405537788456.00,8793872715803.00,13187559413395.50,17592170803819.00
x,1956207.00,-122.18,0.30,-123.53,-122.41,-122.14,-121.95,-121.21
y,1956207.00,37.77,0.36,36.90,37.48,37.75,37.99,38.86
shape_area,1956207.00,9284.66,146179.31,0.00,438.70,602.84,928.53,94502236.85
node_id,1956207.00,382156341.10,949091294.79,302878.00,56159744.00,65351372.00,65625796.00,5458526997.00
node_id_small,1956207.00,794731900.37,1402734655.03,281266.00,57878963.00,65501255.00,625648805.00,5458526997.00
node_id_walk,1956207.00,1225875466.64,1935138497.59,25457938.00,57842827.00,65455614.00,1829965061.00,5466634026.00

In [36]:
bld.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
parcel_id,1824229.00,1012860.54,593806.46,26.00,495850.00,1002691.00,1532117.00,2054501.00
development_type_id,1824229.00,1.84,3.44,-1.00,1.00,1.00,1.00,24.00
improvement_value,1824229.00,318687.80,3571670.95,0.00,82675.03,167553.52,285342.35,3355514162.00
residential_units,1824229.00,1.53,6.14,0.00,1.00,1.00,1.00,1912.00
residential_sqft,1824229.00,2657.11,30124.08,0.00,1230.00,1754.00,2400.00,14580000.00
sqft_per_unit,1824229.00,1669.29,1063.48,0.00,1176.00,1564.00,2029.42,30000.00
non_residential_sqft,1824229.00,1280.86,23922.26,0.00,0.00,0.00,0.00,16573099.00
building_sqft,1824229.00,3784.46,34945.68,0.00,1320.00,1858.00,2524.00,14580000.00
nonres_rent_per_sqft,1824229.00,0.92,4.05,0.00,0.00,0.00,0.00,128.96
res_price_per_sqft,1824229.00,292.72,264.77,0.00,151.87,254.46,369.91,50161.09
stories,1824229.00,1.21,0.56,1.00,1.00,1.00,1.00,59.00
year_built,1824229.00,1965.52,25.02,1790.00,1952.00,1966.00,1983.00,2015.00
redfin_sale_price,1081100.00,528730.73,718812.32,0.00,239000.00,400000.00,650000.00,180000000.00
redfin_sale_year,1081100.00,2002.83,7.14,1962.00,1998.00,2004.00,2009.00,2014.00
building_type_id,1824229.00,1.71,2.40,0.00,1.00,1.00,1.00,16.00
res_sqft_per_unit,1715474.00,1781.74,6803.64,101.56,1200.00,1626.00,2042.00,7283880.00

In [41]:
df = orca.merge_tables(target = 'buildings', tables = ['buildings','parcels','nodeswalk','nodessmall'])

In [42]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
parcel_id,1824229.00,1012860.54,593806.46,26.00,495850.00,1002691.00,1532117.00,2054501.00
development_type_id,1824229.00,1.84,3.44,-1.00,1.00,1.00,1.00,24.00
improvement_value,1824229.00,318687.80,3571670.95,0.00,82675.03,167553.52,285342.35,3355514162.00
residential_units,1824229.00,1.53,6.14,0.00,1.00,1.00,1.00,1912.00
residential_sqft,1824229.00,2657.11,30124.08,0.00,1230.00,1754.00,2400.00,14580000.00
sqft_per_unit,1824229.00,1669.29,1063.48,0.00,1176.00,1564.00,2029.42,30000.00
non_residential_sqft,1824229.00,1280.86,23922.26,0.00,0.00,0.00,0.00,16573099.00
building_sqft,1824229.00,3784.46,34945.68,0.00,1320.00,1858.00,2524.00,14580000.00
nonres_rent_per_sqft,1824229.00,0.92,4.05,0.00,0.00,0.00,0.00,128.96
res_price_per_sqft,1824229.00,292.72,264.77,0.00,151.87,254.46,369.91,50161.09
stories,1824229.00,1.21,0.56,1.00,1.00,1.00,1.00,59.00
year_built,1824229.00,1965.52,25.02,1790.00,1952.00,1966.00,1983.00,2015.00
redfin_sale_price,1081100.00,528730.73,718812.32,0.00,239000.00,400000.00,650000.00,180000000.00
redfin_sale_year,1081100.00,2002.83,7.14,1962.00,1998.00,2004.00,2009.00,2014.00
building_type_id,1824229.00,1.71,2.40,0.00,1.00,1.00,1.00,16.00
res_sqft_per_unit,1715474.00,1781.74,6803.64,101.56,1200.00,1626.00,2042.00,7283880.00
land_value,1824229.00,241830.68,1646061.32,0.00,46633.00,107311.00,234527.67,1393463526.00
acres,1824229.00,1.17,26.18,0.00,0.11,0.15,0.22,23351.99
county_id,1824229.00,53.89,38.04,1.00,13.00,75.00,85.00,97.00
zone_id,1824229.00,822.09,412.99,1.00,488.00,832.00,1186.00,1454.00
proportion_undevelopable,1824229.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
tax_exempt_status,1824229.00,0.00,0.05,0.00,0.00,0.00,0.00,1.00
geom_id,1824229.00,8796638015678.40,5076322151663.70,17066885.00,4407505927629.00,8795470834602.00,13190521730637.00,17592170803819.00
x,1824229.00,-122.17,0.29,-123.53,-122.40,-122.14,-121.95,-121.21
y,1824229.00,37.77,0.36,36.90,37.48,37.75,37.98,38.86
shape_area,1824229.00,4715.92,105941.24,0.04,437.93,595.14,875.17,94502236.85
node_id,1824229.00,355897778.45,910454182.81,302878.00,56145503.00,65344023.00,65605227.00,5458471051.00
node_id_small,1824229.00,790167116.94,1400113219.52,281266.00,57882843.00,65501255.00,612071280.00,5458526995.00
node_id_walk,1824229.00,1192330181.12,1926945829.29,25457938.00,57836724.00,65446600.00,1679205486.00,5466634026.00
units_500_walk,1824229.00,428.80,480.17,0.00,129.00,275.00,510.00,2317.12
...,...,...,...,...,...,...,...,...
prop_rich_1500_walk,1818285.00,0.10,0.06,0.00,0.05,0.09,0.15,1.00
prop_poor_1500_walk,1818285.00,0.08,0.05,0.00,0.05,0.07,0.11,1.00
units_10000,1824229.00,109543.76,90805.09,0.00,41221.00,86493.00,148705.00,377070.25
units_sf_10000,1824229.00,59908.61,35619.35,0.00,30228.00,56377.00,86649.00,136949.50
units_mf_10000,1824229.00,43600.14,48406.33,0.00,9464.00,27622.00,57470.00,196744.00
pop_10000,1824229.00,253623.21,190923.60,0.00,100797.00,211073.00,364122.00,763247.25
hh_10000,1824229.00,97845.09,81965.79,0.00,36784.00,76782.00,131962.00,343047.25
poor_10000,1824229.00,24658.93,23494.29,0.00,7639.00,16524.00,32789.00,94001.50
renters_10000,1824229.00,46789.71,51569.01,0.00,12117.00,29842.00,59136.00,214109.25
avg_income_10000,1824229.00,111503.64,25668.61,0.00,90234.91,108244.35,128633.52,174412.79
jobs_10000,1824229.00,102513.23,100534.30,0.00,28283.00,74627.00,130563.00,412326.25
avg_rent_10000,1824229.00,2699.95,608.89,0.00,2266.98,2658.89,3004.26,4020.42
pop_white_10000,1824229.00,132841.46,92668.38,0.00,65393.00,109461.00,174854.00,384875.25
pop_black_10000,1824229.00,14199.12,20404.30,0.00,1347.00,5430.00,18693.00,90219.25
pop_asian_10000,1824229.00,73795.23,76697.09,0.00,10050.00,44563.00,119795.00,282688.25
pop_hisp_10000,1824229.00,50761.19,43319.50,0.00,15331.00,38187.00,76627.00,201052.75
units_25000,1824229.00,368003.57,212337.69,0.00,153084.00,378806.00,552705.00,814576.50
units_sf_25000,1824229.00,208826.39,104591.47,0.00,109931.00,218630.00,290940.00,419725.00
units_mf_25000,1824229.00,141183.65,102783.83,0.00,40118.00,132318.00,214281.00,371386.00
pop_25000,1824229.00,857429.84,481806.44,0.00,363802.00,914255.00,1269643.00,1724562.25
hh_25000,1824229.00,327642.81,189183.37,0.00,136343.00,335629.00,491203.00,732825.75
poor_25000,1824229.00,79664.34,51847.46,0.00,37147.00,75116.00,109224.00,217862.00
renters_25000,1824229.00,149760.88,107657.08,0.00,51593.00,139771.00,206673.00,412631.50
avg_income_25000,1824229.00,112211.71,17795.66,0.00,96829.58,113746.68,125351.64,156426.80
jobs_25000,1824229.00,373789.88,240504.90,0.00,120576.00,379447.00,604073.00,787748.25
avg_rent_25000,1824229.00,2782.86,544.79,0.00,2367.23,2803.14,3224.33,3774.14
pop_white_25000,1824229.00,452087.17,218866.24,0.00,256311.00,473339.00,631895.00,897961.75
pop_black_25000,1824229.00,46866.31,49408.59,0.00,17904.00,25631.00,62354.00,186097.50
pop_asian_25000,1824229.00,251341.37,196850.73,0.00,55576.00,253205.00,418917.00,664177.00
pop_hisp_25000,1824229.00,165484.82,98225.66,0.00,75542.00,162889.00,248051.00,345586.00

In [32]:
hh_f.dtypes

serialno            int64
persons             int64
building_type     float64
cars              float64
income            float64
race_of_head        int64
hispanic_head      object
age_of_head         int64
workers           float64
state              object
county             object
tract              object
block_group        object
children          float64
tenure              int64
recent_mover        int64
block_group_id     object
single_family        bool
unit_id             int64
building_id         int64
hh_random         float64
dtype: object

In [43]:
hh_f_data = hh_f.merge(df, left_on='building_id', right_index=True)

In [44]:
hh_f_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
serialno,13135.00,2011089645440.15,1442111691.19,2009000001284.00,2010000420917.00,2011000997364.00,2012001322354.00,2013001492332.00
persons,13135.00,2.18,1.20,1.00,1.00,2.00,3.00,14.00
building_type,13135.00,6.46,2.06,3.00,5.00,7.00,8.00,10.00
cars,13135.00,1.34,0.81,0.00,1.00,1.00,2.00,6.00
income,13135.00,95923.52,77543.61,4.00,40000.00,78000.00,130000.00,498000.00
race_of_head,13135.00,3.41,2.81,1.00,1.00,1.00,6.00,9.00
age_of_head,13135.00,34.26,12.17,16.00,27.00,31.00,36.00,94.00
workers,13135.00,1.40,0.78,0.00,1.00,1.00,2.00,7.00
children,13135.00,0.39,0.78,0.00,0.00,0.00,0.00,6.00
tenure,13135.00,1.90,0.30,1.00,2.00,2.00,2.00,2.00
recent_mover,13135.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
unit_id,13135.00,1682899.67,830099.47,104.00,991224.00,1840444.00,2450116.00,2781482.00
building_id,13135.00,922298.88,528251.87,25.00,467797.00,922073.00,1413120.50,1843076.00
hh_random,13135.00,0.10,0.06,0.00,0.05,0.10,0.15,0.20
parcel_id,13135.00,951955.66,535660.57,175.00,487212.50,980616.00,1356604.50,2047657.00
development_type_id,13135.00,2.37,3.54,1.00,1.00,2.00,2.00,24.00
improvement_value,13135.00,7104688.50,37865200.70,0.00,145210.50,343787.87,2968314.00,3355514162.00
residential_units,13135.00,65.37,145.90,1.00,2.00,7.00,55.00,1912.00
residential_sqft,13135.00,149449.20,801894.39,451.00,2400.00,8772.00,60861.00,14580000.00
sqft_per_unit,13135.00,1870.47,3508.01,200.00,822.04,1200.00,1836.75,30000.00
non_residential_sqft,13135.00,4759.83,53749.54,0.00,0.00,0.00,0.00,1479817.00
building_sqft,13135.00,153124.14,803533.18,451.00,2400.00,9182.25,65779.00,14580000.00
nonres_rent_per_sqft,13135.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
res_price_per_sqft,13135.00,397.87,748.45,0.00,134.66,265.18,431.19,26233.22
stories,13135.00,1.98,2.01,1.00,1.00,2.00,2.00,45.00
year_built,13135.00,1972.87,27.49,1849.00,1957.00,1976.00,1992.00,2015.00
redfin_sale_price,6430.00,1444387.99,5883212.30,0.00,260000.00,470000.00,850000.00,115000000.00
redfin_sale_year,6430.00,2003.55,6.66,1985.00,1999.00,2004.00,2009.00,2014.00
building_type_id,13135.00,3.10,3.01,0.00,1.00,3.00,3.00,16.00
res_sqft_per_unit,13135.00,1870.45,3508.01,200.00,822.04,1200.00,1836.75,30000.00
...,...,...,...,...,...,...,...,...
prop_rich_1500_walk,13135.00,0.10,0.06,0.00,0.05,0.09,0.15,0.33
prop_poor_1500_walk,13135.00,0.11,0.05,0.00,0.07,0.10,0.15,0.58
units_10000,13135.00,153795.93,102071.67,148.00,79421.50,122297.00,214853.00,377070.25
units_sf_10000,13135.00,72538.72,31590.09,148.00,50024.00,69691.00,97113.00,136949.50
units_mf_10000,13135.00,69296.11,59860.28,0.00,25751.00,43901.00,93344.00,196744.00
pop_10000,13135.00,337934.11,198984.48,317.00,188693.00,292088.00,466040.00,763247.25
hh_10000,13135.00,137252.46,92714.16,142.00,71022.00,107570.00,187764.00,343047.25
poor_10000,13135.00,34767.83,27617.81,28.00,14397.00,22596.00,49873.00,94001.50
renters_10000,13135.00,71799.54,64151.42,32.00,28155.00,47630.00,94121.00,214109.25
avg_income_10000,13135.00,115705.73,22955.49,57771.34,98649.27,118137.27,128850.62,174412.79
jobs_10000,13135.00,166858.26,123541.87,204.00,72919.00,122642.00,231073.00,412326.25
avg_rent_10000,13135.00,2913.03,624.47,1321.11,2478.53,2812.22,3262.31,4020.42
pop_white_10000,13135.00,178665.25,100762.64,231.00,92935.00,161147.00,234744.00,384875.25
pop_black_10000,13135.00,16591.49,21029.63,0.00,3210.00,6722.00,24764.00,90219.25
pop_asian_10000,13135.00,103364.18,81066.15,0.00,29133.00,85382.00,167607.00,282688.25
pop_hisp_10000,13135.00,58636.44,41251.93,5.00,28689.00,48009.00,83573.00,201052.75
units_25000,13135.00,473167.02,215344.91,4207.00,296186.50,520079.00,649311.00,814576.50
units_sf_25000,13135.00,256063.40,96682.76,3453.00,189805.00,270435.00,331664.00,419725.00
units_mf_25000,13135.00,190817.83,112195.47,95.00,94051.00,204561.00,271230.00,371386.00
pop_25000,13135.00,1086241.12,468147.80,6477.00,690698.00,1211089.00,1498809.00,1724562.25
hh_25000,13135.00,421736.63,192696.23,2807.00,264653.00,459093.00,576080.00,732825.75
poor_25000,13135.00,103002.58,57913.99,424.00,53183.50,98477.00,148893.00,217862.00
renters_25000,13135.00,200188.67,120848.46,427.00,100851.00,194370.00,302583.00,412631.50
avg_income_25000,13135.00,116246.21,15141.05,71504.61,106575.68,114821.18,127912.62,155358.38
jobs_25000,13135.00,490171.16,237433.34,1614.00,285037.00,562456.00,710460.00,787748.25
avg_rent_25000,13135.00,2953.84,494.17,1661.73,2648.86,2924.26,3362.53,3774.14
pop_white_25000,13135.00,565463.09,211297.81,6023.00,406245.00,605473.00,745840.50,897961.75
pop_black_25000,13135.00,58093.13,53865.35,20.00,21891.00,29850.00,97525.00,186097.50
pop_asian_25000,13135.00,330675.97,195287.58,17.00,135387.00,381122.00,473027.50,664177.00
pop_hisp_25000,13135.00,199969.70,93228.68,233.00,117270.00,204837.00,295761.00,345586.00

In [39]:
hh_f.head()

,serialno,persons,building_type,cars,income,race_of_head,hispanic_head,age_of_head,workers,state,...,tract,block_group,children,tenure,recent_mover,block_group_id,single_family,unit_id,building_id,hh_random
household_id,,,,,,,,,,,,,,,,,,,,,
169,2009001308675,2,7.00,1.00,1200.00,6,no,21,1.00,6,...,500901,1,0.00,2,1,60855009011,False,1711656,1364704,0.09
258,2012000897474,3,4.00,2.00,27000.00,9,no,23,2.00,6,...,500901,1,0.00,2,1,60855009011,False,1711344,409172,0.15
264,2010000652157,4,8.00,1.00,12120.00,6,no,22,0.00,6,...,500901,1,0.00,2,1,60855009011,False,1711177,309592,0.10
304,2013000035552,1,6.00,1.00,50000.00,1,no,32,1.00,6,...,500901,1,0.00,2,1,60855009011,False,1711143,309587,0.12
333,2013001130635,1,7.00,2.00,8000.00,9,no,23,1.00,6,...,500901,1,0.00,2,1,60855009011,False,1711026,231282,0.02

In [ ]:
#bld.groupby('building_type_id')['residential_units'].sum()

In [ ]:
#bld.describe().transpose()

In [ ]:
#bld.quantile(.99)

In [ ]:
#bld[['residential_units','residential_sqft', 'non_residential_sqft']].sum()

In [ ]:
#bld.building_type_id.value_counts()

In [ ]:
# hh_sf=hh[hh['building_type']==2]
# hh_mf=hh[hh['building_type']!=2]

### Data Cleaning

In [ ]:
# nodeswalk = orca.get_table('nodeswalk').to_frame()
# nodessmall = orca.get_table('nodessmall').to_frame()
#print(nodeswalk.columns.tolist())
#print(nodessmall.columns.tolist())

In [ ]:
#nodessmall.describe().transpose()

In [ ]:
# nodessmall_upper = nodessmall.quantile(.99)
#nodessmall_upper

In [ ]:
# nodessmall_clipped = nodessmall.clip_upper(nodessmall_upper, axis=1) 
# nodessmall_clipped.describe().transpose()
# orca.add_table('nodessmall', nodessmall_clipped);

In [ ]:
# nodeswalk.describe().transpose()
# nodeswalk_upper = nodeswalk.quantile(.99)
#nodeswalk_upper

In [ ]:
# nodeswalk_clipped = nodeswalk.clip_upper(nodeswalk_upper, axis=1) 
# nodeswalk_clipped.describe().transpose()
# orca.add_table('nodeswalk', nodeswalk_clipped);

### Perform desired variable creations and transformations¶

In [47]:
# scale income and create race dummies
hh.income_k = hh.income/1000
hh.white = (hh.race_of_head == 1).astype(int)
hh.black = (hh.race_of_head == 2).astype(int)
hh.asian = (hh.race_of_head == 6).astype(int)
hh.hisp = (hh.hispanic_head == 'yes').astype(int)
hh.single = (hh.persons == 1).astype(int)
hh.elderly = (hh.age_of_head > 65).astype(int)

  
# building_type dummies
bld.single_family = (bld.building_type_id == 1).astype(int)
bld.multi_family = (bld.building_type_id == 3).astype(int)
bld.mixed_use = (bld.building_type_id > 3).astype(int)

# add the columns

orca.add_column('households', 'income_k', hh.income_k)
orca.add_column('households', 'white', hh.white)
orca.add_column('households', 'black', hh.black)
orca.add_column('households', 'asian', hh.asian)
orca.add_column('households', 'hispanic', hh.hisp)
orca.add_column('households', 'elderly', hh.elderly)
orca.add_column('households', 'single', hh.single)
orca.add_column('households', 'hh_random', hh.hh_random)

orca.add_column('buildings', 'single_family', bld.single_family)
orca.add_column('buildings', 'multi_family', bld.multi_family)
orca.add_column('buildings', 'mixed_use', bld.mixed_use);

In [ ]:
# nodeswalk['prop_children_500_walk'] = (nodeswalk['children_500_walk'] > 0).astype(int) / nodeswalk['hh_500_walk']
# nodeswalk['prop_singles_500_walk'] = nodeswalk['singles_500_walk'] / nodeswalk['hh_500_walk']
# nodeswalk['prop_elderly_500_walk'] = nodeswalk['elderly_hh_500_walk'] / nodeswalk['hh_500_walk']
# nodeswalk['prop_black_500_walk'] = nodeswalk['pop_black_500_walk'] / nodeswalk['pop_500_walk']
# nodeswalk['prop_white_500_walk'] = nodeswalk['pop_white_500_walk'] / nodeswalk['pop_500_walk']
# nodeswalk['prop_asian_500_walk'] = nodeswalk['pop_asian_500_walk'] / nodeswalk['pop_500_walk']
# nodeswalk['prop_hisp_500_walk'] = nodeswalk['pop_hisp_500_walk'] / nodeswalk['pop_500_walk']
# nodeswalk['prop_rich_500_walk'] = nodeswalk['rich_500_walk'] / nodeswalk['pop_500_walk']
# nodeswalk['prop_poor_500_walk'] = nodeswalk['poor_500_walk'] / nodeswalk['pop_500_walk']

# nodeswalk['prop_children_1500_walk'] = (nodeswalk['children_1500_walk'] > 0).astype(int) / nodeswalk['hh_1500_walk']
# nodeswalk['prop_singles_1500_walk'] = nodeswalk['singles_1500_walk'] / nodeswalk['hh_1500_walk']
# nodeswalk['prop_elderly_1500_walk'] = nodeswalk['elderly_hh_1500_walk'] / nodeswalk['hh_1500_walk']
# nodeswalk['prop_black_1500_walk'] = nodeswalk['pop_black_1500_walk'] / nodeswalk['pop_1500_walk']
# nodeswalk['prop_white_1500_walk'] = nodeswalk['pop_white_1500_walk'] / nodeswalk['pop_1500_walk']
# nodeswalk['prop_asian_1500_walk'] = nodeswalk['pop_asian_1500_walk'] / nodeswalk['pop_1500_walk']
# nodeswalk['prop_hisp_1500_walk'] = nodeswalk['pop_hisp_1500_walk'] / nodeswalk['pop_1500_walk']
# nodeswalk['prop_rich_1500_walk'] = nodeswalk['rich_1500_walk'] / nodeswalk['pop_1500_walk']
# nodeswalk['prop_poor_1500_walk'] = nodeswalk['poor_1500_walk'] / nodeswalk['pop_1500_walk']


# orca.add_column('nodeswalk', 'prop_children_500_walk', nodeswalk['prop_children_500_walk'])
# orca.add_column('nodeswalk', 'prop_singles_500_walk', nodeswalk['prop_singles_500_walk'])
# orca.add_column('nodeswalk', 'prop_elderly_500_walk', nodeswalk['prop_elderly_500_walk'])
# orca.add_column('nodeswalk', 'prop_black_500_walk', nodeswalk['prop_black_500_walk'])
# orca.add_column('nodeswalk', 'prop_white_500_walk', nodeswalk['prop_white_500_walk'])
# orca.add_column('nodeswalk', 'prop_asian_500_walk', nodeswalk['prop_asian_500_walk'])
# orca.add_column('nodeswalk', 'prop_hisp_500_walk', nodeswalk['prop_hisp_500_walk'])
# orca.add_column('nodeswalk', 'prop_rich_500_walk', nodeswalk['prop_rich_500_walk'])
# orca.add_column('nodeswalk', 'prop_poor_500_walk', nodeswalk['prop_poor_500_walk'])

# orca.add_column('nodeswalk', 'prop_children_1500_walk', nodeswalk['prop_children_1500_walk'])
# orca.add_column('nodeswalk', 'prop_singles_1500_walk', nodeswalk['prop_singles_1500_walk'])
# orca.add_column('nodeswalk', 'prop_elderly_1500_walk', nodeswalk['prop_elderly_1500_walk'])
# orca.add_column('nodeswalk', 'prop_black_1500_walk', nodeswalk['prop_black_1500_walk'])
# orca.add_column('nodeswalk', 'prop_white_1500_walk', nodeswalk['prop_white_1500_walk'])
# orca.add_column('nodeswalk', 'prop_asian_1500_walk', nodeswalk['prop_asian_1500_walk'])
# orca.add_column('nodeswalk', 'prop_hisp_1500_walk', nodeswalk['prop_hisp_1500_walk'])
# orca.add_column('nodeswalk', 'prop_rich_1500_walk', nodeswalk['prop_rich_1500_walk'])
# orca.add_column('nodeswalk', 'prop_poor_1500_walk', nodeswalk['prop_poor_1500_walk'])

### Check Distributions

In [ ]:
# hh_income_upper = hh_singlefamily.income.quantile(0.99)
# len(hh[hh['income']>hh_income_upper])

In [ ]:
# %matplotlib notebook
# hh_sf.income.plot(kind='hist',bins=100)
# print(hh_sf.income.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
# %matplotlib notebook
# hh_mf.income.plot(kind='hist',bins=100)
# print(hh_mf.income.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
# %matplotlib notebook
# ax = sns.boxplot(x = hh_sf.income,palette="Set2", width=0.5)

In [ ]:
# %matplotlib notebook
# ax = sns.boxplot(x = hh_mf.income,palette="Set2", width=0.5)

In [ ]:
df = orca.merge_tables(target = 'buildings', tables = ['buildings','parcels','nodeswalk','nodessmall'])
#df.columns.tolist()
df_sf= df[df['residential_units']==1]
df_mf= df[df['residential_units']>1]

In [ ]:
# %matplotlib notebook
# df_sf.avg_income_1500_walk.plot(kind='hist',bins=100)
# plt.show()
# print(df_sf.avg_income_1500_walk.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
# %matplotlib notebook
# df_mf.avg_income_1500_walk.plot(kind='hist',bins=100)
# plt.show()
# print(df_mf.avg_income_1500_walk.quantile([0.10,0.5,0.9,0.99,1]))

In [ ]:
#%matplotlib notebook
#(df_mf.prop_black_500_walk).plot(kind='hist',bins=100)
#(df_mf.prop_asian_500_walk).plot(kind='hist',bins=100)
#(df_mf.prop_white_500_walk).plot(kind='hist',bins=100)
#(df_mf.prop_hisp_500_walk).plot(kind='hist',bins=100)

### Check for Multicollinearity

In [ ]:
# %matplotlib inline
# plt.subplots(figsize=(20, 20))


# # Create correlation matrix
# corr_matrix = df_sf.corr().abs()

# # Select upper triangle of correlation matrix
# upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# high_corr = [column for column in upper.columns if any(upper[column] > 0.98)]
# X= df_sf[high_corr]
# sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")

In [ ]:
# %matplotlib inline
# plt.subplots(figsize=(20, 20))

# corr_matrix = df_mf.corr()

# upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# high_corr = [column for column in upper.columns if any(upper[column] > 0.95)]
# X= df_mf[high_corr]
# plt.subplots(figsize=(20, 20))
# sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")

In [ ]:
%matplotlib inline

selected_features = ['residential_units','res_price_per_sqft', 'pop_1500_walk', 'jobs_1500_walk',
                     'prop_singles_1500_walk','prop_elderly_1500_walk','prop_children_1500_walk',
                     'avg_income_1500_walk','prop_black_1500_walk', 'sqft_per_unit','prop_poor_1500_walk',
                     'jobs_25000','prop_white_1500_walk','prop_black_1500_walk','prop_asian_1500_walk',
                     'prop_hisp_1500_walk']

X = df_mf[selected_features]

plt.subplots(figsize=(12, 12))
sns.heatmap(X.corr(), annot=True, cmap="RdYlGn")
plt.show()

## Model Estimation

### HLCM for Multi-Family

In [48]:
%%time
m = LargeMultinomialLogitStep()
m.choosers = ['households']
m.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m.choice_column = 'building_id'
m.alt_sample_size = 50

#Filters on choosers
m.chooser_filters = ['building_type > 2 &\
                      hh_random < .2 &\
                      recent_mover == 1 &\
                      0 <income < 500000']

#Filters on alternatives
m.alt_filters = ['residential_units > 1',
                 '0 < avg_income_500_walk < 500000',
                 'pop_1500_walk > 0',
                 'sqft_per_unit > 0']


m.model_expression = ' np.log(residential_units) + \
np.log1p(res_price_per_sqft) + \
np.log1p(sqft_per_unit) + \
np.log1p(income):np.log1p(sqft_per_unit) + \
np.log1p(jobs_1500_walk) + \
np.log1p(jobs_25000) + \
np.log(income):np.log(avg_income_1500_walk) + \
np.log1p(pop_1500_walk) + \
white:prop_white_500_walk + \
black:prop_black_500_walk + \
asian:prop_asian_500_walk + \
hispanic:prop_hisp_500_walk\
- 1'

m.name = 'hlcm'
m.tags = ['multi_family','test']
m.fit()

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:         10,416
Model:         Multinomial Logit   Df Residuals:             10,404
Method:       Maximum Likelihood   Df Model:                     12
Date:                 2018-07-20   Pseudo R-squ.:             0.404
Time:                      18:08   Pseudo R-bar-squ.:         0.404
AIC:                  48,575.150   Log-Likelihood:      -24,275.575
BIC:                  48,662.163   LL-Null:             -40,747.632
================================================================================================
                                                 coef   std err         z     P>|z|   Conf. Int.
------------------------------------------------------------------------------------------------
np.log(residential_units)                      1.2205     0.008   154.385     0.000
np.log1p(res_price_per_sqft)                  -0.1663     0.011   -14.697     0.000
np.log1p(sqft_per_unit)                       -0.2008     0.034    -5.922     0.000
np.log1p(income):np.log1p(sqft_per_unit)       0.0164     0.003     4.761     0.000
np.log1p(jobs_1500_walk)                       0.2230     0.010    21.358     0.000
np.log1p(jobs_25000)                           0.1831     0.017    10.619     0.000
np.log(income):np.log(avg_income_1500_walk)    0.0208     0.002    10.965     0.000
np.log1p(pop_1500_walk)                       -0.1370     0.018    -7.620     0.000
white:prop_white_500_walk                      1.8674     0.047    39.563     0.000
black:prop_black_500_walk                     10.0655     0.278    36.270     0.000
asian:prop_asian_500_walk                      3.8504     0.071    54.559     0.000
hispanic:prop_hisp_500_walk                    4.8567     0.089    54.366     0.000
================================================================================================
CPU times: user 57.3 s, sys: 14.1 s, total: 1min 11s
Wall time: 34.8 s

In [40]:
len(m._get_df(tables=m.choosers, filters=m.chooser_filters))

15308

### HLCM for Single-Family

In [ ]:
%%time
m = LargeMultinomialLogitStep()
m.choosers = ['households']
m.alternatives = ['buildings','parcels','nodeswalk','nodessmall']
m.choice_column = 'building_id'
m.alt_sample_size = 50

#Filters on choosers
m.chooser_filters = ['building_type == 2 & household_id <3000000 & recent_mover == 1 & 0 <income < 1000000']

#Filters on alternatives
m.alt_filters = ['residential_units == 1',
                 '0 < avg_income_500_walk < 500000',
                 'sqft_per_unit > 0']

# np.log(residential_units) +
# np.log(income):np.log(avg_income_500_walk) + \
# np.log1p(income):np.log1p(rich_1500_walk) + \
# np.log1p(income):np.log1p(poor_1500_walk) + \
# np.log1p(persons):np.log1p(sqft_per_unit) + \

m.model_expression = ' \
np.log1p(res_price_per_sqft) + \
np.log1p(income):np.log1p(res_price_per_sqft) + \
np.log1p(sqft_per_unit) + \
np.log1p(income):np.log1p(sqft_per_unit) + \
np.log1p(acres) + \
np.log1p(income):np.log1p(acres) + \
np.log1p(pop_1500_walk) + \
np.log1p(jobs_1500_walk) + \
np.log1p(jobs_25000) + \
single:np.log1p(singles_1500_walk) + \
elderly:np.log1p(elderly_hh_1500_walk) + \
children:np.log1p(children_1500_walk) + \
white:np.log1p(pop_white_1500_walk) + \
black:np.log1p(pop_black_1500_walk) + \
asian:np.log1p(pop_asian_1500_walk) + \
hispanic:np.log1p(pop_hisp_1500_walk) \
- 1'

m.name = 'hlcm'
m.tags = ['single_family', 'test']
m.fit()