In [1]:
import pandas as pd
import csv

In [2]:
counties = ["ALAMEDA", "CONTRA_COSTA", "MARIN", "NAPA", "SAN_FRANCISCO",
        "SAN_MATEO", "SANTA_CLARA", "SOLANO", "SONOMA"]

In [3]:
counties

['ALAMEDA',
 'CONTRA_COSTA',
 'MARIN',
 'NAPA',
 'SAN_FRANCISCO',
 'SAN_MATEO',
 'SANTA_CLARA',
 'SOLANO',
 'SONOMA']

In [16]:
path = '../data/'
df = pd.DataFrame()

In [6]:
ALAMEDA = pd.read_csv(path+'ARB_HIST_'+'ALAMEDA'+'_v3.csv', low_memory=False)

In [7]:
CONTRA_COSTA = pd.read_csv(path+'ARB_HIST_'+'CONTRA_COSTA'+'_v3.csv', low_memory=False)

In [8]:
MARIN = pd.read_csv(path+'ARB_HIST_'+'MARIN'+'_v3.csv', low_memory=False)

In [9]:
NAPA = pd.read_csv(path+'ARB_HIST_'+'NAPA'+'_v3.csv', low_memory=False)

In [10]:
SAN_FRANCISCO = pd.read_csv(path+'ARB_HIST_'+'SAN_FRANCISCO'+'_v3.csv', low_memory=False)

In [11]:
SAN_MATEO = pd.read_csv(path+'ARB_HIST_'+'SAN_MATEO'+'_v3.csv', low_memory=False)

In [12]:
SANTA_CLARA = pd.read_csv(path+'ARB_HIST_'+'SANTA_CLARA'+'_v3.csv', low_memory=False)

In [13]:
SOLANO = pd.read_csv(path+'ARB_HIST_'+'SOLANO'+'_v3.csv', low_memory=False)

In [14]:
SONOMA = pd.read_csv(path+'ARB_HIST_'+'SONOMA'+'_v3.csv', low_memory=False)

In [17]:
sales = df.append([ALAMEDA, CONTRA_COSTA, MARIN, NAPA, SAN_FRANCISCO,
        SAN_MATEO, SANTA_CLARA, SOLANO, SONOMA])

In [18]:
sales.head()

,sr_unique_id,sr_property_id,sr_scm_id,mm_state_code,mm_muni_name,mm_fips_state_code,mm_fips_muni_code,mm_fips_county_name,sr_parcel_nbr_raw,sr_site_addr_raw,...,use_code_std,sa_sqft,sa_x_coord,sa_y_coord,sa_geo_qlty_code,ucb_geo_id,ucb_price_sqft,ucb_price_sqft_adj,ucb_condo_subdiv_flag,ucb_condo_subdiv_sqft
0,24189040,38443515,33,CA,ALAMEDA,6,1,ALAMEDA,NaN,NaN,...,RSFR,1047,122.088274,37.641319,0,6001437400,112,206,0,1047
1,24189410,38275729,33,CA,ALAMEDA,6,1,ALAMEDA,NaN,NaN,...,RMFD,11880,122.268809,37.879121,0,6001421700,37,68,0,11880
2,24189724,38264302,33,CA,ALAMEDA,6,1,ALAMEDA,NaN,NaN,...,RSFR,2584,122.250448,37.862069,0,6001423700,152,281,0,2584
3,24189841,38377769,33,CA,ALAMEDA,6,1,ALAMEDA,NaN,NaN,...,RCON,1383,122.030843,37.536760,1,6001444400,90,167,0,1383
4,24189908,38490265,33,CA,ALAMEDA,6,1,ALAMEDA,NaN,NaN,...,RSFR,3499,121.916797,37.504846,0,6001443103,56,104,0,3499

In [19]:
sales.size

208308179

I'm not sure why the following does not work. I've tried several variations and ended up doing it county by county, which is silly.

In [23]:
dfsales = pd.DataFrame()
for county in counties:
    print(county)
    temp = pd.read_csv(path+'ARB_ASSR_'+county+'_v3.csv', low_memory=False)
    sales2 = dfsales.append(temp)

ALAMEDA
CONTRA_COSTA
MARIN
NAPA
SAN_FRANCISCO
SAN_MATEO
SANTA_CLARA
SOLANO
SONOMA

In [26]:
sales2.size

35827730

In [20]:
sales.to_csv(path+'sales.csv')