## Generating Accessibility Vars

Arezoo Besharati, UrbanSim, July 2018

In [1]:
import os; os.chdir('../')
import numpy as np, pandas as pd 
import orca

### Load data

In [2]:
# Load any script-based Orca registrations
from scripts import datasources
from scripts import models

In [3]:
# get a list of all existing tables
orca.list_tables()

['parcels', 'buildings', 'rentals', 'units', 'households', 'persons', 'jobs']

### Generate Node variables

In [5]:
orca.run(['initialize_network'])

Running step 'initialize_network'
Time to execute step 'initialize_network': 18.77 s
Total time to execute iteration 1 with iteration value None: 18.78 s

In [6]:
orca.run(['network_aggregations'])

Running step 'network_aggregations'
Computing accessibility variables
Computing residential_units_500
Removed 4 rows because they contain missing values
Computing residential_units_1500
Removed 4 rows because they contain missing values
Computing population_1500
Removed 189769 rows because they contain missing values
Computing poor_1500
Removed 53114 rows because they contain missing values
Computing renters_1500
Removed 102597 rows because they contain missing values
Computing med_income_500
Removed 189769 rows because they contain missing values
Computing med_income_500_log
Removed 189769 rows because they contain missing values
Computing job_1500
Computing job_25km
Computing ave_hhsize
Removed 189769 rows because they contain missing values
Computing med_rent_sqft_1500
       residential_units_500  residential_units_1500  population_1500  \
count           30826.000000            30826.000000     30826.000000
mean                4.360019                6.175426      3243.875000
std                 2.391179                2.258851      3562.560059
min                 0.000000                0.000000         0.000000
25%                 2.993019                5.718709       713.128159
50%                 5.298047                7.001040      2655.563354
75%                 6.110861                7.536843      4538.661377
max                 8.692843               10.171852     35464.972656

          poor_1500  renters_1500  med_income_500  med_income_500_log  \
count  30826.000000  30826.000000    3.082600e+04        30826.000000
mean       5.264183      5.140188    7.976662e+04            9.548852
std        2.210156      2.218855    5.314166e+04            4.181036
min        0.000000      0.000000   -1.000000e+00            0.000000
25%        4.496625      4.276326    4.940000e+04           10.807706
50%        5.893643      5.750208    8.000000e+04           11.289782
75%        6.709006      6.635617    1.100000e+05           11.608235
max        9.721747      9.963508    1.007000e+06           13.822486

           job_1500      job_25km    ave_hhsize  med_rent_sqft_1500
count  30826.000000  30826.000000  30826.000000        30826.000000
mean      19.039450     25.153519      1.216286            1.955190
std        5.135336      2.371782      0.332457            1.341586
min        0.000000      0.000000      0.000000           -1.000000
25%       18.786140     25.027816      1.194292            1.555556
50%       20.329606     25.552179      1.280934            2.201671
75%       21.501802     26.013742      1.376780            2.750000
max       26.167675     27.553993      2.302585           14.000000
Time to execute step 'network_aggregations': 129.65 s
Total time to execute iteration 1 with iteration value None: 129.66 s

In [7]:
orca.list_tables()

['parcels',
 'buildings',
 'rentals',
 'units',
 'households',
 'persons',
 'jobs',
 'nodes']

In [8]:
## make dataframes for all tables
frames = {name: orca.get_table(name).to_frame() for name in orca.list_tables()}

In [10]:
nodes = frames['nodes']
print('{} nodes have median income zero or below'.format(len(nodes[nodes.med_income_500 <= 0])))
print('Total nodes count {}'.format(len (nodes)))

4917 nodes have median income zero or below
Total nodes count 30826

In [11]:
print('{} nodes have median rent zero or below'.format(len(nodes[nodes.med_rent_sqft_1500 <= 0])))
print('Total nodes count {}'.format(len (nodes)))

3838 nodes have median rent zero or below
Total nodes count 30826