In [187]:
from collections import OrderedDict
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
from urbansim_templates.models import SmallMultinomialLogitStep
import orca
import os; os.chdir('../')
import warnings; warnings.simplefilter('ignore')

import pandas as pd
# import pandana as pdna
import time
import numpy as np
import matplotlib.pyplot as plt
import os
from functools import reduce

# import matplotlib
# matplotlib.style.use('ggplot')

%matplotlib inline

pd.options.display.max_columns = 80

In [303]:
trips = pd.read_csv('/home/emma/ual_model_workspace/fall-2018-models/notebooks-emma/HWtrips_101418.csv')

trips.head()

,Unnamed: 0,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,Ozone,Dzone,Oxcord,Oycord,Dxcord,Dycord,MODE
0,0,10352742,1.035274e+09,home,13.583333,19.166667,8.75,9.166667,0.416667,424.0,700.0,-122.017274,37.388281,-121.664242,37.151629,drive_alone
1,1,10352742,1.035274e+09,work,7.583333,9.166667,16.75,19.166667,2.416667,700.0,424.0,-121.664242,37.151629,-122.017274,37.388281,drive_alone
2,2,10414944,1.041494e+09,home,14.500000,18.000000,8.50,8.750000,0.250000,1095.0,1152.0,-122.091521,38.010760,-122.118103,37.885783,drive_alone
3,3,10414944,1.041494e+09,work,8.750000,8.750000,17.50,18.000000,0.500000,1152.0,1095.0,-122.118103,37.885783,-122.091521,38.010760,drive_alone
4,4,10417661,1.041766e+09,home,13.250000,18.750000,8.00,9.000000,1.000000,241.0,69.0,-122.414811,37.610585,-122.447100,37.779020,drive_alone

In [304]:
TOD_list = ['EA','AM','MD','PM','EV']
trips['TOD'] = (
    ((trips.origin_ET.between(3,6,inclusive = False)) | (trips.origin_ET==3))*1 +
    ((trips.origin_ET.between(6,9,inclusive = False)) | (trips.origin_ET==6))*2 +
    ((trips.origin_ET.between(9,15.5,inclusive = False)) | (trips.origin_ET==9))*3 +
    ((trips.origin_ET.between(15.5,18.5,inclusive = False)) | (trips.origin_ET==15.5))*4 +
    ((trips.origin_ET>=18.5))*5 +
    ((trips.origin_ET.between(0,3,inclusive = False)) | (trips.origin_ET==0))*5
)
TOD_dict = dict(zip(range(1,6),TOD_list))
trips['TOD'] = trips['TOD'].replace(TOD_dict)

TOD_dict = dict(zip(['EA', 'AM', 'MD', 'PM', 'EV'],range(1,6)))
trips['TOD'] = trips['TOD'].replace(TOD_dict)

trips['TOD'] = trips['TOD'] - 1

In [275]:
person = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_PER.csv')

person.head()

,SAMPN,PERNO,RELAT,GEND,AGE,AGEB,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,CNTRY,LIC,USER,TRANS,TPTYP1,TPTYP2,TPTYP3,TPTYP4,TPTYP5,TPTYP6,TPTYP7,O_TPTYP,CLIP1,CLIP2,CLIP3,COMP,MET,PASSTL,FLEX,EMPLY,WKSTAT,O_WKSTAT,JOBS,WLOC,WNAME,WCITY,WSTAT,...,HVLOG,PTRIPS,TOLLF,TOLLR1,TOLLR2,TOLLR3,TOLLR4,TOLLR5,TOLLR6,TOLLR7,TOLLR8,TOLLR9,TOLLR10,TOLLB1,TOLLB2,TOLLB3,TOLLB4,TOLLB5,TOLLB6,TOLLB7,TOLLB8,TOLLB9,TOLLB10,HOVL,NOGOWHY,NOGOWHY_O,InComplete,Moto_trip,WCTFIP,WTRACT,SCTFIP,STRACT,WPrimaryCity,WSTFIP,W2PrimaryCity,W2STFIP,SPrimaryCity,SSTFIP,PERWGT,EXPPERWGT
0,1031985,1,1,1,74,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
1,1031985,2,2,2,73,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
2,1032036,1,1,1,46,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,HIDDEN,SAN DIEGO,CA,...,NaN,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,73.0,17032.0,NaN,NaN,SAN DIEGO,6.0,NaN,NaN,NaN,NaN,1.223974,414.701494
3,1032036,2,2,2,47,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.863473,292.558373
4,1032036,3,3,1,15,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,73.0,17030.0,NaN,NaN,NaN,NaN,SAN DIEGO,6.0,0.941412,318.965100

In [32]:
# person1 = person.loc[person['RACE1'] == 1.0]

In [45]:
# person['RACE'] = person['RACE1']

In [46]:
# person.loc[person.HISP == 1.0, 'RACE'] = 6.0

In [276]:
# person['RACE'].value_counts()

In [277]:
# person['RACE1'].value_counts()

In [278]:
# print (person['RACE1'].count())
# print (person['SAMPN'].count())

In [279]:
# person1['RACE2'].value_counts()

In [35]:
# person1['RACE3'].value_counts()

In [36]:
# person1['RACE4'].value_counts()

In [37]:
# person['O_RACE'].count()

In [38]:
# person['SAMPN'].count()

In [39]:
# person['O_RACE'].value_counts()

In [281]:
person = person[['SAMPN','PERNO','GEND','AGE','HISP','RACE1','RACE2','RACE3','RACE4','O_RACE','NTVTY','LIC','JOBS','HOURS','EDUCA','WSCHED','DISAB']]

# person = person[['SAMPN','PERNO','GEND','AGE','RACE','NTVTY','LIC','JOBS','HOURS','EDUCA','WSCHED','DISAB']]

In [283]:
person['HHPER'] = person['SAMPN'].map(str) + person['PERNO'].map(str)

person['female'] = person['GEND'] - 1

person['HISP'] = np.where(person['HISP'] == 2, 0, person['HISP'])
person['white'] = np.where((person['RACE1'].isin([1.0]) | person['RACE2'].isin([1.0]) | person['RACE3'].isin([1.0]) | person['RACE4'].isin([1.0])),1,0)
person['black'] = np.where((person['RACE1'].isin([2.0]) | person['RACE2'].isin([2.0]) | person['RACE3'].isin([2.0]) | person['RACE4'].isin([2.0])),1,0)
person['native'] = np.where((person['RACE1'].isin([3.0]) | person['RACE2'].isin([3.0]) | person['RACE3'].isin([3.0]) | person['RACE4'].isin([3.0])),1,0)
person['asian'] = np.where((person['RACE1'].isin([4.0]) | person['RACE2'].isin([4.0]) | person['RACE3'].isin([4.0]) | person['RACE4'].isin([4.0])),1,0)
person['PI'] = np.where((person['RACE1'].isin([5.0]) | person['RACE2'].isin([5.0]) | person['RACE3'].isin([5.0]) | person['RACE4'].isin([5.0])),1,0)

person['immigrant'] = person['NTVTY'] - 1
person['nolic'] = person['LIC'] - 1

person['DISAB'] = np.where(person['DISAB'] == 2, 0, person['HISP'])

person.head()

,SAMPN,PERNO,GEND,AGE,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,LIC,JOBS,HOURS,EDUCA,WSCHED,DISAB,female,white,black,native,asian,PI,immigrant,nolic,HHPER
0,1031985,1,1,74,0,1.0,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,6,NaN,0,0,1,0,0,0,0,0,0.0,10319851
1,1031985,2,2,73,0,1.0,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,6,NaN,0,1,1,0,0,0,0,0,0.0,10319852
2,1032036,1,1,46,0,1.0,NaN,NaN,NaN,NaN,1,1.0,1.0,40.0,6,2.0,0,0,1,0,0,0,0,0,0.0,10320361
3,1032036,2,2,47,0,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,1.0,NaN,NaN,6,NaN,0,1,1,0,0,0,0,0,0.0,10320362
4,1032036,3,1,15,0,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,NaN,NaN,1,NaN,0,0,1,0,0,0,0,0,NaN,10320363

In [285]:
hh_df = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_HH.csv')[
  ['SAMPN','HHVEH','HHBIC','OWN','INCOM','HHSIZ']]

hh_df['rent'] = hh_df['OWN'] - 1

hh_df.head()

     SAMPN  HHVEH  HHBIC  OWN  INCOM  HHSIZ  rent
0  1031985      2      2    1      3      2     0
1  1032036      1      4    1      7      5     0
2  1032053      2      2    2      2      6     1
3  1032425      2      3    1      7      2     0
4  1032558      0      0    2      1      1     1

In [286]:
demo = person.merge(hh_df,on = 'SAMPN',how = 'left')

demo.head()

,SAMPN,PERNO,GEND,AGE,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,LIC,JOBS,HOURS,EDUCA,WSCHED,DISAB,female,white,black,native,asian,PI,immigrant,nolic,HHPER,HHVEH,HHBIC,OWN,INCOM,HHSIZ,rent
0,1031985,1,1,74,0,1.0,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,6,NaN,0,0,1,0,0,0,0,0,0.0,10319851,2,2,1,3,2,0
1,1031985,2,2,73,0,1.0,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,6,NaN,0,1,1,0,0,0,0,0,0.0,10319852,2,2,1,3,2,0
2,1032036,1,1,46,0,1.0,NaN,NaN,NaN,NaN,1,1.0,1.0,40.0,6,2.0,0,0,1,0,0,0,0,0,0.0,10320361,1,4,1,7,5,0
3,1032036,2,2,47,0,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,1.0,NaN,NaN,6,NaN,0,1,1,0,0,0,0,0,0.0,10320362,1,4,1,7,5,0
4,1032036,3,1,15,0,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,NaN,NaN,1,NaN,0,0,1,0,0,0,0,0,NaN,10320363,1,4,1,7,5,0

In [287]:
demo = demo[['SAMPN','PERNO','HHPER','female','AGE','HISP','white','black','native','asian','PI','immigrant','nolic','JOBS','HOURS','EDUCA','WSCHED','DISAB','HHVEH','HHBIC','rent','INCOM','HHSIZ']]

In [289]:
na_dict = {
    'female':[8],
    'AGE':[998,999],
#     'RACE':[97,98,99],
    'immigrant':[7,8],
    'nolic':[7,8],
    'JOBS':[98,99],
    'HOURS':[998,999],
    'EDUCA':[7,8,9],
    'WSCHED':[8,9],
    'DISAB':[8,9],
    'HHVEH':[98,99],
    'HHBIC':[98,99],
#     'VEHNEW':[8,9],
    'rent':[6,7,8],
    'INCOM':[98,99],
    'HHSIZ':[98,99]
}

for col in na_dict:
    for vals in na_dict[col]:
        demo[col] = demo[col].replace(vals,np.nan)
        
# demo.dropna(inplace = True)

In [290]:
demo.isnull().sum(axis = 0)

SAMPN            0
PERNO            0
HHPER            0
female         311
AGE           3924
HISP             0
white            0
black            0
native           0
asian            0
PI               0
immigrant      325
nolic        19666
JOBS         57427
HOURS        59603
EDUCA         2161
WSCHED       58106
DISAB         1154
HHVEH            0
HHBIC          148
rent           339
INCOM         8839
HHSIZ            0
dtype: int64

In [291]:
demo1 = demo.copy()

demo1.dropna(inplace = True)

In [292]:
print (len(person.index))
print (len(hh_df.index))
print (len(demo.index))
print (len(demo1.index))

109113
42431
109113
43487

In [305]:
trips['HHPER'] = trips['HHPER'].map(str)

trips0 = pd.merge(trips, demo, on='HHPER')

trips1 = pd.merge(trips, demo1, on='HHPER')

print (len(trips.index))
print (len(trips0.index))
print (len(trips1.index))

11595
11595
9895

In [296]:
trips0.isnull().sum(axis = 0)

Unnamed: 0        0
HHPER             0
HHPERTRIP         0
origin            0
origin_dwell    208
origin_ST       207
origin_ET         0
trip_ET          59
TT               59
Ozone             0
Dzone             0
Oxcord            0
Oycord            0
Dxcord            0
Dycord            0
MODE              0
SAMPN             0
PERNO             0
female           32
AGE             493
HISP              0
white             0
black             0
native            0
asian             0
PI                0
immigrant        25
nolic             4
JOBS             25
HOURS           276
EDUCA           158
WSCHED          117
DISAB           118
HHVEH             0
HHBIC             8
rent             18
INCOM           947
HHSIZ             0
dtype: int64

In [97]:
# x = trips0.loc[(trips0['VEHNEW'].isnull()) & (trips0['INCOM'].isnull())]

# len(x.index)

189

In [172]:
# trips = trips0.drop(columns=['VEHNEW'])

In [173]:
# trips.dropna(inplace = True)

# len(trips.index)

9496

In [67]:
# trips['HHPER'] = trips['HHPER'].map(str)

# trips = pd.merge(trips, demo, on='HHPER')

# trips.head()

In [119]:
skim_dir = '/home/data/fall_2018/mtc_skims'
distance_EA = pd.read_csv(skim_dir + f'/DistanceSkimsDatabaseEA.csv').replace(-999, 9999)
distance_AM = pd.read_csv(skim_dir + f'/DistanceSkimsDatabaseAM.csv').replace(-999, 9999)
distance_MD = pd.read_csv(skim_dir + f'/DistanceSkimsDatabaseMD.csv').replace(-999, 9999)
distance_PM = pd.read_csv(skim_dir + f'/DistanceSkimsDatabasePM.csv').replace(-999, 9999)
distance_EV = pd.read_csv(skim_dir + f'/DistanceSkimsDatabaseEV.csv').replace(-999, 9999)

cost_EA = pd.read_csv(skim_dir + f'/CostSkimsDatabaseEA.csv').replace(-999, 9999)
cost_AM = pd.read_csv(skim_dir + f'/CostSkimsDatabaseAM.csv').replace(-999, 9999)
cost_MD = pd.read_csv(skim_dir + f'/CostSkimsDatabaseMD.csv').replace(-999, 9999)
cost_PM = pd.read_csv(skim_dir + f'/CostSkimsDatabasePM.csv').replace(-999, 9999)
cost_EV = pd.read_csv(skim_dir + f'/CostSkimsDatabaseEV.csv').replace(-999, 9999)

Time_EA = pd.read_csv(skim_dir + f'/TimeSkimsDatabaseEA.csv').replace(-999, 9999)
Time_AM = pd.read_csv(skim_dir + f'/TimeSkimsDatabaseAM.csv').replace(-999, 9999)
Time_MD = pd.read_csv(skim_dir + f'/TimeSkimsDatabaseMD.csv').replace(-999, 9999)
Time_PM = pd.read_csv(skim_dir + f'/TimeSkimsDatabasePM.csv').replace(-999, 9999)
Time_EV = pd.read_csv(skim_dir + f'/TimeSkimsDatabaseEV.csv').replace(-999, 9999)

In [132]:
distance_EA = distance_EA.rename(
        columns = dict(zip([i for i in distance_EA.columns if i not in ['orig','dest']],
         [i+ f'_distance_EA' for i in distance_EA.columns if i not in ['orig','dest']])))

# distance_EA = distance_EA.add_suffix('_distance_EA')

# distance_EA.columns = [str(col) + '_x' for col in distance_EA.columns if col not in ['orig','dest']]

In [133]:
distance_AM = distance_AM.rename(
        columns = dict(zip([i for i in distance_AM.columns if i not in ['orig','dest']],
         [i+ f'_distance_AM' for i in distance_AM.columns if i not in ['orig','dest']])))

In [134]:
distance_MD = distance_MD.rename(
        columns = dict(zip([i for i in distance_MD.columns if i not in ['orig','dest']],
         [i+ f'_distance_MD' for i in distance_MD.columns if i not in ['orig','dest']])))

In [135]:
distance_PM = distance_PM.rename(
        columns = dict(zip([i for i in distance_PM.columns if i not in ['orig','dest']],
         [i+ f'_distance_PM' for i in distance_PM.columns if i not in ['orig','dest']])))

In [136]:
distance_EV = distance_EV.rename(
        columns = dict(zip([i for i in distance_EV.columns if i not in ['orig','dest']],
         [i+ f'_distance_EV' for i in distance_EV.columns if i not in ['orig','dest']])))

In [137]:
cost_EA = cost_EA.rename(
        columns = dict(zip([i for i in cost_EA.columns if i not in ['orig','dest']],
         [i+ f'_cost_EA' for i in cost_EA.columns if i not in ['orig','dest']])))

In [138]:
cost_AM=cost_AM.rename(
        columns = dict(zip([i for i in cost_AM.columns if i not in ['orig','dest']],
         [i+ f'_cost_AM' for i in cost_AM.columns if i not in ['orig','dest']])))

In [139]:
cost_MD=cost_MD.rename(
        columns = dict(zip([i for i in cost_MD.columns if i not in ['orig','dest']],
         [i+ f'_cost_MD' for i in cost_MD.columns if i not in ['orig','dest']])))

In [140]:
cost_PM= cost_PM.rename(
        columns = dict(zip([i for i in cost_PM.columns if i not in ['orig','dest']],
         [i+ f'_cost_PM' for i in cost_PM.columns if i not in ['orig','dest']])))

In [141]:
cost_EV=cost_EV.rename(
        columns = dict(zip([i for i in cost_EV.columns if i not in ['orig','dest']],
         [i+ f'_cost_EV' for i in cost_EV.columns if i not in ['orig','dest']])))

In [142]:
Time_EA=Time_EA.rename(
        columns = dict(zip([i for i in Time_EA.columns if i not in ['orig','dest']],
         [i+ f'_Time_EA' for i in Time_EA.columns if i not in ['orig','dest']])))

In [143]:
Time_AM=Time_AM.rename(
        columns = dict(zip([i for i in Time_AM.columns if i not in ['orig','dest']],
         [i+ f'_Time_AM' for i in Time_AM.columns if i not in ['orig','dest']])))

In [144]:
Time_MD=Time_MD.rename(
        columns = dict(zip([i for i in Time_MD.columns if i not in ['orig','dest']],
         [i+ f'_Time_MD' for i in Time_MD.columns if i not in ['orig','dest']])))

In [145]:
Time_PM=Time_PM.rename(
        columns = dict(zip([i for i in Time_PM.columns if i not in ['orig','dest']],
         [i+ f'_Time_PM' for i in Time_PM.columns if i not in ['orig','dest']])))

In [146]:
Time_EV=Time_EV.rename(
        columns = dict(zip([i for i in Time_EV.columns if i not in ['orig','dest']],
         [i+ f'_Time_EV' for i in Time_EV.columns if i not in ['orig','dest']])))

In [147]:
data_frames = [distance_EA,distance_AM,distance_MD,distance_PM,distance_EV,
              cost_EA,cost_AM,cost_MD,cost_PM,cost_EV,
              Time_EA,Time_AM,Time_MD,Time_PM,Time_EV]
skims = reduce(lambda  left,right: pd.merge(left,right,on=['orig','dest'],
                                            how='outer'), data_frames)

In [148]:
skims.head()

,orig,dest,da_distance_EA,daToll_distance_EA,s2_distance_EA,s2Toll_distance_EA,s3_distance_EA,s3Toll_distance_EA,walk_distance_EA,bike_distance_EA,da_distance_AM,daToll_distance_AM,s2_distance_AM,s2Toll_distance_AM,s3_distance_AM,s3Toll_distance_AM,walk_distance_AM,bike_distance_AM,da_distance_MD,daToll_distance_MD,s2_distance_MD,s2Toll_distance_MD,s3_distance_MD,s3Toll_distance_MD,walk_distance_MD,bike_distance_MD,da_distance_PM,daToll_distance_PM,s2_distance_PM,s2Toll_distance_PM,s3_distance_PM,s3Toll_distance_PM,walk_distance_PM,bike_distance_PM,da_distance_EV,daToll_distance_EV,s2_distance_EV,s2Toll_distance_EV,s3_distance_EV,s3Toll_distance_EV,...,s3_Time_AM,s3Toll_Time_AM,walk_Time_AM,bike_Time_AM,wTrnW_Time_AM,dTrnW_Time_AM,wTrnD_Time_AM,da_Time_MD,daToll_Time_MD,s2_Time_MD,s2Toll_Time_MD,s3_Time_MD,s3Toll_Time_MD,walk_Time_MD,bike_Time_MD,wTrnW_Time_MD,dTrnW_Time_MD,wTrnD_Time_MD,da_Time_PM,daToll_Time_PM,s2_Time_PM,s2Toll_Time_PM,s3_Time_PM,s3Toll_Time_PM,walk_Time_PM,bike_Time_PM,wTrnW_Time_PM,dTrnW_Time_PM,wTrnD_Time_PM,da_Time_EV,daToll_Time_EV,s2_Time_EV,s2Toll_Time_EV,s3_Time_EV,s3Toll_Time_EV,walk_Time_EV,bike_Time_EV,wTrnW_Time_EV,dTrnW_Time_EV,wTrnD_Time_EV
0,1,1,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,...,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00
1,1,2,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24,...,6.13,6.13,4.8,1.20,7.20,5.45,3.79,6.14,6.14,6.14,6.14,6.14,6.14,4.8,1.20,8.20,5.90,3.86,6.15,6.15,6.15,6.15,6.15,6.15,4.8,1.20,5.08,3.58,3.68,6.13,6.13,6.13,6.13,6.13,6.13,4.8,1.20,8.67,6.97,4.93
2,1,3,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,0.44,...,6.59,6.59,8.8,2.20,9.70,5.93,4.39,6.59,6.59,6.59,6.59,6.59,6.59,8.8,2.20,10.70,7.62,4.46,6.60,6.60,6.60,6.60,6.60,6.60,8.8,2.20,8.15,5.94,4.28,6.58,6.58,6.58,6.58,6.58,6.58,8.8,2.20,12.70,9.02,5.53
3,1,4,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,0.41,...,6.63,6.63,8.2,2.05,6.10,4.40,3.73,6.65,6.65,6.65,6.65,6.65,6.65,8.2,2.05,6.18,4.28,3.80,6.64,6.64,6.64,6.64,6.64,6.64,8.2,2.05,6.03,4.33,3.62,6.62,6.62,6.62,6.62,6.62,6.62,8.2,2.05,7.10,5.40,5.40
4,1,5,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,0.68,...,7.28,7.28,13.6,3.40,7.42,5.38,4.85,7.45,7.45,7.45,7.45,7.45,7.45,13.6,3.40,7.64,5.53,4.93,7.37,7.37,7.37,7.37,7.37,7.37,13.6,3.40,7.38,5.32,4.78,7.27,7.27,7.27,7.27,7.27,7.27,13.6,3.40,9.11,7.13,5.85

In [109]:
# TOD_list = ['EA','AM','MD','PM','EV']
# var_list = ['Distance','Cost','Time']
# skim_dir = '/home/data/fall_2018/mtc_skims'
# skim_dict = dict()


# for var in var_list:
#     df_base = pd.read_csv(skim_dir + f'/{var}SkimsDatabaseEA.csv').replace(-999, 9999)
# #     df_base['TOD'] = 'EA'
#     df_base.rename(
#         columns = dict(zip([i for i in df_base.columns if i not in ['orig','dest']],
#          [i+ f'_{var}'+ f'_EA' for i in df_base.columns if i not in ['orig','dest']])))
#     for TOD in TOD_list[1:]:
#         df_tod = pd.read_csv(skim_dir + f'/{var}SkimsDatabase{TOD}.csv').replace(-999, 9999)
#         df_tod.rename(
#         columns = dict(zip([i for i in df_tod.columns if i not in ['orig','dest']],
#          [i+ f'_{var}'+ f'_{TOD}' for i in df_tod.columns if i not in ['orig','dest']])))
#         df_base = df_base.merge(df_tod, how = 'left', on = ['orig','dest'])

In [ ]:
# TOD_list = ['EA','AM','MD','PM','EV']
# var_list = ['Distance','Cost','Time']
# skim_dir = '/home/data/fall_2018/mtc_skims'
# skim_dict = dict()


# for var in var_list:
#     df_base = pd.read_csv(skim_dir + f'/{var}SkimsDatabaseEA.csv').replace(-999, 9999)
#     df_base.rename(
#         columns = dict(zip([i for i in df_base.columns],
#          [i+ f'_{var}'+ f'_EA' for i in df_base.columns])))
#     for TOD in TOD_list[1:]:
#         df_tod = pd.read_csv(skim_dir + f'/{var}SkimsDatabase{TOD}.csv').replace(-999, 9999)
#         df_tod.rename(
#         columns = dict(zip([i for i in df_tod.columns if i not in ['orig','dest']],
#          [i+ f'_{var}'+ f'_{TOD}' for i in df_tod.columns if i not in ['orig','dest']])))
#         df_base = df_base.merge(df_tod, how = 'left', on = ['orig','dest'])

In [ ]:
# for TOD in TOD_list:
#         df_base = pd.read_csv(skim_dir + f'/DistanceSkimsDatabase{TOD}.csv').replace(-999, 9999)
#         df_base.rename(
#         columns = dict(zip([i for i in df_base.columns if i not in ['orig','dest']],
#          [i+ f'_{TOD}' for i in df_base.columns if i not in ['orig','dest']])))
#         df_distance = df_base.merge(df_tod, how = 'left', on = ['orig','dest'])

In [110]:
# df_base.head()

,orig,dest,da_x,daToll_x,s2_x,s2Toll_x,s3_x,s3Toll_x,walk_x,bike_x,wTrnW_x,dTrnW_x,wTrnD_x,da_y,daToll_y,s2_y,s2Toll_y,s3_y,s3Toll_y,walk_y,bike_y,wTrnW_y,dTrnW_y,wTrnD_y,da_x,daToll_x,s2_x,s2Toll_x,s3_x,s3Toll_x,walk_x,bike_x,wTrnW_x,dTrnW_x,wTrnD_x,da_y,daToll_y,s2_y,s2Toll_y,s3_y,s3Toll_y,walk_y,bike_y,wTrnW_y,dTrnW_y,wTrnD_y,da,daToll,s2,s2Toll,s3,s3Toll,walk,bike,wTrnW,dTrnW,wTrnD
0,1,1,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00,5.80,5.80,5.80,5.80,5.80,5.80,2.4,0.60,9999.00,9999.00,9999.00
1,1,2,6.13,6.13,6.13,6.13,6.13,6.13,4.8,1.20,11.57,8.75,7.98,6.13,6.13,6.13,6.13,6.13,6.13,4.8,1.20,7.20,5.45,3.79,6.14,6.14,6.14,6.14,6.14,6.14,4.8,1.20,8.20,5.90,3.86,6.15,6.15,6.15,6.15,6.15,6.15,4.8,1.20,5.08,3.58,3.68,6.13,6.13,6.13,6.13,6.13,6.13,4.8,1.20,8.67,6.97,4.93
2,1,3,6.58,6.58,6.58,6.58,6.58,6.58,8.8,2.20,13.97,11.60,9.08,6.59,6.59,6.59,6.59,6.59,6.59,8.8,2.20,9.70,5.93,4.39,6.59,6.59,6.59,6.59,6.59,6.59,8.8,2.20,10.70,7.62,4.46,6.60,6.60,6.60,6.60,6.60,6.60,8.8,2.20,8.15,5.94,4.28,6.58,6.58,6.58,6.58,6.58,6.58,8.8,2.20,12.70,9.02,5.53
3,1,4,6.62,6.62,6.62,6.62,6.62,6.62,8.2,2.05,8.17,5.80,8.21,6.63,6.63,6.63,6.63,6.63,6.63,8.2,2.05,6.10,4.40,3.73,6.65,6.65,6.65,6.65,6.65,6.65,8.2,2.05,6.18,4.28,3.80,6.64,6.64,6.64,6.64,6.64,6.64,8.2,2.05,6.03,4.33,3.62,6.62,6.62,6.62,6.62,6.62,6.62,8.2,2.05,7.10,5.40,5.40
4,1,5,7.27,7.27,7.27,7.27,7.27,7.27,13.6,3.40,11.17,8.79,8.66,7.28,7.28,7.28,7.28,7.28,7.28,13.6,3.40,7.42,5.38,4.85,7.45,7.45,7.45,7.45,7.45,7.45,13.6,3.40,7.64,5.53,4.93,7.37,7.37,7.37,7.37,7.37,7.37,13.6,3.40,7.38,5.32,4.78,7.27,7.27,7.27,7.27,7.27,7.27,13.6,3.40,9.11,7.13,5.85

In [306]:
# trips['TOD'] = (
#     ((trips.origin_ET.between(3,6,inclusive = False)) | (trips.origin_ET==3))*1 +
#     ((trips.origin_ET.between(6,9,inclusive = False)) | (trips.origin_ET==6))*2 +
#     ((trips.origin_ET.between(9,15.5,inclusive = False)) | (trips.origin_ET==9))*3 +
#     ((trips.origin_ET.between(15.5,18.5,inclusive = False)) | (trips.origin_ET==15.5))*4 +
#     ((trips.origin_ET>=18.5))*5 +
#     ((trips.origin_ET.between(0,3,inclusive = False)) | (trips.origin_ET==0))*5
# )
# TOD_dict = dict(zip(['EA', 'AM', 'MD', 'PM', 'EV'],range(1,6)))
# trips['TOD'] = trips['TOD'].replace(TOD_dict)

In [307]:
trips = trips1

# for var in var_list: trips[var] = 0
trips.rename(columns = {'Ozone':'orig','Dzone':'dest'},inplace = True)

In [108]:
# skim_dict

{'Distance':          orig  dest     da  daToll     s2  s2Toll     s3  s3Toll   walk  \
 0           1     1   0.12    0.12   0.12    0.12   0.12    0.12   0.12
 1           1     2   0.24    0.24   0.24    0.24   0.24    0.24   0.24
 2           1     3   0.44    0.44   0.44    0.44   0.44    0.44   0.44
 3           1     4   0.41    0.41   0.41    0.41   0.41    0.41   0.41
 4           1     5   0.68    0.68   0.68    0.68   0.68    0.68   0.68
 5           1     6   0.97    0.97   0.97    0.97   0.97    0.97   0.97
 6           1     7   0.98    0.98   0.98    0.98   0.98    0.98   0.98
 7           1     8   1.15    1.15   1.15    1.15   1.15    1.15   1.15
 8           1     9   1.57    1.57   1.57    1.57   1.57    1.57   1.56
 9           1    10   1.59    1.59   1.59    1.59   1.59    1.59   1.59
 10          1    11   1.15    1.15   1.15    1.15   1.15    1.15   1.13
 11          1    12   0.66    0.66   0.66    0.66   0.66    0.66   0.66
 12          1    13   0.46    0.46   0.46    0.46   0.46    0.46   0.45
 13          1    14   0.31    0.31   0.31    0.31   0.31    0.31   0.31
 14          1    15   0.36    0.36   0.36    0.36   0.36    0.36   0.36
 15          1    16   0.68    0.68   0.68    0.68   0.68    0.68   0.68
 16          1    17   0.94    0.94   0.94    0.94   0.94    0.94   0.94
 17          1    18   1.55    1.55   1.55    1.55   1.55    1.55   1.55
 18          1    19   2.23    2.23   2.23    2.23   2.23    2.23   2.08
 19          1    20   1.82    1.82   1.82    1.82   1.82    1.82   1.82
 20          1    21   1.18    1.18   1.18    1.18   1.18    1.18   1.18
 21          1    22   0.68    0.68   0.68    0.68   0.68    0.68   0.68
 22          1    23   1.07    1.07   1.07    1.07   1.07    1.07   1.07
 23          1    24   0.49    0.49   0.49    0.49   0.49    0.49   0.49
 24          1    25   0.89    0.89   0.89    0.89   0.89    0.89   0.87
 25          1    26   0.57    0.57   0.57    0.57   0.57    0.57   0.57
 26          1    27   0.91    0.91   0.91    0.91   0.91    0.91   0.90
 27          1    28   0.92    0.92   0.92    0.92   0.92    0.92   0.91
 28          1    29   0.77    0.77   0.77    0.77   0.77    0.77   0.77
 29          1    30   1.43    1.43   1.43    1.43   1.43    1.43   1.43
 ...       ...   ...    ...     ...    ...     ...    ...     ...    ...
 2114086  1454  1425  20.91   20.91  20.91   20.91  20.91   20.91  20.96
 2114087  1454  1426  19.88   19.88  19.88   19.88  19.88   19.88  19.88
 2114088  1454  1427  17.82   17.82  17.82   17.82  17.82   17.82  17.82
 2114089  1454  1428  18.56   18.56  18.56   18.56  18.56   18.56  18.56
 2114090  1454  1429  17.84   17.84  17.84   17.84  17.84   17.84  17.84
 2114091  1454  1430  16.67   16.67  16.67   16.67  16.67   16.67  16.67
 2114092  1454  1431  17.37   17.37  17.37   17.37  17.37   17.37  17.37
 2114093  1454  1432  14.63   14.63  14.63   14.63  14.63   14.63  14.63
 2114094  1454  1433  14.17   14.17  14.17   14.17  14.17   14.17  14.17
 2114095  1454  1434  13.16   13.16  13.16   13.16  13.16   13.16  13.16
 2114096  1454  1435  16.08   16.08  16.08   16.08  16.08   16.08  16.08
 2114097  1454  1436  17.00   17.00  17.00   17.00  17.00   17.00  17.00
 2114098  1454  1437  18.09   18.09  18.09   18.09  18.09   18.09  18.09
 2114099  1454  1438  20.20   20.20  20.20   20.20  20.20   20.20  19.94
 2114100  1454  1439  20.49   20.49  20.49   20.49  20.49   20.49  20.11
 2114101  1454  1440  18.50   18.50  18.50   18.50  18.50   18.50  18.50
 2114102  1454  1441  19.65   19.65  19.65   19.65  19.65   19.65  19.65
 2114103  1454  1442  19.35   19.35  19.35   19.35  19.35   19.35  19.35
 2114104  1454  1443  20.15   20.15  20.15   20.15  20.15   20.15  20.15
 2114105  1454  1444  21.52   21.52  21.52   21.52  21.52   21.52  21.52
 2114106  1454  1445  22.35   22.35  22.35   22.35  22.35   22.35  22.35
 2114107  1454  1446  23.80   23.80  23.80   23.80  23.80   23.80  23.80
 2114108  1454  1447  25.04   25.04  25.04   25.04  25.04   25.04  25.04
 2114109  1454  1448  22.02   22.02  22.02   22.02  22.02   22.02  22.02
 2114110  1454  1449  20.38   20.38  20.38   20.38  20.38   20.38  20.38
 2114111  1454  1450  18.30   18.30  18.30   18.30  18.30   18.30  18.30
 2114112  1454  1451  18.02   18.02  18.02   18.02  18.02   18.02  18.02
 2114113  1454  1452  19.68   19.68  19.68   19.68  19.68   19.68  19.68
 2114114  1454  1453  14.08   14.08  14.08   14.08  14.08   14.08  14.08
 2114115  1454  1454   4.13    4.13   4.13    4.13   4.13    4.13   4.13

           bike TOD
 0         0.12  EA
 1         0.24  EA
 2         0.44  EA
 3         0.41  EA
 4         0.68  EA
 5         0.97  EA
 6         0.98  EA
 7         1.15  EA
 8         1.56  EA
 9         1.59  EA
 10        1.13  EA
 11        0.66  EA
 12        0.45  EA
 13        0.31  EA
 14        0.36  EA
 15        0.68  EA
 16        0.94  EA
 17        1.55  EA
 18        2.08  EA
 19        1.82  EA
 20        1.18  EA
 21        0.68  EA
 22        1.07  EA
 23        0.49  EA
 24        0.87  EA
 25        0.57  EA
 26        0.90  EA
 27        0.91  EA
 28        0.77  EA
 29        1.43  EA
 ...        ...  ..
 2114086  20.96  EV
 2114087  19.88  EV
 2114088  17.82  EV
 2114089  18.56  EV
 2114090  17.84  EV
 2114091  16.67  EV
 2114092  17.37  EV
 2114093  14.63  EV
 2114094  14.17  EV
 2114095  13.16  EV
 2114096  16.08  EV
 2114097  17.00  EV
 2114098  18.09  EV
 2114099  19.94  EV
 2114100  20.11  EV
 2114101  18.50  EV
 2114102  19.65  EV
 2114103  19.35  EV
 2114104  20.15  EV
 2114105  21.52  EV
 2114106  22.35  EV
 2114107  23.80  EV
 2114108  25.04  EV
 2114109  22.02  EV
 2114110  20.38  EV
 2114111  18.30  EV
 2114112  18.02  EV
 2114113  19.68  EV
 2114114  14.08  EV
 2114115   4.13  EV

 [10570580 rows x 11 columns],
 'Cost':          orig  dest      da  daToll      s2  s2Toll      s3  s3Toll   wTrnW  \
 0           1     1    2.54    2.54    1.45    1.45    1.02    1.02  9999.0
 1           1     2    5.09    5.09    2.91    2.91    2.04    2.04   141.0
 2           1     3    9.33    9.33    5.33    5.33    3.73    3.73   141.0
 3           1     4    8.69    8.69    4.97    4.97    3.48    3.48   141.0
 4           1     5   14.42   14.42    8.24    8.24    5.77    5.77   141.0
 5           1     6   20.56   20.56   11.75   11.75    8.23    8.23   161.0
 6           1     7   20.78   20.78   11.87   11.87    8.31    8.31   161.0
 7           1     8   24.38   24.38   13.93   13.93    9.75    9.75   141.0
 8           1     9   33.28   33.28   19.02   19.02   13.31   13.31   141.0
 9           1    10   33.71   33.71   19.26   19.26   13.48   13.48   141.0
 10          1    11   24.38   24.38   13.93   13.93    9.75    9.75   141.0
 11          1    12   13.99   13.99    8.00    8.00    5.60    5.60   141.0
 12          1    13    9.75    9.75    5.57    5.57    3.90    3.90   141.0
 13          1    14    6.57    6.57    3.76    3.76    2.63    2.63   161.0
 14          1    15    7.63    7.63    4.36    4.36    3.05    3.05   161.0
 15          1    16   14.42   14.42    8.24    8.24    5.77    5.77   161.0
 16          1    17   19.93   19.93   11.39   11.39    7.97    7.97     0.0
 17          1    18   32.86   32.86   18.78   18.78   13.14   13.14   282.0
 18          1    19   47.28   47.28   27.01   27.01   18.91   18.91   282.0
 19          1    20   38.58   38.58   22.05   22.05   15.43   15.43   141.0
 20          1    21   25.02   25.02   14.29   14.29   10.01   10.01   282.0
 21          1    22   14.42   14.42    8.24    8.24    5.77    5.77   161.0
 22          1    23   22.68   22.68   12.96   12.96    9.07    9.07   161.0
 23          1    24   10.39   10.39    5.94    5.94    4.16    4.16   161.0
 24          1    25   18.87   18.87   10.78   10.78    7.55    7.55   141.0
 25          1    26   12.08   12.08    6.91    6.91    4.83    4.83   141.0
 26          1    27   19.29   19.29   11.02   11.02    7.72    7.72   141.0
 27          1    28   19.50   19.50   11.15   11.15    7.80    7.80   141.0
 28          1    29   16.32   16.32    9.33    9.33    6.53    6.53   141.0
 29          1    30   30.32   30.32   17.32   17.32   12.13   12.13   161.0
 ...       ...   ...     ...     ...     ...     ...     ...     ...     ...
 2114086  1454  1425  443.29  443.29  253.31  253.31  177.32  177.32  9999.0
 2114087  1454  1426  421.46  421.46  240.83  240.83  168.58  168.58  9999.0
 2114088  1454  1427  377.78  377.78  215.88  215.88  151.11  151.11  9999.0
 2114089  1454  1428  393.47  393.47  224.84  224.84  157.39  157.39  9999.0
 2114090  1454  1429  378.21  378.21  216.12  216.12  151.28  151.28  9999.0
 2114091  1454  1430  353.40  353.40  201.95  201.95  141.36  141.36  9999.0
 2114092  1454  1431  368.24  368.24  210.43  210.43  147.30  147.30  9999.0
 2114093  1454  1432  310.16  310.16  177.23  177.23  124.06  124.06  9999.0
 2114094  1454  1433  300.40  300.40  171.66  171.66  120.16  120.16  9999.0
 2114095  1454  1434  278.99  278.99  159.42  159.42  111.60  111.60  9999.0
 2114096  1454  1435  340.90  340.90  194.80  194.80  136.36  136.36  9999.0
 2114097  1454  1436  360.40  360.40  205.94  205.94  144.16  144.16  9999.0
 2114098  1454  1437  383.51  383.51  219.15  219.15  153.40  153.40  9999.0
 2114099  1454  1438  428.24  428.24  244.71  244.71  171.30  171.30  9999.0
 2114100  1454  1439  434.39  434.39  248.22  248.22  173.76  173.76  9999.0
 2114101  1454  1440  392.20  392.20  224.11  224.11  156.88  156.88  9999.0
 2114102  1454  1441  416.58  416.58  238.05  238.05  166.63  166.63  9999.0
 2114103  1454  1442  410.22  410.22  234.41  234.41  164.09  164.09  9999.0
 2114104  1454  1443  427.18  427.18  244.10  244.10  170.87  170.87  9999.0
 2114105  1454  1444  456.22  456.22  260.70  260.70  182.49  182.49  9999.0
 2114106  1454  1445  473.82  473.82  270.75  270.75  189.53  189.53  9999.0
 2114107  1454  1446  504.56  504.56  288.32  288.32  201.82  201.82  9999.0
 2114108  1454  1447  530.85  530.85  303.34  303.34  212.34  212.34  9999.0
 2114109  1454  1448  466.82  466.82  266.76  266.76  186.73  186.73  9999.0
 2114110  1454  1449  432.06  432.06  246.89  246.89  172.82  172.82  9999.0
 2114111  1454  1450  387.96  387.96  221.69  221.69  155.18  155.18  9999.0
 2114112  1454  1451  382.02  382.02  218.30  218.30  152.81  152.81  9999.0
 2114113  1454  1452  417.22  417.22  238.41  238.41  166.89  166.89  9999.0
 2114114  1454  1453  298.50  298.50  170.57  170.57  119.40  119.40  9999.0
 2114115  1454  1454   87.56   87.56   50.03   50.03   35.02   35.02  9999.0

           dTrnW   wTrnD TOD
 0        9999.0  9999.0  EA
 1         161.0   161.0  EA
 2         161.0   161.0  EA
 3         161.0   161.0  EA
 4         161.0   161.0  EA
 5         161.0   161.0  EA
 6         161.0   161.0  EA
 7         161.0   161.0  EA
 8         161.0   161.0  EA
 9         161.0   161.0  EA
 10        161.0   161.0  EA
 11        161.0   161.0  EA
 12        161.0   161.0  EA
 13        161.0   161.0  EA
 14        161.0   161.0  EA
 15        161.0   161.0  EA
 16        161.0   161.0  EA
 17        161.0     0.0  EA
 18        161.0   161.0  EA
 19        161.0   161.0  EA
 20        161.0   161.0  EA
 21        161.0   161.0  EA
 22        161.0   161.0  EA
 23        161.0   161.0  EA
 24        161.0   161.0  EA
 25        161.0   161.0  EA
 26        161.0   161.0  EA
 27        161.0   161.0  EA
 28        161.0   161.0  EA
 29        161.0   161.0  EA
 ...         ...     ...  ..
 2114086   161.0  9999.0  EV
 2114087  9999.0  9999.0  EV
 2114088   161.0  9999.0  EV
 2114089   161.0  9999.0  EV
 2114090   333.0  9999.0  EV
 2114091   161.0  9999.0  EV
 2114092  9999.0  9999.0  EV
 2114093   161.0  9999.0  EV
 2114094   161.0  9999.0  EV
 2114095   161.0  9999.0  EV
 2114096   161.0  9999.0  EV
 2114097   161.0  9999.0  EV
 2114098   161.0  9999.0  EV
 2114099   161.0  9999.0  EV
 2114100   161.0  9999.0  EV
 2114101   161.0  9999.0  EV
 2114102   161.0  9999.0  EV
 2114103   161.0  9999.0  EV
 2114104   161.0  9999.0  EV
 2114105   161.0  9999.0  EV
 2114106  9999.0  9999.0  EV
 2114107  9999.0  9999.0  EV
 2114108  9999.0  9999.0  EV
 2114109   161.0  9999.0  EV
 2114110   161.0  9999.0  EV
 2114111  9999.0  9999.0  EV
 2114112  9999.0  9999.0  EV
 2114113   161.0  9999.0  EV
 2114114  9999.0  9999.0  EV
 2114115  9999.0  9999.0  EV

 [10570580 rows x 12 columns],
 'Time':          orig  dest     da  daToll     s2  s2Toll     s3  s3Toll   walk  \
 0           1     1   5.80    5.80   5.80    5.80   5.80    5.80    2.4
 1           1     2   6.13    6.13   6.13    6.13   6.13    6.13    4.8
 2           1     3   6.58    6.58   6.58    6.58   6.58    6.58    8.8
 3           1     4   6.62    6.62   6.62    6.62   6.62    6.62    8.2
 4           1     5   7.27    7.27   7.27    7.27   7.27    7.27   13.6
 5           1     6   7.22    7.22   7.22    7.22   7.22    7.22   19.4
 6           1     7   7.30    7.30   7.30    7.30   7.30    7.30   19.6
 7           1     8   7.33    7.33   7.33    7.33   7.33    7.33   23.0
 8           1     9   8.85    8.85   8.85    8.85   8.85    8.85   31.2
 9           1    10   8.51    8.51   8.51    8.51   8.51    8.51   31.8
 10          1    11   7.51    7.51   7.51    7.51   7.51    7.51   22.6
 11          1    12   6.99    6.99   6.99    6.99   6.99    6.99   13.2
 12          1    13   6.48    6.48   6.48    6.48   6.48    6.48    9.0
 13          1    14   6.11    6.11   6.11    6.11   6.11    6.11    6.2
 14          1    15   6.12    6.12   6.12    6.12   6.12    6.12    7.2
 15          1    16   7.11    7.11   7.11    7.11   7.11    7.11   13.6
 16          1    17   8.03    8.03   8.03    8.03   8.03    8.03   18.8
 17          1    18   8.49    8.49   8.49    8.49   8.49    8.49   31.0
 18          1    19   9.54    9.54   9.54    9.54   9.54    9.54   41.6
 19          1    20   9.47    9.47   9.47    9.47   9.47    9.47   36.4
 20          1    21   7.73    7.73   7.73    7.73   7.73    7.73   23.6
 21          1    22   6.78    6.78   6.78    6.78   6.78    6.78   13.6
 22          1    23   7.82    7.82   7.82    7.82   7.82    7.82   21.4
 23          1    24   6.45    6.45   6.45    6.45   6.45    6.45    9.8
 24          1    25   7.27    7.27   7.27    7.27   7.27    7.27   17.4
 25          1    26   6.65    6.65   6.65    6.65   6.65    6.65   11.4
 26          1    27   6.78    6.78   6.78    6.78   6.78    6.78   18.0
 27          1    28   7.04    7.04   7.04    7.04   7.04    7.04   18.2
 28          1    29   6.72    6.72   6.72    6.72   6.72    6.72   15.4
 29          1    30   7.75    7.75   7.75    7.75   7.75    7.75   28.6
 ...       ...   ...    ...     ...    ...     ...    ...     ...    ...
 2114086  1454  1425  38.23   38.23  38.23   38.23  38.23   38.23  419.2
 2114087  1454  1426  37.45   37.45  37.45   37.45  37.45   37.45  397.6
 2114088  1454  1427  34.44   34.44  34.44   34.44  34.44   34.44  356.4
 2114089  1454  1428  37.39   37.39  37.39   37.39  37.39   37.39  371.2
 2114090  1454  1429  34.51   34.51  34.51   34.51  34.51   34.51  356.8
 2114091  1454  1430  32.49   32.49  32.49   32.49  32.49   32.49  333.4
 2114092  1454  1431  33.45   33.45  33.45   33.45  33.45   33.45  347.4
 2114093  1454  1432  28.14   28.14  28.14   28.14  28.14   28.14  292.6
 2114094  1454  1433  27.31   27.31  27.31   27.31  27.31   27.31  283.4
 2114095  1454  1434  25.52   25.52  25.52   25.52  25.52   25.52  263.2
 2114096  1454  1435  30.50   30.50  30.50   30.50  30.50   30.50  321.6
 2114097  1454  1436  32.01   32.01  32.01   32.01  32.01   32.01  340.0
 2114098  1454  1437  34.33   34.33  34.33   34.33  34.33   34.33  361.8
 2114099  1454  1438  36.96   36.96  36.96   36.96  36.96   36.96  398.8
 2114100  1454  1439  43.44   43.44  43.44   43.44  43.44   43.44  402.2
 2114101  1454  1440  34.73   34.73  34.73   34.73  34.73   34.73  370.0
 2114102  1454  1441  36.75   36.75  36.75   36.75  36.75   36.75  393.0
 2114103  1454  1442  36.88   36.88  36.88   36.88  36.88   36.88  387.0
 2114104  1454  1443  37.66   37.66  37.66   37.66  37.66   37.66  403.0
 2114105  1454  1444  40.32   40.32  40.32   40.32  40.32   40.32  430.4
 2114106  1454  1445  41.65   41.65  41.65   41.65  41.65   41.65  447.0
 2114107  1454  1446  44.04   44.04  44.04   44.04  44.04   44.04  476.0
 2114108  1454  1447  46.16   46.16  46.16   46.16  46.16   46.16  500.8
 2114109  1454  1448  41.28   41.28  41.28   41.28  41.28   41.28  440.4
 2114110  1454  1449  38.16   38.16  38.16   38.16  38.16   38.16  407.6
 2114111  1454  1450  34.52   34.52  34.52   34.52  34.52   34.52  366.0
 2114112  1454  1451  33.85   33.85  33.85   33.85  33.85   33.85  360.4
 2114113  1454  1452  37.03   37.03  37.03   37.03  37.03   37.03  393.6
 2114114  1454  1453  27.11   27.11  27.11   27.11  27.11   27.11  281.6
 2114115  1454  1454   9.30    9.30   9.30    9.30   9.30    9.30   82.6

            bike    wTrnW    dTrnW    wTrnD TOD
 0          0.60  9999.00  9999.00  9999.00  EA
 1          1.20    11.57     8.75     7.98  EA
 2          2.20    13.97    11.60     9.08  EA
 3          2.05     8.17     5.80     8.21  EA
 4          3.40    11.17     8.79     8.66  EA
 5          4.85    17.04    15.34     9.89  EA
 6          4.90    14.78    13.08     9.56  EA
 7          5.75    12.57    14.63    11.59  EA
 8          7.80    13.67    21.08    23.48  EA
 9          7.95    14.27    21.68    23.57  EA
 10         5.65    13.77    13.86    11.68  EA
 11         3.30    10.77     8.40     8.60  EA
 12         2.25    10.37     8.00     8.54  EA
 13         1.55     9.84     7.56     6.95  EA
 14         1.80    10.80     7.69     8.19  EA
 15         3.40    15.32    12.35     8.52  EA
 16         4.70    22.30    21.03    12.36  EA
 17         7.75    19.34    13.63    22.56  EA
 18        10.40    37.01    37.98    29.31  EA
 19         9.10    19.87    27.28    24.02  EA
 20         5.90    17.18    11.47    10.13  EA
 21         3.40    13.47    11.26     8.37  EA
 22         5.35    22.93    18.62    14.94  EA
 23         2.45    16.57    13.55     7.94  EA
 24         4.35    19.97    15.90     9.42  EA
 25         2.85    16.57    14.11     9.47  EA
 26         4.50    22.17    17.30    19.91  EA
 27         4.55    22.37    17.31    22.64  EA
 28         3.85    18.97    17.60     9.98  EA
 29         7.15    17.09    15.39    15.47  EA
 ...         ...      ...      ...      ...  ..
 2114086  104.80  9999.00  9999.00  9999.00  EV
 2114087   99.40  9999.00  9999.00  9999.00  EV
 2114088   89.10  9999.00    76.17  9999.00  EV
 2114089   92.80  9999.00    63.75  9999.00  EV
 2114090   89.20  9999.00    72.94  9999.00  EV
 2114091   83.35  9999.00    60.08  9999.00  EV
 2114092   86.85  9999.00  9999.00  9999.00  EV
 2114093   73.15  9999.00    64.28  9999.00  EV
 2114094   70.85  9999.00    77.89  9999.00  EV
 2114095   65.80  9999.00    86.02  9999.00  EV
 2114096   80.40  9999.00   107.14  9999.00  EV
 2114097   85.00  9999.00   109.23  9999.00  EV
 2114098   90.45  9999.00  9999.00  9999.00  EV
 2114099   99.70  9999.00    72.73  9999.00  EV
 2114100  100.55  9999.00  9999.00  9999.00  EV
 2114101   92.50  9999.00   101.54  9999.00  EV
 2114102   98.25  9999.00    70.53  9999.00  EV
 2114103   96.75  9999.00   115.07  9999.00  EV
 2114104  100.75  9999.00    73.22  9999.00  EV
 2114105  107.60  9999.00  9999.00  9999.00  EV
 2114106  111.75  9999.00  9999.00  9999.00  EV
 2114107  119.00  9999.00  9999.00  9999.00  EV
 2114108  125.20  9999.00  9999.00  9999.00  EV
 2114109  110.10  9999.00   133.84  9999.00  EV
 2114110  101.90  9999.00   104.21  9999.00  EV
 2114111   91.50  9999.00  9999.00  9999.00  EV
 2114112   90.10  9999.00  9999.00  9999.00  EV
 2114113   98.40  9999.00   113.89  9999.00  EV
 2114114   70.40  9999.00  9999.00  9999.00  EV
 2114115   20.65  9999.00  9999.00  9999.00  EV

 [10570580 rows x 14 columns]}

In [104]:
# trips1 = trips.copy()
# for var in var_list:
#     trips1 = trips1.merge(skim_dict[var].rename(
#         columns = dict(zip([i for i in skim_dict[var].columns if i not in ['orig','dest','TOD']],
#          [i+ f'_{var}' for i in skim_dict[var].columns if i not in ['orig','dest','TOD']]))                                          
#                                            ), how = 'left',left_on = ['O','D','TOD'], 
#     right_on = ['orig','dest','TOD'])
#     trips1.drop(['orig','dest'],axis = 1,inplace = True)

In [105]:
# trips1.head()

,Unnamed: 0,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,O,D,Oxcord,Oycord,Dxcord,Dycord,MODE,TOD,Distance,Cost,Time,da_Distance,daToll_Distance,s2_Distance,s2Toll_Distance,s3_Distance,s3Toll_Distance,walk_Distance,bike_Distance,da_Cost,daToll_Cost,s2_Cost,s2Toll_Cost,s3_Cost,s3Toll_Cost,wTrnW_Cost,dTrnW_Cost,wTrnD_Cost,da_Time,daToll_Time,s2_Time,s2Toll_Time,s3_Time,s3Toll_Time,walk_Time,bike_Time,wTrnW_Time,dTrnW_Time,wTrnD_Time
0,0,10352742,1.035274e+09,home,13.583333,19.166667,8.75,9.166667,0.416667,424,700,-122.017274,37.388281,-121.664242,37.151629,drive_alone,AM,0,0,0,31.75,31.75,31.75,31.75,31.75,31.75,30.13,30.13,673.10,673.10,384.63,384.63,269.24,269.24,161.0,171.0,161.0,36.21,36.21,35.73,35.73,35.73,35.73,602.6,150.65,151.29,127.38,126.90
1,1,10352742,1.035274e+09,work,7.583333,9.166667,16.75,19.166667,2.416667,700,424,-121.664242,37.151629,-122.017274,37.388281,drive_alone,PM,0,0,0,31.76,31.76,31.79,31.79,31.79,31.79,30.13,30.13,673.31,673.31,385.11,385.11,269.58,269.58,161.0,161.0,332.0,37.94,37.94,36.75,36.75,36.75,36.75,602.6,150.65,151.81,127.42,123.08
2,2,10414944,1.041494e+09,home,14.500000,18.000000,8.50,8.750000,0.250000,1095,1152,-122.091521,38.010760,-122.118103,37.885783,drive_alone,AM,0,0,0,12.56,12.56,14.13,14.13,14.13,14.13,12.23,12.23,266.27,266.27,171.17,171.17,119.82,119.82,322.0,141.0,161.0,23.61,23.61,22.17,22.17,22.17,22.17,244.6,61.15,104.21,45.15,57.90
3,3,10414944,1.041494e+09,work,8.750000,8.750000,17.50,18.000000,0.500000,1152,1095,-122.118103,37.885783,-122.091521,38.010760,drive_alone,PM,0,0,0,13.82,13.82,13.82,13.82,13.82,13.82,12.23,12.23,292.98,292.98,167.42,167.42,117.19,117.19,141.0,161.0,141.0,22.88,22.88,22.25,22.25,22.25,22.25,244.6,61.15,107.96,60.61,47.95
4,4,10417661,1.041766e+09,home,13.250000,18.750000,8.00,9.000000,1.000000,241,69,-122.414811,37.610585,-122.447100,37.779020,drive_alone,AM,0,0,0,15.04,15.04,15.04,15.04,15.04,15.04,14.61,14.61,318.85,318.85,182.20,182.20,127.54,127.54,563.0,454.0,402.0,28.09,28.09,28.09,28.09,28.09,28.09,292.2,73.05,88.92,63.61,62.11

In [308]:
trips.head()

,Unnamed: 0,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,orig,dest,Oxcord,Oycord,Dxcord,Dycord,MODE,TOD,SAMPN,PERNO,female,AGE,HISP,white,black,native,asian,PI,immigrant,nolic,JOBS,HOURS,EDUCA,WSCHED,DISAB,HHVEH,HHBIC,rent,INCOM,HHSIZ
0,2,10414944,1.041494e+09,home,14.50,18.00,8.5,8.75,0.25,1095.0,1152.0,-122.091521,38.010760,-122.118103,37.885783,drive_alone,2,1041494,4,1.0,36.0,0,0,0,1,0,0,0.0,0.0,2.0,8.0,2.0,2.0,0.0,3,0.0,0.0,5.0,4
1,3,10414944,1.041494e+09,work,8.75,8.75,17.5,18.00,0.50,1152.0,1095.0,-122.118103,37.885783,-122.091521,38.010760,drive_alone,4,1041494,4,1.0,36.0,0,0,0,1,0,0,0.0,0.0,2.0,8.0,2.0,2.0,0.0,3,0.0,0.0,5.0,4
2,4,10417661,1.041766e+09,home,13.25,18.75,8.0,9.00,1.00,241.0,69.0,-122.414811,37.610585,-122.447100,37.779020,drive_alone,2,1041766,1,1.0,43.0,0,0,0,0,1,0,1.0,0.0,1.0,40.0,6.0,2.0,0.0,2,1.0,0.0,10.0,3
3,5,10417661,1.041766e+09,work,8.50,9.00,17.5,18.75,1.25,69.0,241.0,-122.447100,37.779020,-122.414811,37.610585,drive_alone,4,1041766,1,1.0,43.0,0,0,0,0,1,0,1.0,0.0,1.0,40.0,6.0,2.0,0.0,2,1.0,0.0,10.0,3
4,6,10417662,1.041766e+09,home,13.00,19.00,8.0,8.50,0.50,241.0,282.0,-122.414811,37.610585,-122.328418,37.536798,drive_alone,2,1041766,2,0.0,44.0,0,0,0,0,1,0,1.0,0.0,1.0,60.0,3.0,2.0,0.0,2,1.0,0.0,10.0,3

In [309]:
trips1 = pd.merge(trips, skims, on=['orig','dest'])

In [310]:
trips1.head()

,Unnamed: 0,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,orig,dest,Oxcord,Oycord,Dxcord,Dycord,MODE,TOD,SAMPN,PERNO,female,AGE,HISP,white,black,native,asian,PI,immigrant,nolic,JOBS,HOURS,EDUCA,WSCHED,DISAB,HHVEH,HHBIC,rent,INCOM,HHSIZ,da_distance_EA,...,s3_Time_AM,s3Toll_Time_AM,walk_Time_AM,bike_Time_AM,wTrnW_Time_AM,dTrnW_Time_AM,wTrnD_Time_AM,da_Time_MD,daToll_Time_MD,s2_Time_MD,s2Toll_Time_MD,s3_Time_MD,s3Toll_Time_MD,walk_Time_MD,bike_Time_MD,wTrnW_Time_MD,dTrnW_Time_MD,wTrnD_Time_MD,da_Time_PM,daToll_Time_PM,s2_Time_PM,s2Toll_Time_PM,s3_Time_PM,s3Toll_Time_PM,walk_Time_PM,bike_Time_PM,wTrnW_Time_PM,dTrnW_Time_PM,wTrnD_Time_PM,da_Time_EV,daToll_Time_EV,s2_Time_EV,s2Toll_Time_EV,s3_Time_EV,s3Toll_Time_EV,walk_Time_EV,bike_Time_EV,wTrnW_Time_EV,dTrnW_Time_EV,wTrnD_Time_EV
0,2,10414944,1.041494e+09,home,14.50,18.00,8.5,8.75,0.25,1095,1152,-122.091521,38.010760,-122.118103,37.885783,drive_alone,2,1041494,4,1.0,36.0,0,0,0,1,0,0,0.0,0.0,2.0,8.0,2.0,2.0,0.0,3,0.0,0.0,5.0,4,14.13,...,22.17,22.17,244.6,61.15,104.21,45.15,57.90,20.16,20.16,20.16,20.16,20.16,20.16,244.6,61.15,107.86,48.21,57.95,21.09,21.09,20.46,20.46,20.46,20.46,244.6,61.15,107.91,47.95,60.56,19.94,19.94,19.94,19.94,19.94,19.94,244.6,61.15,9999.00,50.56,9999.00
1,3,10414944,1.041494e+09,work,8.75,8.75,17.5,18.00,0.50,1152,1095,-122.118103,37.885783,-122.091521,38.010760,drive_alone,4,1041494,4,1.0,36.0,0,0,0,1,0,0,0.0,0.0,2.0,8.0,2.0,2.0,0.0,3,0.0,0.0,5.0,4,13.82,...,19.89,19.89,244.6,61.15,106.63,58.07,46.74,19.86,19.86,19.86,19.86,19.86,19.86,244.6,61.15,107.89,58.07,48.21,22.88,22.88,22.25,22.25,22.25,22.25,244.6,61.15,107.96,60.61,47.95,19.61,19.61,19.61,19.61,19.61,19.61,244.6,61.15,9999.00,9999.00,50.56
2,4,10417661,1.041766e+09,home,13.25,18.75,8.0,9.00,1.00,241,69,-122.414811,37.610585,-122.447100,37.779020,drive_alone,2,1041766,1,1.0,43.0,0,0,0,0,1,0,1.0,0.0,1.0,40.0,6.0,2.0,0.0,2,1.0,0.0,10.0,3,15.04,...,28.09,28.09,292.2,73.05,88.92,63.61,62.11,27.38,27.38,27.38,27.38,27.38,27.38,292.2,73.05,87.59,61.27,63.35,28.71,28.71,28.71,28.71,28.71,28.71,292.2,73.05,86.08,59.77,64.85,26.77,26.77,26.77,26.77,26.77,26.77,292.2,73.05,101.71,67.06,73.69
3,5,10417661,1.041766e+09,work,8.50,9.00,17.5,18.75,1.25,69,241,-122.447100,37.779020,-122.414811,37.610585,drive_alone,4,1041766,1,1.0,43.0,0,0,0,0,1,0,1.0,0.0,1.0,40.0,6.0,2.0,0.0,2,1.0,0.0,10.0,3,15.88,...,25.46,25.46,290.0,72.50,86.78,62.95,60.63,24.94,24.94,24.94,24.94,24.94,24.94,290.0,72.50,88.69,64.27,61.45,25.88,25.88,25.88,25.88,25.88,25.88,290.0,72.50,86.15,65.03,59.66,23.82,23.82,23.82,23.82,23.82,23.82,290.0,72.50,101.41,73.69,66.76
4,6,10417662,1.041766e+09,home,13.00,19.00,8.0,8.50,0.50,241,282,-122.414811,37.610585,-122.328418,37.536798,drive_alone,2,1041766,2,0.0,44.0,0,0,0,0,1,0,1.0,0.0,1.0,60.0,3.0,2.0,0.0,2,1.0,0.0,10.0,3,12.57,...,18.81,18.81,195.2,48.80,76.40,63.99,57.31,18.76,18.76,18.76,18.76,18.76,18.76,195.2,48.80,74.81,62.40,69.03,18.78,18.78,18.78,18.78,18.78,18.78,195.2,48.80,73.63,61.22,67.85,18.68,18.68,18.68,18.68,18.68,18.68,195.2,48.80,99.02,86.61,74.58

In [312]:
trips1.to_csv('/home/emma/ual_model_workspace/fall-2018-models/notebooks-emma/HWtrips_withSkims_102418.csv')

In [313]:
trips2 = trips1.loc[trips1['origin'] == 'home']
trips3 = trips1.loc[trips1['origin'] == 'work']

In [314]:
trips2.TOD.value_counts()

1    3380
2     986
0     436
3      88
4      48
Name: TOD, dtype: int64

In [321]:
trips2.INCOM.value_counts()

7.0     1274
8.0      779
6.0      748
5.0      659
10.0     455
9.0      395
4.0      286
3.0      169
2.0      133
1.0       40
Name: INCOM, dtype: int64

In [322]:
trips2.EDUCA.value_counts()

6.0    1640
5.0    1612
3.0     612
2.0     493
4.0     432
1.0     149
Name: EDUCA, dtype: int64

In [324]:
## change hours to something more interpretable
# trips2.HOURS.value_counts()

In [ ]:
# trips2

# Time_MD=Time_MD.rename(
#         columns = dict(zip([i for i in Time_MD.columns if i not in ['orig','dest']],
#          [i+ f'_Time_MD' for i in Time_MD.columns if i not in ['orig','dest']])))

# tripsP=tripsP.rename(columns = {'place':'origin','ET_num':'origin_ET','WXCORD_lookup':'WXCORD','WYCORD_lookup':'WYCORD'})

In [315]:
@orca.table(cache=True)
def tripsA():
    return trips2

In [316]:
trips.columns

Index(['Unnamed: 0', 'HHPER', 'HHPERTRIP', 'origin', 'origin_dwell',
       'origin_ST', 'origin_ET', 'trip_ET', 'TT', 'orig', 'dest', 'Oxcord',
       'Oycord', 'Dxcord', 'Dycord', 'MODE', 'TOD', 'SAMPN', 'PERNO', 'female',
       'AGE', 'HISP', 'white', 'black', 'native', 'asian', 'PI', 'immigrant',
       'nolic', 'JOBS', 'HOURS', 'EDUCA', 'WSCHED', 'DISAB', 'HHVEH', 'HHBIC',
       'rent', 'INCOM', 'HHSIZ'],
      dtype='object')

In [319]:
#bike and walk variables don't differ by time of day
#need to combine tables 2 and 3 so choosing HW and WH times together
#change age, jobs, hours, educa, hhveh, hhbic, incom, and hhsiz to more interpretable categories
#test origin_dwell, TT?, use just walk distance?
#should any skims data be included here? because time categories are big enough that mode doesn't really influence choice?
#but then why accessibility variables? (total employment within 15 and 30 min by auto and transit for depart and return periods - 
    #and should that be accessibility around home or work?)

m = SmallMultinomialLogitStep()
m.name = 'TOD_choice'
m.tables = ['tripsA']
m.choice_column = 'TOD'
m.model_expression = OrderedDict([
    ('intercept', [0,2,3,4]), 
#     ('da_distance_EA',[0]),
#     ('da_distance_AM',[1]),
#     ('da_distance_MD',[2]),
#     ('da_distance_PM',[3]),
#     ('da_distance_EV',[4]),
    ('da_cost_EA',[0]),
    ('da_cost_AM',[1]),
#     ('da_cost_MD',[2]),
#     ('da_cost_PM',[3]),
#     ('da_cost_EV',[4]),
#     ('da_Time_EA',[0]),
    ('da_Time_AM',[1]),
    ('da_Time_MD',[2]),
    ('da_Time_PM',[3]),
#     ('da_Time_EV',[4]),

#     ('s2_distance_EA',[0,2,3,4]),
#     ('s2_distance_AM',[0,2,3,4]),
#     ('s2_distance_MD',[0,2,3,4]),
#     ('s2_distance_PM',[0,2,3,4]),
#     ('s2_distance_EV',[0,2,3,4]),
#     ('s2_cost_EA',[0,2,3,4]),
#     ('s2_cost_AM',[0,2,3,4]),
#     ('s2_cost_MD',[0,2,3,4]),
#     ('s2_cost_PM',[0,2,3,4]),
#     ('s2_cost_EV',[0,2,3,4]),
#     ('s2_Time_EA',[0,2,3,4]),
#     ('s2_Time_AM',[0,2,3,4]),
#     ('s2_Time_MD',[0,2,3,4]),
#     ('s2_Time_PM',[0,2,3,4]),
#     ('s2_Time_EV',[0,2,3,4]),
    
#     ('bike_distance_EA',[0,2,3,4]),
# #     ('bike_distance_AM',[0,2,3,4]),
# #     ('bike_distance_MD',[0,2,3,4]),
# #     ('bike_distance_PM',[0,2,3,4]),
# #     ('bike_distance_EV',[0,2,3,4]),
# #     ('bike_cost_EA',[0,1,2,3]),
# #     ('bike_cost_AM',[0,1,2,3]),
# #     ('bike_cost_MD',[0,1,2,3]),
# #     ('bike_cost_PM',[0,1,2,3]),
# #     ('bike_cost_EV',[0,1,2,3]),
#     ('bike_Time_EA',[0,2,3,4]),
# #     ('bike_Time_AM',[0,2,3,4]),
# #     ('bike_Time_MD',[0,2,3,4]),
# #     ('bike_Time_PM',[0,2,3,4]),
# #     ('bike_Time_EV',[0,2,3,4]),
    
# #     ('wTrnW_distance_EA',[0,1,2,3]),
# #     ('wTrnW_distance_AM',[0,1,2,3]),
# #     ('wTrnW_distance_MD',[0,1,2,3]),
# #     ('wTrnW_distance_PM',[0,1,2,3]),
# #     ('wTrnW_distance_EV',[0,1,2,3]),
#     ('wTrnW_cost_EA',[0]),
#     ('wTrnW_cost_AM',[1]),
#     ('wTrnW_cost_MD',[2]),
#     ('wTrnW_cost_PM',[3]),
#     ('wTrnW_cost_EV',[4]),
#     ('wTrnW_Time_EA',[0]),
#     ('wTrnW_Time_AM',[1]),
#     ('wTrnW_Time_MD',[2]),
#     ('wTrnW_Time_PM',[3]),
#     ('wTrnW_Time_EV',[4]),
    
# #     ('wTrnD_distance_EA',[0,1,2,3]),
# #     ('wTrnD_distance_AM',[0,1,2,3]),
# #     ('wTrnD_distance_MD',[0,1,2,3]),
# #     ('wTrnD_distance_PM',[0,1,2,3]),
# #     ('wTrnD_distance_EV',[0,1,2,3]),
#     ('wTrnD_cost_EA',[0]),
#     ('wTrnD_cost_AM',[1]),
#     ('wTrnD_cost_MD',[2]),
#     ('wTrnD_cost_PM',[3]),
#     ('wTrnD_cost_EV',[4]),
#     ('wTrnD_Time_EA',[0]),
#     ('wTrnD_Time_AM',[1]),
#     ('wTrnD_Time_MD',[2]),
#     ('wTrnD_Time_PM',[3]),
#     ('wTrnD_Time_EV',[4]),
    
# #     ('dTrnW_distance_EA',[0,1,2,3]),
# #     ('dTrnW_distance_AM',[0,1,2,3]),
# #     ('dTrnW_distance_MD',[0,1,2,3]),
# #     ('dTrnW_distance_PM',[0,1,2,3]),
# #     ('dTrnW_distance_EV',[0,1,2,3]),
#     ('dTrnW_cost_EA',[0]),
#     ('dTrnW_cost_AM',[1]),
#     ('dTrnW_cost_MD',[2]),
    ('dTrnW_cost_PM',[3]),
#     ('dTrnW_cost_EV',[4]),
#     ('dTrnW_Time_EA',[0]),
#     ('dTrnW_Time_AM',[1]),
#     ('dTrnW_Time_MD',[2]),
    ('dTrnW_Time_PM',[3]),
#     ('dTrnW_Time_EV',[4]),
    
#     ('walk_distance_EA',[0,2,3,4]),
# #     ('walk_distance_AM',[1]),
# #     ('walk_distance_MD',[2]),
# #     ('walk_distance_PM',[3]),
# #     ('walk_distance_EV',[4]),
# #     ('walk_cost_EA',[0,1,2,3]),
# #     ('walk_cost_AM',[0,1,2,3]),
# #     ('walk_cost_MD',[0,1,2,3]),
# #     ('walk_cost_PM',[0,1,2,3]),
# #     ('walk_cost_EV',[0,1,2,3]),
#     ('walk_Time_EA',[0,2,3,4]),
# #     ('walk_Time_AM',[1]),
# #     ('walk_Time_MD',[2]),
# #     ('walk_Time_PM',[3]),
# #     ('walk_Time_EV',[4]),
    
    ('AGE',[0,2,3,4]),
#     ('HISP',[0,2,3,4]),
#     ('black',[0,2,3,4]),
#     ('native',[0,2,3,4]),
#     ('asian',[0,2,3,4]),
#     ('PI',[0,2,3,4]),
    ('INCOM',[0,2,3,4]),
    ('EDUCA',[0,2,3,4]),
    ('immigrant',[0,2,3,4]),
    ('nolic',[0,2,3,4]),
    ('JOBS',[0,2,3,4]),
    ('HOURS',[0,2,3,4]),
    ('WSCHED',[0,2,3,4]),
#     ('DISAB',[0,2,3,4]),
#     ('HHVEH',[0,2,3,4]),
#     ('HHBIC',[0,2,3,4]),
#     ('rent',[0,2,3,4]),
    ('HHSIZ',[0,2,3,4]),
    
])

In [320]:
m.fit()

Log-likelihood at zero: -7,947.4044
Initial Log-likelihood: -7,947.4044
Estimation Time for Point Estimation: 1.88 seconds.
Final log-likelihood: -4,058.3423
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                     _chosen   No. Observations:                4,938
Model:             Multinomial Logit Model   Df Residuals:                    4,887
Method:                                MLE   Df Model:                           51
Date:                     Wed, 24 Oct 2018   Pseudo R-squ.:                   0.489
Time:                             20:23:51   Pseudo R-bar-squ.:               0.483
AIC:                             8,218.685   Log-Likelihood:             -4,058.342
BIC:                             8,550.425   LL-Null:                    -7,947.404
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
intercept_0        -2.1044      0.489     -4.307      0.000      -3.062      -1.147
intercept_2         0.2759      0.309      0.893      0.372      -0.330       0.882
intercept_3         1.6526      0.798      2.071      0.038       0.088       3.217
intercept_4        -2.0438      1.082     -1.889      0.059      -4.165       0.077
da_cost_EA_0        0.0021      0.000      5.270      0.000       0.001       0.003
da_cost_AM_1        0.0012      0.000      3.178      0.001       0.000       0.002
da_Time_AM_1       -0.0185      0.007     -2.818      0.005      -0.031      -0.006
da_Time_MD_2       -0.0202      0.008     -2.494      0.013      -0.036      -0.004
da_Time_PM_3       -0.0223      0.012     -1.839      0.066      -0.046       0.001
dTrnW_cost_PM_3    -0.0003   7.02e-05     -4.599      0.000      -0.000      -0.000
dTrnW_Time_PM_3     0.0003   6.54e-05      4.597      0.000       0.000       0.000
AGE_0               0.0210      0.005      4.170      0.000       0.011       0.031
AGE_2              -0.0132      0.003     -4.151      0.000      -0.019      -0.007
AGE_3              -0.0356      0.009     -4.108      0.000      -0.053      -0.019
AGE_4              -0.0155      0.012     -1.299      0.194      -0.039       0.008
INCOM_0            -0.0996      0.033     -3.000      0.003      -0.165      -0.035
INCOM_2            -0.0267      0.022     -1.198      0.231      -0.070       0.017
INCOM_3            -0.0947      0.064     -1.469      0.142      -0.221       0.032
INCOM_4            -0.1204      0.086     -1.402      0.161      -0.289       0.048
EDUCA_0            -0.3979      0.041     -9.649      0.000      -0.479      -0.317
EDUCA_2            -0.0305      0.030     -1.000      0.317      -0.090       0.029
EDUCA_3            -0.4062      0.084     -4.819      0.000      -0.571      -0.241
EDUCA_4            -0.2194      0.108     -2.026      0.043      -0.432      -0.007
immigrant_0        -0.3373      0.143     -2.363      0.018      -0.617      -0.058
immigrant_2         0.1125      0.092      1.228      0.219      -0.067       0.292
immigrant_3         0.3046      0.270      1.127      0.260      -0.225       0.834
immigrant_4         0.8465      0.321      2.634      0.008       0.217       1.476
nolic_0             0.3568      0.317      1.125      0.261      -0.265       0.979
nolic_2             0.5464      0.213      2.565      0.010       0.129       0.964
nolic_3            -1.2792      0.755     -1.694      0.090      -2.760       0.201
nolic_4             0.4067      0.659      0.617      0.537      -0.884       1.698
JOBS_0             -0.2217      0.206     -1.075      0.282      -0.626       0.182
JOBS_2              0.1573      0.106      1.491      0.136      -0.050       0.364
JOBS_3              0.2133      0.269      0.794      0.427      -0.313       0.740
JOBS_4              0.7239      0.247      2.934      0.003       0.240       1.207
HOURS_0             0.0125      0.005      2.454      0.014       0.003       0.022
HOURS_2            -0.0288      0.003     -9.257      0.000      -0.035      -0.023
HOURS_3            -0.0493      0.009     -5.508      0.000      -0.067      -0.032
HOURS_4            -0.0160      0.012     -1.287      0.198      -0.040       0.008
WSCHED_0           -0.1889      0.089     -2.121      0.034      -0.363      -0.014
WSCHED_2            0.4608      0.059      7.836      0.000       0.346       0.576
WSCHED_3            0.0954      0.175      0.545      0.586      -0.248       0.439
WSCHED_4           -0.1757      0.240     -0.732      0.464      -0.646       0.294
HHVEH_0             0.0693      0.061      1.145      0.252      -0.049       0.188
HHVEH_2             0.0609      0.043      1.420      0.156      -0.023       0.145
HHVEH_3             0.0643      0.117      0.547      0.584      -0.166       0.295
HHVEH_4             0.2119      0.155      1.363      0.173      -0.093       0.517
HHSIZ_0             0.1354      0.047      2.889      0.004       0.044       0.227
HHSIZ_2            -0.1170      0.035     -3.311      0.001      -0.186      -0.048
HHSIZ_3             0.0227      0.094      0.243      0.808      -0.161       0.206
HHSIZ_4            -0.1596      0.130     -1.227      0.220      -0.414       0.095
===================================================================================