# MergedChoiceTable feature testing

Sam Maurer, August 2018

In [1]:
import sys
print(sys.version)

3.6.2 |Anaconda custom (64-bit)| (default, Sep 21 2017, 18:29:43)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [2]:
import numpy as np
import pandas as pd

In [15]:
obs = pd.DataFrame(np.random.rand(10,1), columns=['a'])

In [16]:
obs.head(3)

          a
0  0.925762
1  0.261523
2  0.114679

In [12]:
alts = pd.DataFrame(np.random.rand(5,2), columns=['b','weight'])

In [14]:
alts.head(3)

          b    weight
0  0.100622  0.794102
1  0.935271  0.253041
2  0.767054  0.919329

In [17]:
np.repeat([1,2,3], 4)

array([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3])

In [3]:
df = pd.DataFrame(np.random.randn(10000,4), columns=list('ABCD'))

In [5]:
df.head(3)

          A         B         C         D
0  0.049604 -0.107076 -1.040623 -0.546538
1  1.140552  1.434264 -0.110053 -1.238815
2  1.884469  0.543573  1.562645 -0.358955

In [8]:
len(df.A.sample(50000, replace=True))

50000

And re our discussion of sampling weights.. Here’s the notebook i mentioned where i estimate an MNL model that includes both (a) custom logic for sampling of alternatives (in this case it does an availability calculation on the fly, but weights can by applied similarly) and (b) attributes that vary based on the interaction of choosers and alternatives (in this case a euclidean distance lookup). I do this by building the long-format estimation table manually -- not much code, but a pain to get it right.

The first thing i’ll do to make this more structured is to have ChoiceModels accept either matrices or generator functions for availability, weights, and interaction terms. (Generator functions can be more efficient because you don’t have to compute the whole NxM matrix, but matrices are better if you want to re-use the weights.)

But for use in UrbanSim, neither matrices nor generator functions are particularly convenient, because they’re hard to store.. we could store weights as big lookup tables and generator functions as Orca injectables, but i think we should do some experimenting first.

So here’s my proposal: First, i’ll update the ChoiceModels MergedChoiceTable API to take these inputs. Then, i’ll create a backdoor in the Large MNL template so we can pass in a custom MergedChoiceTable when we’re working with the class object directly, like in a notebook. This won’t work for saving models and re-running them later, but it will let us experiment pretty easily.

https://gist.github.com/smmaurer/c3b4f2f7c4d612a4520de119f9f497cf



1. reimplement the interaction dataset
2. check accuracy
3. check speed
4. implement weights