# MNL demo

Sam Maurer | Python 3.6

In [1]:
import os; os.chdir('../')

In [2]:
import numpy as np
import pandas as pd
from collections import OrderedDict

In [3]:
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import BinaryLogitStep, OLSRegressionStep, SmallMultinomialLogitStep
import orca

/Users/maurer/anaconda/envs/ual-model/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [4]:
# Load any script-based Orca registrations
from scripts import datasources
from scripts import models

In [5]:
for table_name in orca.list_tables():
    print(table_name.upper())
    print(orca.get_table(table_name).to_frame().columns.tolist())
    print()

HOUSEHOLDS
['household_id', 'taz', 'serialno', 'puma5', 'income', 'persons', 'hht', 'unittype', 'noc', 'bldgsz', 'tenure', 'vehicl', 'hinccat1', 'hinccat2', 'hhagecat', 'hsizecat', 'hfamily', 'hunittype', 'hnoccat', 'hwrkrcat', 'h0004', 'h0511', 'h1215', 'h1617', 'h1824', 'h2534', 'h3549', 'h5064', 'h6579', 'h80up', 'hworkers', 'hwork_f', 'hwork_p', 'huniv', 'hnwork', 'hretire', 'hpresch', 'hschpred', 'hschdriv', 'htypdwel', 'hownrent', 'hadnwst', 'hadwpst', 'hadkids', 'bucketbin', 'originalpuma', 'hmultiunit', 'building_id']

BUILDINGS
['building_id', 'parcel_id', 'development_type_id', 'improvement_value', 'residential_units', 'residential_sqft', 'sqft_per_unit', 'non_residential_sqft', 'building_sqft', 'nonres_rent_per_sqft', 'res_price_per_sqft', 'stories', 'year_built', 'redfin_sale_price', 'redfin_sale_year', 'redfin_home_type', 'costar_property_type', 'costar_rent', 'building_type_id']

### Small MNL

In [6]:
m = SmallMultinomialLogitStep()
m.tables = (['households','buildings'])
m.model_expression = OrderedDict([('income', [1,2,3]), ('persons', [1,2,3])])
m.choice_column = 'tenure'

In [7]:
df = m._get_data()

In [8]:
alts = df['tenure'].unique()

alts_df = pd.DataFrame({'tenure': alts})
alts_df.index = alts

In [9]:
alts_df

   tenure
3       3
2       2
4       4
1       1

In [11]:
import pylogit

In [14]:
long_df = pylogit.convert_wide_to_long(wide_data=df,
                                       ind_vars=['income','persons'],
                                       alt_specific_vars=None,
                                       availability_vars=None,
                                       obs_id_col=df.index.name,
                                       choice_col='tenure',
                                       new_alt_id_name='alt_id')

AttributeError: 'NoneType' object has no attribute 'values'

In [ ]:
d = OrderedDict([('a', 'b')])
d['a'] = 'b'
d['c'] = 'd'
print(d)

In [ ]:
[k[0] for k in list(d.items()) if k[0] is not 'c']