In [7]:
import numpy as np
import pandas as pd
import orca
import os; os.chdir('../')
import warnings; warnings.simplefilter('ignore')
from urbansim.utils import misc

    
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import pandas as pd
import orca
# import os; os.chdir('/home/juan/ual_model_workspace/spring-2019-models/')
import warnings; warnings.simplefilter('ignore')
from matplotlib import pyplot as plt
import matplotlib.animation as animation

# from scripts import datasources, models, variables, utils

In [4]:
os.getcwd()

'/home/juan/ual_model_workspace'

In [5]:
# hi

In [6]:
from scripts import datasources, models, variables, utils

ImportError: cannot import name 'datasources' from 'scripts' (/home/juan/anaconda3/lib/python3.7/site-packages/scripts/__init__.py)

In [46]:
import urbansim_templates
urbansim_templates.__version__

'0.1.1'

# Loading data

In [47]:
os.listdir("/home/data/spring_2019/2025")

['buildings.csv',
 'jobs.csv',
 'bayarea_walk_edges.csv',
 'bay_area_tertiary_strongly_edges.csv',
 'persons.csv',
 'units.csv',
 'bay_area_tertiary_strongly_nodes.csv',
 'drive_net_vars.csv',
 'bayarea_walk_nodes.csv',
 'beam_skims.csv',
 'establishments.csv',
 'walk_net_vars.csv',
 'zones.csv',
 'parcels.csv',
 'skims.csv',
 'households.csv',
 'craigslist.csv']

In [48]:
a = pd.read_csv('/home/data/spring_2019/2025/skims.csv')

In [49]:
orca.run(['initialize_network_walk','initialize_network_walk'])

KeyError: 'no step named initialize_network_walk'

In [ ]:
orca.run([
#     'network_aggregations_small', 'network_aggregations_walk',
    'impute_missing_skims',
    'skims_aggregations_drive', 'skims_aggregations_other'])

# orca.get_table('nodeswalk').to_frame().to_csv('./data/walk_net_vars.csv')
# orca.get_table('nodessmall').to_frame().to_csv('./data/drive_net_vars.csv')
# orca.get_table('zones').to_frame().to_csv('./data/zones_w_access_vars-2025-b-lt.csv')

In [ ]:
beam_skims = orca.get_table('beam_skims').to_frame()
students = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/students_with_school_id.csv')
schools = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/schools.csv')

In [61]:
beam_skims.shape

(2114116, 17)

In [62]:
students.shape

(3385, 195)

In [63]:
schools.shape

(2547, 49)

In [17]:
students = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/students_with_school_id.csv')
schools = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/schools.csv')

In [10]:
students.columns[0:100]

Index(['level_0', 'SAMPN', 'PERNO', 'Unnamed: 0', 'index', 'RELAT', 'GEND',
       'AGE', 'AGEB', 'HISP', 'RACE1', 'RACE2', 'RACE3', 'RACE4', 'O_RACE',
       'NTVTY', 'CNTRY', 'LIC', 'USER', 'TRANS', 'TPTYP1', 'TPTYP2', 'TPTYP3',
       'TPTYP4', 'TPTYP5', 'TPTYP6', 'TPTYP7', 'O_TPTYP', 'CLIP1', 'CLIP2',
       'CLIP3', 'COMP', 'MET', 'PASSTL', 'FLEX', 'EMPLY', 'WKSTAT', 'O_WKSTAT',
       'JOBS', 'WLOC', 'WNAME_persons', 'WCITY_persons', 'WSTAT',
       'WZIP_persons', 'WXST1_persons', 'WXST2_persons', 'WXCORD_persons',
       'WYCORD_persons', 'WDAYS', 'WDAY1', 'WDAY2', 'WDAY3', 'WDAY4', 'WDAY5',
       'WDAY6', 'WDAY7', 'HOURS', 'WSCHED', 'COMPR', 'WMODE', 'INDUS',
       'O_INDUS', 'OCCUP', 'O_OCCUP', 'WLOC2', 'WNAME2_persons',
       'WCITY2_persons', 'WSTAT2', 'WZIP2_persons', 'WXST2_1_persons',
       'WXST2_2_persons', 'WDAYS2', 'DISAB', 'DTYPE1', 'DTYPE2', 'DTYPE3',
       'DTYPE4', 'DTYPE5', 'DTYPE6', 'DTYPE7', 'O_DTYPE', 'DSLIC', 'EDIS',
       'TTRIP', 'TRNSUB', 'SUBAMT', 'SUBUNT', 'O_SUBUNT', 'WTRIP', 'BTRIP',
       'STUDE', 'SCHOL', 'O_SCHOL', 'SLOC', 'SONLN', 'PRESCH', 'O_PRESCH',
       'SNAME_persons', 'SCITY_persons', 'SSTAT'],
      dtype='object')

In [11]:
students.columns[100:195]

Index(['SZIP_persons', 'SXST1_persons', 'SXST2_persons', 'SXCORD_persons',
       'SYCORD_persons', 'SMODE', 'EDUCA', 'O_EDUCA', 'INTRV', 'PROXY',
       'CMPLG', 'HVLOG', 'PTRIPS', 'TOLLF', 'TOLLR1', 'TOLLR2', 'TOLLR3',
       'TOLLR4', 'TOLLR5', 'TOLLR6', 'TOLLR7', 'TOLLR8', 'TOLLR9', 'TOLLR10',
       'TOLLB1', 'TOLLB2', 'TOLLB3', 'TOLLB4', 'TOLLB5', 'TOLLB6', 'TOLLB7',
       'TOLLB8', 'TOLLB9', 'TOLLB10', 'HOVL', 'NOGOWHY', 'NOGOWHY_O',
       'InComplete', 'Moto_trip', 'WCTFIP_persons', 'WTRACT_persons',
       'SCTFIP_persons', 'STRACT_persons', 'WPrimaryCity_persons',
       'WSTFIP_persons', 'W2PrimaryCity_persons', 'W2STFIP_persons',
       'SPrimaryCity_persons', 'SSTFIP_persons', 'PERWGT', 'EXPPERWGT',
       'WNAME_lookup', 'WCITY_lookup', 'WZIP_lookup', 'WXST1_lookup',
       'WXST2_lookup', 'WXCORD_lookup', 'WYCORD_lookup', 'WNAME2_lookup',
       'WCITY2_lookup', 'WZIP2_lookup', 'WXST2_1_lookup', 'WXST2_2_lookup',
       'SNAME_lookup', 'SCITY_lookup', 'SZIP_lookup', 'SXST1_lookup',
       'SXST2_lookup', 'SXCORD_lookup', 'SYCORD_lookup', 'WCTFIP_lookup',
       'WTRACT_lookup', 'WBLOCK', 'WPrimaryCity_lookup', 'WSTFIP_lookup',
       'W2PrimaryCity_lookup', 'W2STFIP_lookup', 'SCTFIP_lookup',
       'STRACT_lookup', 'SBLOCK', 'SPrimaryCity_lookup', 'SSTFIP_lookup',
       'HCITY', 'HZIP', 'HXCORD', 'HYCORD', 'HBLOCK', 'HTRACT', 'HCTFIP',
       'HPrimaryCity', 'parcel_id_home', 'parcel_id_work', 'zone_id_home',
       'zone_id_work', 'school_id'],
      dtype='object')

In [19]:
# students.HPrimaryCity
# schools.City

In [13]:
schoo

Index(['CDSCode', 'School', 'District', 'County', 'Street', 'City', 'Zip',
       'State', 'Latitude', 'Longitude', 'type', 'grade_0', 'grade_1',
       'grade_2', 'grade_3', 'grade_4', 'grade_5', 'grade_6', 'grade_7',
       'grade_8', 'grade_9', 'grade_10', 'grade_11', 'grade_12',
       'Kindergarten Enrollment', 'Grade 1 Enrollment', 'Grade 2 Enrollment',
       'Grade 3 Enrollment', 'Grade 4 Enrollment', 'Grade 5 Enrollment',
       'Grade 6 Enrollment', 'Grade 7 Enrollment', 'Grade 8 Enrollment',
       'Ungraded Elementary Enrollmnet', 'Grade 9 Enrollment',
       'Grade 10 Enrollment', 'Grade 11 Enrollment', 'Grade 12 Enrollment',
       'Ungraded Secondary Enrollment', 'Total Enrollment', 'sw_rank_2108',
       'sw_rank_2017', 'sw_rank_2016', 'ss_rank_2018_', 'ss_rank_2017',
       'ss_rank_2016', 'nodeID', 'parcel_id', 'school_id'],
      dtype='object')

In [21]:
a = students.loc[:,['SAMPN', 'PERNO', 'AGE', 'HPrimaryCity','school_id']].merge(schools.loc[:,['school_id','City','District']], how = 'inner', on = 'school_id')

In [33]:
students[students.SAMPN == 1342402].loc[:,['SNAME_lookup','school_id', 'HPrimaryCity']]

    SNAME_lookup  school_id HPrimaryCity
199    novato hs     1710.0   SAN RAFAEL

In [32]:
schools[schools.school_id == 1710]

,CDSCode,School,District,County,Street,City,Zip,State,Latitude,Longitude,...,Total Enrollment,sw_rank_2108,sw_rank_2017,sw_rank_2016,ss_rank_2018_,ss_rank_2017,ss_rank_2016,nodeID,parcel_id,school_id
710,21654172132272,Novato High,Novato Unified,Marin,625 Arthur Street,Novato,94947-4499,CA,38.090633,-122.57293,...,1378.0,8.0,8.0,10.0,NaN,6.0,10.0,2807230972,809605,1710