In [4]:
import pandas as pd
import numpy as np
import time
# import geopandas

In [5]:
store = pd.HDFStore('model_data.h5')
store.keys()

['/annual_household_relocation_rates',
 '/blocks',
 '/edges',
 '/edges_simple',
 '/households',
 '/jobs',
 '/nodes',
 '/nodes_simple',
 '/non_residential_units',
 '/nonres_rents',
 '/persons',
 '/places',
 '/region',
 '/residential_units',
 '/travel_data']

In [6]:
households = store['households']
households.index.name = 'household_id'
households_reset = households.reset_index()
households_reset.head()

,serialno,persons,cars,income,race_of_head,age_of_head,workers,children,tenure,recent_mover,block_id
b'household_id',,,,,,,,,,,
1,2.012001e+12,1,1,110000,1,53,1,0,1,0,170310101001003
2,2.012001e+12,1,1,100000,1,49,1,0,1,0,170310101001000
3,2.009000e+12,6,3,130000,2,37,2,4,1,0,170310101001000
4,2.012000e+12,2,1,129130,1,62,2,0,1,0,170310101001003
5,2.013001e+12,2,1,105000,1,32,2,0,2,0,170310101001003

In [57]:
persons = store["persons"]
persons.index.name = 'person_id'
persons_reset = persons.reset_index()
# persons_reset.head()

In [9]:
# res_units = store["residential_units"]
# res_units_reset = res_units.reset_index()
# res_units_reset.head()

In [10]:
# jobs = store["jobs"]
# jobs_reset = jobs.reset_index()
# jobs_reset.head()

#### Household Variables

In [11]:
def sort_incomes(df):
    HHINC_LESS20K = sum(df["income"] < 20000)
    HHINC_20TO35K = sum((df["income"] > 20000) & (df["income"] <= 35000))
    HHINC_35TO50K = sum((df["income"] > 35000) & (df["income"] <= 50000))
    HHINC_50TO75k = sum((df["income"] > 50000) & (df["income"] <= 75000))
    HHINC_75TO100K = sum((df["income"] > 75000) & (df["income"] <= 100000))
    HHINC_100TO150K = sum((df["income"] > 100000) & (df["income"] <= 150000))
    HHINC_OVER150K = sum(df["income"] >= 150000)
    return [HHINC_LESS20K, HHINC_20TO35K,HHINC_35TO50K,HHINC_50TO75k, HHINC_75TO100K,
           HHINC_100TO150K, HHINC_OVER150K]

In [12]:
def num_vehicles(df):
    NVEH_0 = sum(df["cars"] == 0)
    NVEH1 = sum(df["cars"] == 1)
    NVEH2 = sum(df["cars"] == 2)
    NVEH_3 = sum(df["cars"] >= 3)
    return [NVEH_0, NVEH1, NVEH2, NVEH_3]

In [13]:
def hh_size(df):
    HHSIZE_1 = sum(df["persons"] == 1)
    HHSIZE_2 = sum(df["persons"] == 2)
    HHSIZE_3 = sum(df["persons"] == 3)
    HHSIZE_4 = sum(df["persons"] == 4)
    HHSIZE_5 = sum(df["persons"] == 5)
    HHSIZE_6 = sum(df["persons"] == 6)
    HHSIZE_7 = sum(df["persons"] == 7)
    return [HHSIZE_1,HHSIZE_2,HHSIZE_3,HHSIZE_4,HHSIZE_5,HHSIZE_6,HHSIZE_7]

In [14]:
# def hh_unit_type(df):
#     HUTYPE_SF = 
#     HUTYPE_2TO9UNITS = 
#     HUTYPE_10_UNITS = 
#     HUTYPE_OTHER =

#### Build household variable dataframe

In [92]:
start = time.time()
df_lol = []
blk_id_list = []
for blk_id, blk_df in households_reset.head(100000).groupby("block_id"):
    blk_id_list.append(blk_id)
    row = []
#     display(blk_df) #create a list that is a row, populate that list and append it to a list set up before the 4 loop
    row.extend(sort_incomes(blk_df)) # returns list with counts of households in each income bin
    row.extend(hh_size(blk_df))
    row.extend(num_vehicles(blk_df))
    df_lol.append(row)

households_df = pd.DataFrame(df_lol, columns=["HHINC_LESS20K", "HHINC_20TO35K", "HHINC_35TO50K", 
        "HHINC_50TO75k", "HHINC_75TO100K", "HHINC_100TO150K", "HHINC_OVER150K", "HHSIZE_1", "HHSIZE_2",
        "HHSIZE_3", "HHSIZE_4", "HHSIZE_5", "HHSIZE_6", "HHSIZE_7",
        "NVEH_0", "NVEH1", "NVEH2", "NVEH_3"], index=blk_id_list)

end = time.time()

In [58]:
# elapsed = end- start
# print("time:", elapsed)
# households_df.head(30)

#### Person-level variables

In [64]:
def hhtype(df):
    owner = sum(df["tenure"] == 1) > 0 #tenure code 1 is owner, 2 is renter 
    spouse = sum(df["relate"] == 1) > 0 #if there is at least one person who is a husband or a wife
    HHT_OWN_MARRIED = sum(owner and spouse)
#     HHT_OWN_FAMILY_MALE
#     HHT_OWN_FAMILY_FEMALE
    HHT_OWN_NONFAMILY_SINGLE = sum((df["persons"] == 1) and (not spouse) & owner) # one person, no spouses, owner
    HHT_OWN_NONFAMILY_NOTALONE = sum((df["persons"] > 1) and (not spouse) & owner)# >one person, no spouses, owner
    HHT_RENT_MARRIED = sum(not owner and spouse)
#     HHT_RENT_FAMILY_MALE
#     HHT_RENT_FAMILY_FEMALE
    HHT_RENT_NONFAMILY_SINGLE  = sum(( not owner) and (df["persons"] == 1))# one person, at least one spouse, renter
    HHT_RENT_NONFAMILY_NOTALONE = sum(( not owner) and (df["persons"] > 1))# >one person, at least one spouse, renter
    return [HHT_OWN_MARRIED, HHT_RENT_MARRIED, HHT_OWN_NONFAMILY_NOTALONE, HHT_OWN_NONFAMILY_SINGLE, 
            HHT_RENT_NONFAMILY_SINGLE, HHT_RENT_NONFAMILY_NOTALONE]

In [30]:
def education(df):
    #ILF = in labor force, NILF = not in labor force. Determined by worker binary 0 = NILF, 1 = ILF
    #Employment status not determined at this time.
    EDUC_LESSHS_ILF = sum((df["edu"] <= 15) & (df["worker"] == 1))
    EDUC_LESSHS_NILF = sum((df["edu"] <= 15) & (df["worker"] == 0))
    
    #HS = high school diploma (16) or GED (17)
    EDUC_HS_ILF = sum(((df["edu"] == 16) | (df["edu"] == 17)) & (df["worker"] == 1))
    EDUC_HS_NILF = sum(((df["edu"] == 16) | (df["edu"] == 17)) & (df["worker"] == 0))
    
    #SOMECOLLEGE = less than 1 year of college, no degree (18) more than 1 yr, no degree (19)
    EDUC_SOMECOLLEGE_ILF = sum(((df["edu"] == 18) | (df["edu"] == 19)) & (df["worker"] == 1))
    EDUC_SOMECOLLEGE_NILF = sum(((df["edu"] == 18) | (df["edu"] == 19)) & (df["worker"] == 0))
    
    #COLLEGE = associates (20), bachelors (21), masters (22), professional (23), doctorate (24)
    EDUC_COLLEGE = sum(((df["edu"] >= 20) & (df["edu"] <= 24)) & (df["worker"] == 1))
    EDUC_COLLEGE_NILF  = sum(((df["edu"] >= 20) & (df["edu"] <= 24)) & (df["worker"] == 0))
    
    EDUC_UNDER25 = sum(df["age"] < 25)
    EDUC_65PLUS = sum(df["age"] >=65)
    return [EDUC_LESSHS_ILF, EDUC_LESSHS_NILF, EDUC_HS_ILF, EDUC_HS_NILF, EDUC_SOMECOLLEGE_ILF, EDUC_SOMECOLLEGE_NILF, 
    EDUC_COLLEGE, EDUC_COLLEGE_NILF, EDUC_UNDER25, EDUC_65PLUS]

In [31]:
def gender(df):
    SEX_MALE = len(df[df["sex"] == 1])
    SEX_FEMALE = len(df[df["sex"] == 2])
    return [SEX_MALE, SEX_FEMALE]

In [32]:
def age(df):
    AGE_under15 = sum(df["age"] < 15)  
    AGE_15to24 = sum((df["age"] <= 24) & (df["age"] > 15))
    AGE_25to34 = sum((df["age"] <= 34) & (df["age"] > 25))
    AGE_35to44 = sum(df["age"] <= 44 & (df["age"] > 35))
    AGE_45to54 = sum(df["age"] <= 54 & (df["age"] > 45))
    AGE_55to64 = sum(df["age"] <= 64 & (df["age"] > 55))
    AGE_65plus = sum(df["age"] >=65)
    return [AGE_under15, AGE_15to24, AGE_25to34, AGE_35to44, AGE_45to54, AGE_55to64, AGE_65plus]

In [33]:
#create a combined table of households and people to perform these calcs. Merging on household id, resulting table
#has the same number of rows as the persons table
persons_and_households = pd.merge(persons_reset, households_reset, how="inner", left_on="household_id", right_on="household_id")
persons_and_households.head()

,person_id,age,earning,edu,hours,household_id,member_id,race_id,relate,sex,...,persons,cars,income,race_of_head,age_of_head,workers,children,tenure,recent_mover,block_id
0,1,61,28000,21,40,169,1,1,0,2,...,1,1,28000,1,61,1,0,1,0,170310101001000
1,2,61,0,13,0,101,1,1,0,2,...,1,0,8270,1,61,0,0,2,0,170310101001003
2,3,63,0,22,0,125,1,1,0,2,...,1,1,7800,1,63,0,0,2,0,170310101001000
3,4,63,0,22,0,126,1,1,0,2,...,1,1,7800,1,63,0,0,2,0,170310101001003
4,5,63,0,22,0,127,1,1,0,2,...,1,1,7800,1,63,0,0,2,0,170310101001000

In [34]:
def race(df):
    RACE_WHITE = len(df[df["race_id"] == 1])
    RACE_BLACK = len(df[df["race_id"] == 2])
    RACE_INDIAN = len(df[df["race_id"] == 3])
    RACE_ASIAN = len(df[df["race_id"] == 6])
    RACE_OTHER = len(df[df["race_id"] == 8])
#     RACE_HISPANIC = len(df["race_id"] == ) I dont think there is information in the UrbanSim data about hispanic origin
    return [RACE_WHITE, RACE_BLACK, RACE_INDIAN, RACE_ASIAN, RACE_OTHER]

In [65]:
start = time.time()
df_lol_persons = []
blk_id_list_persons = []
for blk_id_p, blk_df_p in persons_and_households.head(50).groupby("block_id"):
    display(blk_df_p)
    blk_id_list_persons.append(blk_id_p)
    row = []
    row.extend(gender(blk_df_p))
    row.extend(race(blk_df_p))
    row.extend(age(blk_df_p))  
    row.extend(education(blk_df_p))
    row.extend(hhtype(blk_df_p))
    df_lol_persons.append(row)
    
persons_df = pd.DataFrame(df_lol_persons, columns=["AGE_under15", "AGE_15to24", "AGE_25to34", "AGE_35to44",
    "AGE_45to54","AGE_55to64","AGE_65plus", "SEX_MALE", "SEX_FEMALE", "RACE_WHITE",
             "RACE_BLACK", "RACE_INDIAN", "RACE_ASIAN", "RACE_OTHER", "EDUC_LESSHS_ILF", "EDUC_LESSHS_NILF",
    "EDUC_HS_ILF", "EDUC_HS_NILF", "EDUC_SOMECOLLEGE_ILF", "EDUC_SOMECOLLEGE_NILF", "EDUC_COLLEGE", "EDUC_COLLEGE_NILF",
    "EDUC_UNDER25", "EDUC_65PLUS", "HHT_OWN_MARRIED, HHT_RENT_MARRIED", "HHT_OWN_NONFAMILY_NOTALONE", 
                "HHT_OWN_NONFAMILY_SINGLE", "HHT_RENT_NONFAMILY_SINGLE", "HHT_RENT_NONFAMILY_NOTALONE"], index=blk_id_list_persons)
end = time.time()

,person_id,age,earning,edu,hours,household_id,member_id,race_id,relate,sex,...,persons,cars,income,race_of_head,age_of_head,workers,children,tenure,recent_mover,block_id
0,1,61,28000,21,40,169,1,1,0,2,...,1,1,28000,1,61,1,0,1,0,170310101001000
2,3,63,0,22,0,125,1,1,0,2,...,1,1,7800,1,63,0,0,2,0,170310101001000
4,5,63,0,22,0,127,1,1,0,2,...,1,1,7800,1,63,0,0,2,0,170310101001000
9,10,61,10800,18,20,165,1,1,0,2,...,1,1,10800,1,61,1,0,1,0,170310101001000
15,16,62,0,19,0,109,1,1,0,2,...,1,0,14160,1,62,0,0,2,1,170310101001000
17,18,63,14000,21,40,170,1,1,0,2,...,1,1,14000,1,63,1,0,1,0,170310101001000
28,29,63,0,16,0,124,1,2,0,1,...,1,1,19000,2,63,0,0,2,0,170310101001000
29,30,61,0,16,0,107,1,2,0,1,...,1,0,2400,2,61,0,0,2,1,170310101001000
30,31,63,9500,21,37,168,1,1,0,1,...,1,1,24520,1,63,1,0,1,0,170310101001000
32,33,61,135000,22,45,7,1,1,0,1,...,2,2,146800,1,61,2,0,1,0,170310101001000
33,35,61,200,21,20,7,2,7,13,1,...,2,2,146800,1,61,2,0,1,0,170310101001000
37,38,55,40000,24,40,31,1,1,0,1,...,1,1,45000,1,55,1,0,2,0,170310101001000
42,43,47,30000,22,20,19,1,1,0,1,...,1,1,34000,1,47,1,0,1,0,170310101001000
44,45,50,18600,21,28,204,1,1,0,1,...,1,2,18600,1,50,1,0,2,0,170310101001000

TypeError: 'bool' object is not iterable

In [36]:
persons_df.head(30)

,AGE_under15,AGE_15to24,AGE_25to34,AGE_35to44,AGE_45to54,AGE_55to64,AGE_65plus,SEX_MALE,SEX_FEMALE,RACE_WHITE,...,EDUC_LESSHS_ILF,EDUC_LESSHS_NILF,EDUC_HS_ILF,EDUC_HS_NILF,EDUC_SOMECOLLEGE_ILF,EDUC_SOMECOLLEGE_NILF,EDUC_COLLEGE,EDUC_COLLEGE_NILF,EDUC_UNDER25,EDUC_65PLUS
170310101001000,46,50,54,32,0,5,0,7,9,17,...,5,9,6,6,14,5,42,9,17,0
170310101001001,18,27,19,18,0,2,0,6,7,11,...,0,10,2,5,5,4,18,1,14,0
170310101001002,16,18,18,15,0,0,0,3,4,9,...,3,3,0,2,6,2,14,4,7,0
170310101001003,116,122,94,131,1,4,1,23,27,67,...,10,33,20,19,35,14,91,16,52,0
170310101002000,1,1,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,2
170310101002001,0,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
170310101002002,0,2,2,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,2
170310101002005,1,2,3,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,0,0,1
170310101002006,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
170310101002008,1,1,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
170310101002010,0,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
170310101002011,1,2,3,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,0,0,2
170310101002013,0,3,3,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,2
170310311003005,0,4,0,0,0,4,0,1,2,0,...,0,2,0,0,2,0,0,0,3,0
170310817001012,0,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
170310902005014,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
170311003001024,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
170312410002013,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
170312414004006,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
170312506002007,0,1,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
170312513005016,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
170312515003009,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
170313017013002,0,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
170313201001005,3,1,4,0,0,0,0,2,0,0,...,0,2,0,0,2,0,0,0,2,0
170314302001005,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
170314313021004,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
170316006001018,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
170316813003013,2,2,0,4,0,0,0,0,1,0,...,0,1,0,1,1,0,1,0,2,0
170317402001015,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
170317402002009,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

#### Employment

In [22]:
def jobs_naics(df):
    AGRICULTURE = df[df["sector_id"] == 11]
    MINING = df[df["sector_id"] == 21]
    UTILITIES = df[df["sector_id"] == 22]
    CONSTRUCTION = df[df["sector_id"] == 23]
    MANUFACTURING = df[df["sector_id"] >= 31 & df["sector_id"] <= 33]
    WHOLESALE = df[df["sector_id"] == 42]
    RETAIL = df[df["sector_id"] == 44 or df["sector_id"] == 45]
    TRANSPORTATION = df[df["sector_id"] == 48 or df["sector_id"] == 49]
    INFORMATION = df[df["sector_id"] == 51]
    FINANCE = df[df["sector_id"] == 52]
    REALESTATE = df[df["sector_id"] == 53]
    PROFESSIONAL = df[df["sector_id"] == 54]
    EDUCATION = df[df["sector_id"] == 61]
    MEDICAL_SOCIALWORK = df[df["sector_id"] == 62]
    ENTERTAINMENT = df[df["sector_id"] == 71]
    SERVICES = df[df["sector_id"] == 81]
    ADMINISTRATION = df[df["sector_id"] == 92]
    return [AGRICULTURE, MINING, UTILITIES, CONSTRUCTION, MANUFACTURING, WHOLESALE, RETAIL, TRANSPORTATION,
        INFORMATION, FINANCE, REALESTATE, PROFESSIONAL, EDUCATION, MEDICAL_SOCIALWORK, ENTERTAINMENT, SERVICE, ADMINISTRATION]
#     MILITARY = df[df["sector_id"] == ]
#     UNEMPLOYED = df[df["sector_id"] == ]

In [19]:
df_lol_jobs = []
blk_ids_jobs = []
for blk_id_j, df in jobs_reset.groupby("block_id"):
    blk_ids_jobs.append(blk_id_j)
    display(df)
    row = []
    row.extend(gender(blk_df_p))
    persons_df = pd.DataFrame(df_lol_persons, columns=["SEX_MALE",

          job_id         block_id  sector_id   nru_id
46            47  170310101002005         52  2307602
47            48  170310101002005         62  2307609
48            49  170310101002005         62  7052584
49            50  170310101002005         62  7052595
50            51  170310101002005         62  2307603
51            52  170310101002005         62  7052583
52            53  170310101002005         62  7052591
53            54  170310101002005         62  4680096
54            55  170310101002005         62  7052582
55            56  170310101002005         62  2307608
56            57  170310101002005         62  2307600
57            58  170310101002005         62  7052593
58            59  170310101002005         62  2307610
59            60  170310101002005         62  4680090
60            61  170310101002005         62  7052586
460          461  170310101002005         51  4680095
506          507  170310101002005       3133  4680097
1248        1249  170310101002005         62  2307595
9019        9020  170310101002005         61  7052585
9027        9028  170310101002005         61  4680105
9391        9392  170310101002005         62  7052588
9469        9470  170310101002005         62  4680100
9485        9486  170310101002005         62  2307607
9550        9551  170310101002005         62  4680102
9575        9576  170310101002005         62  7052592
9583        9584  170310101002005         62  2307599
9593        9594  170310101002005         62  7052589
9598        9599  170310101002005         62  2307604
9716        9717  170310101002005         62  2307611
9725        9726  170310101002005         62  2307597
9846        9847  170310101002005         62  7052596
9904        9905  170310101002005         62  7052598
9944        9945  170310101002005         62  7052599
9951        9952  170310101002005         62  2307606
10017      10018  170310101002005         62  7052597
10222      10223  170310101002005         62  4680103
10296      10297  170310101002005         62  2307594
10488      10489  170310101002005         62  4680092
1355678  1355679  170310101002005         62  4680094
1355937  1355938  170310101002005         62  2307596
1356022  1356023  170310101002005         62  4680099
1356060  1356061  170310101002005         62  2307598
1356161  1356162  170310101002005         62  4680098
1356181  1356182  170310101002005         62  4680104
1356251  1356252  170310101002005         62  7052590
1356287  1356288  170310101002005         62  7052594
1356357  1356358  170310101002005         62  4680093
1356389  1356390  170310101002005         62  7052587
1356407  1356408  170310101002005         62  2307601
1356619  1356620  170310101002005         62  4680091
1356805  1356806  170310101002005         62  2307605
1356848  1356849  170310101002005         62  4680088
1356894  1356895  170310101002005         62  4680089
1356980  1356981  170310101002005         54  4680101

In [151]:
persons_df.head(50)

,SEX_MALE,SEX_FEMALE,RACE_WHITE,RACE_BLACK,RACE_INDIAN,RACE_ASIAN,RACE_OTHER,AGE_under15,AGE_over40
170310101001000,46,50,54,32,0,5,0,96,96
170310101001001,18,27,19,18,0,2,0,45,45
170310101001002,16,18,18,15,0,0,0,34,34
170310101001003,116,122,94,131,1,4,1,238,238
170310101002000,1,1,2,0,0,0,0,2,2
170310101002001,0,1,1,0,0,0,0,1,1
170310101002002,0,2,2,0,0,0,0,2,2
170310101002005,1,2,3,0,0,0,0,3,3
170310101002006,0,1,1,0,0,0,0,1,1
170310101002008,1,1,2,0,0,0,0,2,2
170310101002010,0,1,1,0,0,0,0,1,1
170310101002011,1,2,3,0,0,0,0,3,3
170310101002013,0,3,3,0,0,0,0,3,3
170310311003005,0,4,0,0,0,4,0,4,4
170310817001012,0,1,1,0,0,0,0,1,1
170310902005014,0,1,0,0,0,0,0,1,1
170311003001024,1,0,0,0,0,0,0,1,1
170312410002013,0,1,0,1,0,0,0,1,1
170312414004006,1,0,0,0,0,0,1,1,1
170312506002007,0,1,0,1,0,0,0,1,1
170312513005016,0,1,0,1,0,0,0,1,1
170312515003009,0,1,0,1,0,0,0,1,1
170313017013002,0,1,0,1,0,0,0,1,1
170313201001005,3,1,4,0,0,0,0,4,4
170314302001005,1,0,0,1,0,0,0,1,1
170314313021004,0,1,0,1,0,0,0,1,1
170316006001018,1,0,0,1,0,0,0,1,1
170316813003013,2,2,0,4,0,0,0,4,4
170317402001015,0,1,1,0,0,0,0,1,1
170317402002009,0,1,1,0,0,0,0,1,1
170317705001048,0,1,1,0,0,0,0,1,1
170317706022006,1,0,0,1,0,0,0,1,1
170318010003011,0,1,0,1,0,0,0,1,1
170318059013022,0,1,0,1,0,0,0,1,1
170318068023013,0,1,0,1,0,0,0,1,1
170318111005002,0,1,0,1,0,0,0,1,1
170318112004019,1,0,0,1,0,0,0,1,1
170318182003004,1,3,0,4,0,0,0,4,4
170318202012009,1,0,0,1,0,0,0,1,1
170318206051018,0,1,0,1,0,0,0,1,1
170318210025001,1,0,0,1,0,0,0,1,1
170318221013013,0,1,0,1,0,0,0,1,1
170318237042010,3,1,0,4,0,0,0,4,4
170318237042015,0,1,1,0,0,0,0,1,1
170318241081004,0,1,1,0,0,0,0,1,1
170318248002012,0,1,0,1,0,0,0,1,1
170318285031026,0,1,0,1,0,0,0,1,1
170318286022010,0,1,0,1,0,0,0,1,1
170318294023010,0,1,1,0,0,0,0,1,1
170318298003019,1,0,0,1,0,0,0,1,1

#### Land Use

In [109]:
# LUcodes = pd.read_csv('land_use_codes_csv.csv')
#get counties included in dataset to know which census shapefiles to download
counties = households_reset["block_id"].apply(lambda c: c[2:5]).unique()
counties

array(['031', '197', '089', '097', '111', '043', '063', '093'],
      dtype=object)